{% extends "layout.html" %}
{% set signedIn = 'false' %}

{% block pageTitle %}
  Assumptions we've made for funding eligibility
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Assumptions we've made for funding eligibility</h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>You have not previously received funding for your chosen course </li>
        <li>You have not already started the course</li>
        <li>You want to start the course before XX </li>
      </ul>
      <form class="form" action="route-course" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>
      
    </div>
    
  </div>
{% endblock %}