{% extends "layout.html" %}

{% if (data['referrer'] == "reg") %}
  {% set signedIn = 'true' %}
{% else %}
  {% set signedIn = 'false' %}
{% endif %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {% if (data['referrer'] == "newprovider") %}
    {% include './includes/answers/change-provider.html' %}
  
    {{ govukButton({
      text: "Submit change",
      href: "submit"
    }) }}

  {% else %}
    {% if (data['referrer'] == "reg") %}
      <h1 class="govuk-heading-xl">Check your answers</h1>
      {% else %}
      <h1 class="govuk-heading-xl">Check your answers and eligibility outcome  </h1>
    {% endif %}
    <!-- Opted to self-fund -->
    <!-- not funded -->
    {% if data['selffund'] == "self-fund" %}
      {% include './includes/answers/self-fund.html' %}
    
    <!-- NOT England -->
    <!-- not funded for any -->
    {% elseif data['wheredoyouwork'] == "No" %}
      {% include './includes/answers/not-eng.html' %}

    <!-- RTTA -->
    {% elseif (data['rtta'] == "Yes") %}
      {% include './includes/answers/rtta.html' %}

    <!-- Private or Other -->
    {% elseif (data['whichsetting'] == "Other") %}
      {% include './includes/answers/other.html' %}

    {% elseif (data['whichsetting'] == "Privately run setting") %}
      {% include './includes/answers/private.html' %}

    {% else %}
      {% include './includes/answers/school-funded.html' %}
    {% endif %}

    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {% if (data['referrer'] == "reg") %}
          {{ govukButton({
            text: "Submit registration",
            href: "confirmation?referrer=Submitted"
          }) }}

        {% else %}
          <h2>How to register</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>check your answers</li>
            <li>when you are ready, continue to register</li>
            <li>you’ll be prompted to sign in or create a GOV One Login account </li>
            <li>you need to verify your ID through GOV One Login. In most cases you'll need a passport or driving license and a mobile phone. In some cases you will need to verify your ID in person.</li>
          </ul>

          {{ govukButton({
            text: "Continue to register",
            href: "one-login",
            isStartButton: true
          }) }}

          {% if data['selffund'] != "self-fund" %}
            {{ govukWarningText({
              text: "If you do not complete your registration in this session, you will need to complete the eligibility check again.",
              iconFallbackText: "Warning"
            }) }}
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endblock %}
