{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set signedIn = 'false' %}

{% block pageTitle %}
  Select a course
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['choosette'] == "Embedding inclusive practice for leaders" %}
        <h1 class="govuk-heading-xl">You are checking funding eligibility for the {{ data['choosette'] }} NPQ advanced course</h1>
      {% else %}
        <h1 class="govuk-heading-xl">You are checking funding eligibility for the {{ data['choosette'] }} {{ data['tte-programme-name-acronym'] }} course</h1>
      {% endif %}
      <form class="form" action="where-do-you-work" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>
      <p>If you want to check for a different course, you can <a href="choose-course">change your course</a>.</p>
    </div>
  </div>
{% endblock %}