{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  We have the data from your eligibility check
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Complete your course registration </h1>
      <p>We have your funding eligibility result. </p>
      <p>We will ask some additional questions to complete and submit your registration. </p>
      <form class="form" action="course-start" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>
      
    </div>
    
  </div>
{% endblock %}