
{% extends "layout.html" %}

{% block pageTitle %}
  Joined up guidance and pre-login eligibility check prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Joined up guidance and pre-login eligibility check prototype
      </h1>

      {{ govukButton({
        text: "Start from guidance",
        href: "gov-uk-guidance/find-professional-development"
      }) }}
      
      {{ govukButton({
        text: "View registration service",
        href: "start-page"
      }) }}
    
    </div>
  </div>

{% endblock %}
