
{% extends "layout.html" %}

{% block pageTitle %}
  Register for a {{ data['tte-combined-name'] }} course
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <span class="govuk-heading-l">{{ data['tte-combined-name'] }}</span>
          Check funding eligibility to register for a professional development course 
        </h1>

        <h2 class="govuk-heading-m">To register for a course, you first need to: </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>check your eligibility for funding or tell us you will self-fund </li>
        </ul>
        <p>After we have checked your eligibility, you can continue to register. We will use your eligibility result as part of your registration. </p>

        <h2 class="govuk-heading-m">To complete your registration, you will need to: </h2>
        <ol class="govuk-list govuk-list--number">
          <li>log in using Gov One Login – you can create an account if you do not already have one. </li>
          <ul class="govuk-list govuk-list--bullet">
            <li>you may need your passport to prove your identity </li>
            <li>you’ll need a mobile to receive a verification code </li>
          </ul>
          <li>answer some questions to complete your registration </li>
          <ul class="govuk-list govuk-list--bullet">
            <li>choose your course start date – courses usually start in either October or January but not all providers will offer all dates </li>
            <li>choose a training provider </li>
          </ul>
          <li>submit your registration </li>
        </ol>

        <p>By continuing, you agree to our <a href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers">privacy notice</a>.</p>

        {{ govukButton({
          text: "Check eligibility",
          href: "route-course",
          isStartButton: true
        }) }}

        <form class="form" action="choose-course" method="post">
          <input type="hidden" name="selffund" value="self-fund">
          
          {{ govukButton({
            text: "I want to register as self-funded",
            classes: "button-as-link govuk-link govuk-!-margin-top-2"
          }) }}
        </form>

        <h2 class="govuk-heading-l">Already registered?</h2>
        <p>Log in to:</p>   
        <ul class="govuk-list govuk-list--bullet">
          <li>see the status of your registration</li>
          <li>change your training provider</li>
          <li>get your certificate when you have completed the course</li>
        </ul>     

        {{ govukButton({
          text: "Log in",
          href: "one-login/one-login-start?referrer=successful",
          classes: "govuk-button--secondary"
        }) }}

        <details class="govuk-details govuk-!-margin-top-8" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-8">
            <span class="govuk-details__summary-text">
              Log back in journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
              <li><a href="one-login/one-login-start?referrer=change-provider">Change provider </a></li>
              <li><a href="one-login/one-login-start?referrer=successful">Successful application</a></li>
              <li><a href="one-login/one-login-start?referrer=unsuccessful">Unsuccessful application</a></li>
              <li><a href="one-login/one-login-start?referrer=deferred">Deferred </a></li>
              <li><a href="one-login/one-login-start?referrer=withdrawn">Withdrawn</a></li>
              <li><a href="one-login/one-login-start?referrer=certificate">Certificate </a></li>
            </ul>
          </div>
        </details>
        
      </div>
    </div>
    
{% endblock %}