
{% extends "layout.html" %}

{% block pageTitle %}
  Register for a {{ data['tte-combined-name'] }} course
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <span class="govuk-heading-l">{{ data['tte-combined-name'] }}</span>
          Check funding eligibility and register for a course
        </h1>

        <p>Use this service to:</p>
  
        <ul class="govuk-list govuk-list--bullet">
          <li>check eligibility for DfE funding, or tell us how you will self-fund</li>
          <li>register with DfE for an NPQ advanced or NPD course </li>
          <li>get a unique link to your chosen training provider's application form</li>
        </ul>

        <p>By continuing, you agree to our <a href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers">privacy notice</a>.</p>

        {{ govukButton({
          text: "Check eligibility",
          href: "assumptions",
          isStartButton: true
        }) }}

        <form class="form" action="choose-course" method="post">
          <input type="hidden" name="selffund" value="self-fund">
          
          {{ govukButton({
            text: "I know I am not eligible and want to register as self-funded",
            classes: "button-as-link govuk-link govuk-!-margin-top-2"
          }) }}
        </form>

        <h2 class="govuk-heading-l">How to register</h2>

        <h3>1. Choose a course</h3>
        <p>You can register for: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="../gov-uk-guidance/SEND-leaders.html">{{ data['send-leader-course-name'] }} NPQA</a></li>
          <li><a href="../gov-uk-guidance/SEND-teachers.html">{{ data['send-course-name'] }} NPD</a></li>
          <li><a href="../gov-uk-guidance/reception.html">{{ data['reception-course-name'] }} NPD</a></li>
        </ul>

        <h3>2. Choose a start date</h3>
        <p>The courses usually start in October and February each year. Some providers do not deliver every start date.  </p>

        <h3>3. Choose a training provider</h3>
        <p>All providers have been selected by the DfE. All providers deliver the same course content, however there may be differences in how they choose to deliver the course.</p>
        <p>Go to an individual course page to see the relevant training providers. </p>

        <h3>4. Register with DfE</h3>
        <p>To register with DfE you will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an ID verified GOV One Login account (you will need a passport or driving license and mobile phone to do this)</li>
          <li>to connect your One Login account to your teaching record (you will need your National Insurance number and Teaching Record Number) </li>
        </ul>
        <p>You will be prompted to do these during the registration process. </p>
        
        <p>When you register with the DfE, we will:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>confirm your eligibility for funding</li>
          <li>notify your chosen training provider </li>
          <li>email you a unique link to complete your training provider's application </li>
        </ul>
        <p>If your training provider is unable to offer a funded place, you can come back and use this service to register with a different provider.</p>
          
        <h2 class="govuk-heading-l">Already registered?</h2>
        <p>Log in to:</p>   
        <ul class="govuk-list govuk-list--bullet">
          <li>see the status of your registration</li>
          <li>change your training provider</li>
          <li>get your certificate when you have completed the course</li>
        </ul>     

        {{ govukButton({
          text: "Log in",
          href: "one-login/one-login-start?referrer=successful",
          classes: "govuk-button--secondary"
        }) }}

        <details class="govuk-details govuk-!-margin-top-8" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-8">
            <span class="govuk-details__summary-text">
              Log back in journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
              <li><a href="one-login/one-login-start?referrer=change-provider">Change provider </a></li>
              <li><a href="one-login/one-login-start?referrer=successful">Successful application</a></li>
              <li><a href="one-login/one-login-start?referrer=unsuccessful">Unsuccessful application</a></li>
              <li><a href="one-login/one-login-start?referrer=deferred">Deferred </a></li>
              <li><a href="one-login/one-login-start?referrer=withdrawn">Withdrawn</a></li>
              <li><a href="one-login/one-login-start?referrer=certificate">Certificate </a></li>
            </ul>
          </div>
        </details>
        
      </div>
    </div>
    
{% endblock %}