{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Year of experience
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="sharing-data" method="post">
        {{ govukInput({
            label: {
              text: "How many years have you been working in the education profession?",
              classes: "govuk-label--xl",
              isPageHeading: true
            },
            hint: {
              text: "Include your Newly Qualified Teacher (NQT) or Early Career Teacher (ECT) years, if applicable. If you have taken a career break, please exclude this."
            },
            id: "yearsexperience",
            name: "yearsexperience",
            inputmode: "numeric",
            spellcheck: false
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
