{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Year of experience
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="check-answers?referrer=reg" method="post">
        {{ govukInput({
            label: {
              text: "How many years have you worked in the education profession?",
              classes: "govuk-label--xl",
              isPageHeading: true
            },
            hint: {
              html: "<p>Include any years as a Newly Qualified Teacher (NQT) or Early Career Teacher (ECT). Do not include time spent on a career break. </p><p>Enter a whole number, for example, if you have worked in education for 6 years and 3 months, enter 6.</p>"
            },
            id: "yearsexperience",
            name: "yearsexperience",
            inputmode: "numeric",
            spellcheck: false,
            classes: "govuk-input--width-5",
            suffix: {
              text: "years"
            }
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
