
{% extends "layout-provider.html" %}

{% set loggedIn = true %}

{% block pageTitle %}
  Cedar trust - Log in or create your account 
{% endblock %}

{% block content %}

    <div class="govuk-grid-row provider">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your commitment</h1>
        

        {{ govukButton({
          text: "Log in",
          href: "summary-page",
          isStartButton: true
        }) }}
        
      </div>
    </div>
    
{% endblock %}