
{% extends "layout-provider.html" %}

{% set loggedIn = 'false' %}

{% block pageTitle %}
  Cedar trust - Register for a {{ data['tte-programme-name-with-acronym'] }} course
{% endblock %}

{% block content %}

    <div class="govuk-grid-row provider">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ data['send-leader-course-name'] }} – National professional development (NPD) course</h1>

        <hr>

        <h2 class="govuk-heading-l">Course summary</h2>
        <h3 class="govuk-heading-m">Empower your leadership to create inclusive, high‑quality special educational needs and disabilities (SEND) provisions  </h3>
        <p class="govuk-body">The <i>SEND and Inclusion for Leaders NPD course</i> is designed to support senior leaders, and aspiring leaders, to strengthen whole‑school approaches to SEND and inclusion. </p>
        <p class="govuk-body">Through expert‑led training, practical tools, and collaborative learning, this course helps leaders develop the confidence and knowledge to drive sustainable improvement for pupils with SEND. </p>

        <div class="provider-highlights">
          <div class="provider-highlight">
            <img src="/public/images/time.png" alt="A clock showing time.">
            <p class="govuk-body"><strong>15 hours of content</strong></p>
          </div>
          <div class="provider-highlight">
            <img src="/public/images/live-training.png" alt="Person presenting training on a computer.">
            <p class="govuk-body"><strong>4 hours of live training</strong></p>
          </div>
          <div class="provider-highlight">
            <img src="/public/images/in-person.png" alt="participant">
            <p class="govuk-body"><strong>Optional in-person sessions across the country</strong></p>
          </div>
          <div class="provider-highlight">
            <img src="/public/images/flexible.png" alt="participant">
            <p class="govuk-body"><strong>Totally flexible study hours</strong></p>
          </div>
        </div>

        <h2 class="govuk-heading-l">Who is this course for?</h2>
        <p class="govuk-body">This course is for: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Headteachers and senior education leaders </li>
          <li>Deputy and assistant headteachers </li>
          <li>Inclusion leads and SEND strategic leaders </li>
          <li>Trust and local authority leaders with responsibility for SEND </li>
        </ul>
        <p class="govuk-body">Whether you are new to a leadership role or seeking to refine your existing SEND strategy, the course provides practical, transferable learning you can apply immediately. </p>

        <h2 class="govuk-heading-l">What will I learn? </h2>
        <p class="govuk-body">Participants will develop: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>A deeper understanding of <strong>inclusive leadership and SEND systems</strong> relevant to the modern-day classroom </li>
          <li>The skills to <strong>lead high‑quality SEND provision</strong> across your education settings </li>
          <li>Confidence in <strong>strategic planning and evaluation for SEND</strong> </li>
          <li>Stronger approaches to <strong>working with families, professionals and external agencies</strong> </li>
          <li>Strategies to support <strong>staff development, wellbeing and accountability</strong> in your education setting </li>
        </ul>

        <h2 class="govuk-heading-l">Course content overview </h2>
        <p class="govuk-body">The course content is based on current policy, research and real‑world leadership practice. </p>
        <p class="govuk-body">Key themes include: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>The national SEND landscape and inclusive leadership </li>
          <li>Creating a clear vision and strategy for SEND </li>
          <li>Effective use of reasonable adjustments </li>
          <li>Supporting staff to deliver inclusive teaching and learning </li>
          <li>Monitoring impact and improving outcomes for pupils with SEND </li>
          <li>Building inclusive cultures within schools and trusts </li>
        </ul>

        <h2 class="govuk-heading-l">How is the course delivered? </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><strong>Fully funded places supported by the Department for Education (DfE)</strong></li>
          <li>Delivered through a blend of <strong>online sessions and self-study over 12 weeks (minimum 4 hours of live, interactive sessions)</strong>. Commitment is one hour of study each week </li>
          <li>Facilitated by <strong>experienced SEND and inclusion experts</strong></li>
          <li>Includes opportunities for <strong>peer collaboration and shared knowledge</strong></li>
        </ul>
        <p class="govuk-body">Flexible, online and self-study is designed to fit alongside leadership responsibilities. </p>

        <h2 class="govuk-heading-l">Benefits of completing this NPD course </h2>
        <p class="govuk-body">By completing this course, leaders will: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Strengthen their impact on <strong>pupil outcomes and inclusion</strong></li>
          <li><strong>Build confidence</strong> in leading complex SEND priorities </li>
          <li>Develop a <strong>consistent, whole‑setting approach</strong> to inclusion </li>
          <li>Gain <strong>recognised professional development</strong> through the NPD programme </li>
        </ul>

        <h2 class="govuk-heading-l">Course details </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><strong>Course title:</strong> SEND and Inclusion for Leaders – National Professional Development (NPD) course </strong></li>
          <li><strong>Duration:</strong> Delivered over 12 weeks with one hours of online learning each week </li>
          <li><strong>Cost:</strong> Fully funded (subject to eligibility) </li>
          <li><strong>Certification:</strong> National Professional Development recognition from DfE </li>
        </ul>

        <h2 class="govuk-heading-l">Check eligibility for funding and register now </h2>
        <p class="govuk-body">To apply for this course, you need to register with DfE first. </p>
        <p class="govuk-body">DfE will check and confirm whether you can receive funding. They will then send you a link to complete our additional application questions. We will contact you to confirm your place. </p>

        {{ govukButton({
          text: "Check funding eligibility and register with DfE ",
          href: "../cedar-leader",
          isStartButton: true
        }) }}

      </div>
    </div>
    
{% endblock %}