
{% extends "layout-provider.html" %}

{% set loggedIn = 'false' %}

{% block pageTitle %}
  Cedar trust - Register for a {{ data['tte-programme-name-with-acronym'] }} course
{% endblock %}

{% block content %}

    <div class="govuk-grid-row provider">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ data['send-course-name'] }} – National professional development (NPD) course</h1>

        <hr>

        <h2 class="govuk-heading-l">Course summary</h2>
        <h3 class="govuk-heading-m">Empowering Teachers to Support Every Learner </h3>
        <p class="govuk-body">Children are at a crucial stage in their development, and high-quality support can make all the difference- especially for those with special educational needs and disabilities (SEND). Our SEND and inclusion for teachers – National Professional Development (NPD) course, in partnership with Department for Education, uses the latest research to provide teachers and early years practitioners with up-to-date knowledge, confidence, and practical tools to create inclusive, nurturing, and high-impact learning environments. </p>

        <div class="provider-highlights">
          <div class="provider-highlight">
            <img src="/public/images/time.png" alt="A clock showing time.">
            <p class="govuk-body"><strong>15 hours of content</strong></p>
          </div>
          <div class="provider-highlight">
            <img src="/public/images/live-training.png" alt="Person presenting training on a computer.">
            <p class="govuk-body"><strong>4 hours of live training</strong></p>
          </div>
          <div class="provider-highlight">
            <img src="/public/images/in-person.png" alt="participant">
            <p class="govuk-body"><strong>Optional in-person sessions across the country</strong></p>
          </div>
          <div class="provider-highlight">
            <img src="/public/images/flexible.png" alt="participant">
            <p class="govuk-body"><strong>Totally flexible study hours</strong></p>
          </div>
        </div>

        <h2 class="govuk-heading-l">Who this course is for</h2>
        <p class="govuk-body">This course is designed for: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>teachers who have completed their induction </li>
          <li>experienced teachers who want to learn the latest methodologies</li>
        </ul>
        <p class="govuk-body">Whether you are newly qualified or have been teaching for many years, this course provides a strong foundation in evidence‑based practice. </p>
        <h4 class="govuk-heading-s">Early assessment </h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Recognising developmental needs </li>
          <li>Using observation and screening tools effectively</li>
          <li>Working with parents and external professionals </li>
        </ul>
        <h4 class="govuk-heading-s">How to create inclusive classroom environments </h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Adapting teaching strategies </li>
          <li>Sensory-friendly classroom design</li>
          <li>Supporting communication, emotional regulation, and behaviours</li>
        </ul>
        <h4 class="govuk-heading-s">High‑quality teaching for SEND learners </h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Structuring routines and transitions </li>
          <li>Strengthening language, literacy, and early maths foundations  </li>
        </ul>

        <hr>

        <h2 class="govuk-heading-l">What you will learn</h2>
        <p class="govuk-body">You will develop a thorough understanding of SEND, with modules covering: </p>

        <hr>

        <h2 class="govuk-heading-l">Course format</h2>
        <p class="govuk-body">A flexible structure to fit around your work:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><strong>Total of 15 hours study</strong></li>
          <li><strong>Blended learning</strong>: online modules and optional live workshops </li>
          <ul class="govuk-list govuk-list--bullet">
            <li>Live workshops for October start: 14 October, 22 November, 17 December</li>
            <li>Live workshops for March start: 16 March, 20 May, 7 June</li>
          </ul>
          <li><strong>Practical classroom strategies</strong> ready to implement immediately</li>
          <li><strong>Reflective activities</strong> linking evidence to real practice</li>
          <li><strong>Certificate of completion</strong> for your professional development records </li>
        </ul>

        <hr>
        
        <h2 class="govuk-heading-l">Why choose Cedar trust for your training</h2>
        <p class="govuk-body">Our aim is simple: to support teachers in giving every child the best possible start. </p>
        <p class="govuk-body">We have been selected by the Department for Education to deliver this course. The course is accredited by the Education Foundation.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>aligned with current <strong>national SEND guidance</strong></li>
          <li>focused on <strong>real practice</strong>, not just theory</li>
          <li>supportive, accessible, and designed for busy school staff </li>
        </ul>
        <div class="provider-quote">
          <p class="govuk-body">""amazing quote""</p>
          <p class="govuk-body-s">Peter Lonsdale</p>
        </div>

        <hr>

        <h2 class="govuk-heading-l">By the end of this course, you will be able to: </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Identify SEND needs at the earliest stage</li>
          <li>Plan and deliver an inclusive curriculum</li>
          <li>Adapt teaching with confidence</li>
          <li>Communicate effectively with families and professionals</li>
          <li>Create a teaching environment where every child thrives </li>
        </ul>

        <hr>

        <h2 class="govuk-heading-l">How to apply</h2>
        <p class="govuk-body">We are currently taking applications for the course starting October 2026 or March 2027. </p>        
        <p class="govuk-body">You need to <a href="../start-id?referrer=cedar-trust">check your eligibility and register with the DfE</a> before you can apply with us for this course. </p>
        <p class="govuk-body">When you have registered, you can continue to complete our application.</p>
        
        {{ govukButton({
          text: "Register with DfE",
          href: "../start-id?referrer=cedar-trust",
          isStartButton: true
        }) }}
        
      </div>
    </div>
    
{% endblock %}