
{% extends "layout-provider.html" %}

{% block pageTitle %}
  Cedar trust - Your account 
{% endblock %}

{% block content %}

    <div class="govuk-grid-row provider">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Welcome {{ data['applicant1--name'] }}</h1>

        <h2 class="govuk-heading-m">You are applying for the {{ data['choosette'] }} {{ data['tte-programme-name-with-acronym'] }} course </h2>

        <p class="govuk-body">We have received your registration from DfE. </p>
        <p class="govuk-body">You need to complete the following sections and submit your application in order for us to proceed with evaluating your application.</p>
        
        {{ govukTaskList({
          idPrefix: "application-task-list",
          items: [
            {
              title: {
                text: "Course"
              },
              href: "course",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Personal details"
              },
              href: "personal-details",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Experience"
              },
              href: "experience",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Commitment"
              },
              href: "commitment",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Sponsor"
              },
              href: "sponsor",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Paying for the course"
              },
              href: "paying-for-the-course",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Terms"
              },
              href: "terms",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            }
          ]
        }) }}
        
      </div>
    </div>
    
{% endblock %}