
{% extends "layout-provider.html" %}

{% set loggedIn = 'true' %}

{% block pageTitle %}
  Cedar trust - Your NPD application
{% endblock %}

{% block content %}

    <div class="govuk-grid-row provider">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Welcome {{ data['applicant1--name'] }}</h1>

        <h2 class="govuk-heading-m">You are applying for the {{ data['choosette'] }} {{ data['tte-programme-name-with-acronym'] }} course </h2>

        <p class="govuk-body">We have received your registration from DfE. </p>
        
        {{ govukTaskList({
          idPrefix: "application-task-list",
          items: [
            {
              title: {
                text: "Personal details"
              },
              href: "personal-details",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Experience"
              },
              href: "experience",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Commitment"
              },
              href: "commitment",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Sponsor"
              },
              href: "sponsor",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Paying for the course"
              },
              href: "paying-for-the-course",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            },
            {
              title: {
                text: "Terms"
              },
              href: "terms",
              status: {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--purple"
                }
              }
            }
          ]
        }) }}

        <p class="govuk-body">Complete the sections above to submit your application. </p>
        <p class="govuk-body">You can save your progress and return at any time.</p>

        {{ govukButton({
          text: "Submit application",
          classes: "govuk-button--secondary",
          disabled: "true"
        }) }}
        
      </div>
    </div>
    
{% endblock %}