{% block page %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers and submit </h1>

      <form class='form' action="" method="post">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Course start 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ "In autumn 2025" if data['startdate'] == "yes" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="course-start">
                Change<span class="govuk-visually-hidden"> course start date</span>
              </a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Workplace in England
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['wheredoyouwork'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="where-do-you-work">
                Change<span class="govuk-visually-hidden"> do you work in England</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Work setting
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['whichsetting'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-setting">
                Change<span class="govuk-visually-hidden"> work setting</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Employment type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['mentor'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="other/employment">
                Change<span class="govuk-visually-hidden"> employment type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['role'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="other/role">
                Change<span class="govuk-visually-hidden"> role</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Employer
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['employer'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="other/employer">Change<span class="govuk-visually-hidden"> workplace</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Course
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['choosenpq'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="choose-npq">
                Change<span class="govuk-visually-hidden"> course</span>
              </a>
            </dd>
          </div>

          {% if (data['choosenpq'] == "Leading primary mathematics") %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Completed one year of the primary maths Teaching for Mastery programme
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['mathsmastery'] == "Yes" %}
                  {{ data['mathsmastery'] }} 
                  {% elseif data['mathsmasteryother'] == "I’ve taken a course similar to the primary maths Teaching for Mastery programme" %}
                    {{ data['mathsmastery'] }} - but taken a similar course
                  {% else %}
                    {{ data['mathsmastery'] }} - but can show understanding of mastery approaches another way
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="maths/maths-eligibility-teaching-for-mastery">
                  Change<span class="govuk-visually-hidden"> have you taken at least one year of the primary maths Teaching for Mastery programme</span>
                </a>
              </dd>
            </div>
          {% endif %}

          {% if (data['choosenpq'] == "Early headship coaching offer") %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Headship NPQ stage
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['completednpqh'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="ehco/ehco-completed-npqh">
                  Change<span class="govuk-visually-hidden"> headship NPQ stage</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Headteacher
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['headteachers'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="ehco/ehco-headteacher">
                  Change<span class="govuk-visually-hidden"> headteacher</span>
                </a>
              </dd>
            </div>
            {% if data['headteachers'] != 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  First 5 years of headship
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['earlyheadship'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="ehco/ehco-early-headship">
                    Change<span class="govuk-visually-hidden"> first 5 years of headship</span>
                  </a>
                </dd>
              </div>
            {% endif %}
          {% endif %}

          {% if (data['choosenpq'] == "Special educational needs co-ordinator (SENCO)") %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Special educational needs co-ordinator (SENCO)
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['sencoinrole'] == "Yes" %}
                  {{ data['sencoinrole'] }} – since {{ data['sencostart-month'] | monthName }} {{ data['sencostart-year'] }}
                  {% else %}
                    {{ data['sencoinrole'] }}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="senco/senco-in-role">
                  Change<span class="govuk-visually-hidden"> are you currently a special educational needs co-ordinator (SENCO)?</span>
                </a>
              </dd>
            </div>
          {% endif %}

          <!-- Only ever goes to review so course funding doesn't show -->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Provider
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['provider'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="choose-provider">
                Change<span class="govuk-visually-hidden"> provider</span>
              </a>
            </dd>
          </div>

        </dl>
      </form>
    </div>
  </div>
{% endblock %}