{{ govukRadios({
  name: "choosette",
  items: [
    {
      value: "SEND and inclusion for leaders",
      text: "SEND and inclusion for leaders",
      checked: true if (data['choosette'] == "SEND and inclusion for leaders")
    },
    {
      value: "SEND and inclusion for teachers",
      text: "SEND and inclusion for teachers",
      checked: true if (data['choosette'] == "SEND and inclusion for teachers")
    },
    {
      value: "Teaching in reception",
      text: "Teaching in reception",
      checked: true if (data['choosette'] == "Teaching in reception")
    }
  ]
}) }}
