{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="../maths-mastery-outcome" method="post">
        <h1 class="govuk-heading-xl">Before you can register for this NPQ</h1>
        <p class="govuk-body">You need to be able to demonstrate that you have an understanding of mastery approaches to teaching maths. </p>
        <p class="govuk-body">You can demonstrate this if you’ve taken at least one year of the <a href="https://www.gov.uk/guidance/join-the-maths-teaching-for-mastery-programme">primary maths Teaching for Mastery programme</a>. </p>

        {{ govukRadios({
          name: "mathsmastery",
          id: "mathsmastery",
          fieldset: {
            legend: {
              text: "Have you taken at least one year of the primary maths Teaching for Mastery programme?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No",
              hint: {
                text: "You may be able to demonstrate your understanding of mastery approaches to teaching maths another way"
              }
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
