{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% set passedHtml %}
  <strong class="govuk-tag govuk-tag--green">
    Passed
  </strong>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a href="https://access-your-teaching-qualifications.education.gov.uk/qualifications/start">Access your teaching qualifications</a> to get your certificate.</p>
{% endset %}

{% set expiredStatusHtml %}
  {% if data['closedState'] == "Partial" %}
    <strong class="govuk-tag govuk-tag--grey">
      Expired
    </strong>
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Your registration has expired but you can register again for future courses when registrations open. </p>
  {% else %}
    <strong class="govuk-tag govuk-tag--grey">
      Expired
    </strong>
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a href="../course-start">Submit a new registration</a> if you still want to take this course.</p>
  {% endif %}
{% endset %}

{% block content %}
  <h1 class="govuk-heading-xl">Your NPQ registrations</h1>

  {{ govukInsetText({
    html: '<a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/account">Visit your DfE Identity account</a> to check or change your personal details.'
  }) }}

  <div class="govuk-rows" style="margin-top: 40px"></div>

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Headship NPQ
        <p class="govuk-!-margin-bottom-0">	LLSE (Leadership Learning Securing Excellence)</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--scholarship-review",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "16 August 2024"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--yellow">
              Apply with provider
            </strong>
            <p class="govuk-!-margin-top-2">You need to apply separately with your training provider.</p>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Leading teaching NPQ
        <p class="govuk-!-margin-bottom-0">Ambition Institute</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--scholarship-only",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "11 July 2024"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Leading literacy NPQ
        <p class="govuk-!-margin-bottom-0">Teach First</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--not-funded-setting",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "2 July 2024"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--red">
              Unsuccessful
            </strong>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Leading teacher development NPQ
        <p class="govuk-!-margin-bottom-0">Teacher Development Trust</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--targeted-support",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "4 March 2024"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Senior leadership NPQ
        <p class="govuk-!-margin-bottom-0">Teach First</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--not-funded-england",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "10 April 2021"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      },
      {
        key: {
          text: "Course outcome"
        },
        value: {
          html: passedHtml
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Leading literacy NPQ
        <p class="govuk-!-margin-bottom-0">National Institute of Teaching</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--not-funded-ofsted",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "17 March 2021"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      },
      {
        key: {
          text: "Course outcome"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--red">
              Not passed
            </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Contact your training provider if you need to discuss this outcome.</p>'
        }
      }
    ]
  }) }}

  <h3 class="govuk-heading-l govuk-!-margin-top-8">Expired registrations</h3>


  {{ govukSummaryList({
    card: {
      title: {
        html: 'Leading behaviour and culture NPQ
        <p class="govuk-!-margin-bottom-0">National Society for Education</p>'
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "24 July 2022"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html: expiredStatusHtml
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Leading literacy NPQ
        <p class="govuk-!-margin-bottom-0">Teach First</p>'
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "17 March 2022"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html: expiredStatusHtml
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Leading literacy NPQ
        <p class="govuk-!-margin-bottom-0">LLSE</p>'
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "24 July 2021"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html: expiredStatusHtml
        }
      }
    ]
  }) }}

  {% include '../includes/registration-status/register-for-another-npq.html' %}

  {% include '../includes/prototype-links.html' %}

{% endblock %}
