{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% set successHTML %}
  <h3 class="govuk-notification-banner__heading">
    Email alert successfully set up
  </h3>
  <p class="govuk-body">We'll send email updates to <strong>{{ data['email'] or 'example@email.com' }}</strong> about registration opening.</p>
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
      <h1 class="govuk-heading-xl">Registration has closed temporarily</h1>
      <p><a href="/closed/eoi-senco-interest">Request email updates to tell you when registration opens</a>. This is usually in the summer.</p>
      <p>When registration opens use this service to register for a NPQ or the early headship coaching offer starting before November 2024. </p>
      <p><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/account">Visit your DfE Identity account</a> to check or change your personal details.</p>
    </div>
  </div>
 
  {% include '../includes/prototype-links.html' %}
{% endblock %}
