{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}
{% set courseOutcome = "Started" %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to your registrations",
    href: "./multiple-registrations"
  }) }}
{% endblock %}

{% set appealHtml %}
  <strong class="govuk-tag govuk-tag--red">
    Not passed
  </strong>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Contact your provider if you need to discuss this outcome.</p>
{% endset %}

{% set scholarshipfundingHtml %}
  <strong class="govuk-tag govuk-tag--red">
    Not eligible
  </strong>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because your workplace is not in the <a href="https://www.gov.uk/guidance/funding-for-national-professional-qualifications-npqs#scholarship-funding-for-autumn-2024">list of settings that are eligible for funding</a>.</p>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
{% endset %}

{% set courseFundingHtml %}
  {% if data['whichsetting'] == "earlyyears" %}
    <p class="govuk-!-margin-bottom-0">{{ data['paymenteyll'] or "I'm paying" }}.</p>
    <p>You may want to check the cost of the NPQ course with your provider.</p>
  {% else %}
    <p class="govuk-!-margin-bottom-0">{{ data['payment'] or "I'm paying" }}.</p>
    <p>You may want to check the cost of the NPQ course with your provider.</p>
  {% endif %}
{% endset %}

{% set personaldetailsHTML %}
  <p><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/account">Visit your DfE Identity account</a> to check or change your personal details.</p>
{% endset %}

{% block content %}
  <span class="govuk-caption-m">Submitted	17 March 2021</span>
  <h1 class="govuk-heading-xl">
    Your leading literacy NPQ registration
  </h1>
  <p class="govuk-body"><strong>Application ID:</strong> b38f20b6-cb83-410c-90ed-1edc3fdfd04e</p>


  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      }
    },
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html: "Leading literacy NPQ"
        }
      },
      {
        key: {
          text: "Provider"
        },
        value: {
          html: "National Institute of Teaching"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      },
      {
        key: {
          text: "Course outcome"
        },
        value: {
          html: appealHtml
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Funding details"
      }
    },
    rows: [
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html: scholarshipfundingHtml
        }
      },
      {
        key: {
          text: "Course funding"
        },
        value: {
          html: courseFundingHtml
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Personal details"
      }
    },
    rows: [
      {
        key: {
          classes: "display-none"
        },
        value: {
          html: personaldetailsHTML,
          classes: "govuk-!-width-full-width"
        }
      }
    ]
  }) }}

  {% include '../includes/registration-status/work-details/private-school.html' %}<br>
  <h2 class="govuk-heading-l">We’d like your feedback</h2>

<p class="govuk-body">
  Tell us about your experience using the registration service by <a href="https://forms.office.com/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-XFs6Aph9JFAlL3W5RWOR_5URTJBQUEwWDBYWFRGRE5BMk8zUFhGT0tSMy4u&route=shorturl" class="govuk-link">completing a short feedback form</a>.
</p>

  {% include '../includes/registration-status/register-for-another-npq.html' %}

  {% include '../includes/prototype-links.html' %}

{% endblock %}
