{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}
{% set courseOutcome = "Started" %}

{% block pageTitle %}
Registration status
{% endblock %}

{% set personaldetailsHTML %}
<p><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/account">Visit your DfE Identity
    account</a> to check or change your personal details.</p>
{% endset %}

{% set fundingHTML %}

<p class="govuk-!-margin-top-2">You are eligible for funding for the Teaching in Reception course, but this does not guarantee a
  funded place is available. Your provider must confirm you have a scholarship-funded place.<br>
  <br>
  Contact Ambition to check that they have a funded place to offer you.

<h2 class="govuk-heading-s">If no funded place is available</h2>

<p class="govuk-!-margin-bottom-0"></p>You can:
<ul class="govuk-list govuk-list--bullet">
  <li>register with a different provider</li>
  <li>consider other payment options, such as self-funding or asking if your workplace or trust can cover the cost</li>
</ul>

{% endset %}

{% block content %}
<span class="govuk-caption-m">Submitted 11 July 2026</span>
<h1 class="govuk-heading-xl">
  Your Teaching in Reception registration
</h1>
<p class="govuk-body"><strong>Application ID:</strong> b38f20b6-cb83-410c-90ed-1edc3fdfd04e</p>

{{ govukSummaryList({
card: {
title: {
text: "Course details"
}
},
rows: [
{
key: {
text: "Course"
},
value: {
html:
'Teaching in Reception' }
},
{
key: {
text: "Provider"
},
value: {
html:
'Ambition Institute' },
actions: {
items: [
{
href: "../change-details",
html: 'Change <span class="govuk-visually-hidden"> provider</span>'
}
]
}
},
{
key: {
text: "Provider application"
},
value: {
html:
'<strong class="govuk-tag govuk-tag--yellow">
  Apply with provider
</strong> <br>
<br>
<p>You need to apply separately with your training provider.</p>

<p>They’ll email you to explain what you need to do next.</p>

<p class="govuk-body">During the application process, your provider will check your:</p>
<ul class="govuk-list govuk-list--bullet">
<li>identity</li>
<li>place of work</li>
<li>suitability for the course you’ve chosen</li>
<li>eligibility for scholarship funding</li>
<li>decision to complete the course is supported by your workplace</li>
</ul>'

}
}
]
}) }}

{{ govukSummaryList({
card: {
title: {
text: "Funding details"
}
},
rows: [
{
key: {
text: "Scholarship funding"
},
value: {
html: fundingHTML
}
}
]
}) }}

{{ govukSummaryList({
card: {
title: {
text: "Personal details"
}
},
rows: [
{
key: {
classes: "display-none"
},
value: {
html: personaldetailsHTML,
classes: "govuk-!-width-full-width"
}
}
]
}) }}

{% include '../includes/registration-status/work-details/ey-state-nursery.html' %}<br>

{% include '../includes/prototype-links.html' %}

{% endblock %}