{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}

{% block pageTitle %}
Registration status
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to your registrations",
  href: "./multiple-registrations"
}) }}
{% endblock %}

{% set npqNameHTML %}
{% if (data['choosenpq'] == "Early headship coaching offer") %}
Early headship coaching offer
{% else %}
{{ data['choosenpq'] or "Headship" }} NPQ
{% endif %}
{% endset %}

{% set providerHTML %}
{{ data['provider'] or "LLSE" }}
{% endset %}

{% set providerstatusHTML %}
<strong class="govuk-tag govuk-tag--yellow">
  Apply with provider
</strong>
<p class="govuk-!-margin-top-2">You need to apply separately with your training provider.</p>
<p>They’ll email you to explain what you need to do next.</p>
<p>During the application process your provider will check your:</p>
<ul class="govuk-!-margin-bottom-2">
  <li>identity</li>
  <li>place of work</li>
  <li>suitability for the NPQ course you've chosen</li>
  <li>eligibility for scholarship funding</li>
  <li>decision to complete a NPQ is supported by your workplace</li>
</ul>
{% endset %}

{% set personaldetailsHTML %}
<p><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/account">Visit your DfE Identity account</a> to check or change your personal details.</p>
{% endset %}

{% set scholarshipfundingHtml %}
<p>
  The Department for Education (DfE) will review your registration to check if you’re eligible for scholarship funding.
  We may contact you if we need more information.<br><br>
  If you’re eligible, this does not guarantee that a funded place is available. You’ll need to check that your provider
  can offer you a scholarship-funded place.<br><br>
  Contact LLSE to check if they can offer you a scholarship-funded place.
</p>
<h3 class="govuk-heading-s">If no scholarship-funded place is available</h3>
<p class="govuk-!-margin-bottom-0">You can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>register with a different provider</li>
  <li>consider other payment options, such as self-funding or asking if your workplace or trust can cover the cost</li>
</ul>
{% endset %}

{% block content %}

<span class="govuk-caption-m">Submitted 16 August 2024</span>

<h1 class="govuk-heading-xl">
  Your Executive leadership NPQ registration
</h1>
<p class="govuk-body"><strong>Application ID:</strong> b38f20b6-cb83-410c-90ed-1edc3fdfd04e</p>

{{ govukSummaryList({
  card: {
    title: {
      text: "Course details"
    }
  },
  rows: [
    {
      key: {
        text: "Course"
      },
      value: {
        html: npqNameHTML
      },
      actions: {
        items: [
          {
            href: "../change-details",
            html: 'Change <span class="govuk-visually-hidden"> course</span>'
          }
        ]
      }
    },
    {
      key: {
        text: "Provider"
      },
      value: {
        html: providerHTML
      },
      actions: {
        items: [
          {
            href: "../change-details",
            html: 'Change <span class="govuk-visually-hidden"> provider</span>'
          }
        ]
      }
    },
    {
      key: {
        text: "Provider application"
      },
      value: {
        classes: 'govuk-!-width-full',
        html: providerstatusHTML
      }
    },
    {
      key: {
        text: "Course start"
      },
      value: {
        html: (data['courseStartDate'] or "Autumn 2025") ~ '<br><br>If your provider does not confirm you’ve started the course by autumn 2025, your registration will expire. You can register again later.'
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Funding details"
    }
  },
  rows: [
    {
      key: {
        text: "Scholarship funding"
      },
      value: {
        html: scholarshipfundingHtml
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Personal details"
    }
  },
  rows: [
    {
      key: {
        classes: "display-none"
      },
      value: {
        html: personaldetailsHTML,
        classes: "govuk-!-width-full-width"
      }
    }
  ]
}) }}

{% include '../includes/registration-status/work-details/other-local-authority.html' %}<br>

<h2 class="govuk-heading-l">We’d like your feedback</h2>

<p class="govuk-body">
  Tell us about your experience using the registration service by <a href="https://forms.office.com/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-XFs6Aph9JFAlL3W5RWOR_5URTJBQUEwWDBYWFRGRE5BMk8zUFhGT0tSMy4u&route=shorturl" class="govuk-link">completing a short feedback form</a>.
</p>
{% include '../includes/registration-status/register-for-another-npq.html' %}
{% include '../includes/prototype-links.html' %}

{% endblock %}
