{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% set scholarshipfundingHtml %}
  <strong class="govuk-tag govuk-tag--red">
    Not eligible
  </strong>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools.</p>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
{% endset %}

{% set courseFundingHtml %}
  <p class="govuk-!-margin-bottom-0">{{ data['payment'] or "I'm paying" }}.</p>
  <p>You may want to check the cost of the course with your provider.</p>
{% endset %}

{% set personaldetailsHTML %}
  <p><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/account">Visit your DfE Identity account</a> to check or change your personal details.</p>
{% endset %}

{% set providerapplicationHtml %}
  <strong class="govuk-tag govuk-tag--red">
    Unsuccessful
  </strong>
{% endset %}

{% block content %}
  <span class="govuk-caption-m">Submitted	2 July 2026</span>
  <h1 class="govuk-heading-xl">
    Your Teaching in Reception registration
  </h1>
  <p class="govuk-body"><strong>Application ID:</strong> b38f20b6-cb83-410c-90ed-1edc3fdfd04e</p>


  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      }
    },
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html: 
            'Teaching in Reception'        
          }
      },
      {
        key: {
          text: "Provider"
        },
        value: {
          html: 
            'Cedar trust'
        },
        actions: {
          items: [
            {
              href: "../change-details?referrer=rejected",
              html: 'Register with a different provider'
            }
          ]
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html: providerapplicationHtml
        }
      },
      {
        key: {
          text: "Course start"
        },
        value: {
          html: (data['startdate'] or "In October 2026") ~ '<br><br>If your provider does not confirm you’ve started the course by Spring 2027, your registration will expire. You can register again for a future start date.'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Funding details"
      }
    },
    rows: [
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html: scholarshipfundingHtml
        }
      },
      {
        key: {
          text: "Course funding"
        },
        value: {
          html: courseFundingHtml
        }
      }
    ]
  }) }}

  {% include '../includes/registration-status/work-details/other.html' %}<br>

  {% include '../includes/prototype-links.html' %}

{% endblock %}
