{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% set startedlinkHtml %}
  If you need to change something about your NPQ, email <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a>.
{% endset %}


{% set personaldetailsHTML %}
  <p><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/account">Visit your DfE Identity account</a> to check or change your personal details.</p>
{% endset %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to your registrations",
    href: "./multiple-registrations"
  }) }}
{% endblock %}

{% block content %}
  <span class="govuk-caption-m">Submitted 4 March 2024</span>
  <h1 class="govuk-heading-xl">
    Your leading teacher development NPQ registration
  </h1>

  {{ govukInsetText({
    html: startedlinkHtml
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      }
    },
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html: "Leading teacher development NPQ"
        },
        actions: {
          items: [
            {
              href: "change-course/choose-npq",
              text: "Change"
            }
          ]
        }
      },
      {
        key: {
          text: "Provider"
        },
        value: {
          html: "Teacher Development Trust"
        },
        actions: {
          items: [
            {
              href: "change-provider/choose-provider",
              text: "Change"
            }
          ]
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      },
      {
        key: {
        },
        value: {
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Funding details"
      }
    },
    rows: [
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Eligible
            </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you will not have to pay for the course fees.</p>'
        }
      },
      {
        key: {
          text: "Targeted support funding"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Eligible
            </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Your workplace will receive £200 to support you to do this NPQ.</p>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Personal details"
      }
    },
    rows: [
      {
        key: {
          classes: "display-none"
        },
        value: {
          html: personaldetailsHTML,
          classes: "govuk-!-width-full-width"
        }
      }
    ]
  }) }}

  {% include '../includes/registration-status/work-details.html' %}

  {% include '../includes/registration-status/register-for-another-npq.html' %}

  {% include '../includes/prototype-links.html' %}

{% endblock %}