{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}

{% block beforeContent %}
  {% if (data['numberOfRegistrations'] == "3") %}
    {{ govukBackLink({
      text: "Back to your registrations",
      href: "./multiple-registrations"
    }) }}
  {% endif %}
{% endblock %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% set successHTML %}
  <h3 class="govuk-notification-banner__heading">
    Registration successfully submitted
  </h3>
  <p class="govuk-body">Check the details of your registration and find out more about applying with your provider.</p>
{% endset %}

{% set courseHTML %}
  {{ data['choosenpq'] or "Early years development" }}
{% endset %}

{% set providerHTML %}
  {{ data['provider'] or "Teacher Development Trust" }}
{% endset %}

{% set providerstatusHTML %}
  <strong class="govuk-tag govuk-tag--yellow">
    Apply with provider
  </strong>
  <p class="govuk-!-margin-top-2">You need to apply separately with your training provider.</p>
  <p>They’ll email you to explain what you need to do next.</p>
  <p>During the application process your provider will check your:</p>
  <ul class="govuk-!-margin-bottom-2">
    <li>identity</li>
    <li>place of work</li>
    <li>suitability for the {{ data['tte-programme-name-acronym'] }} course you've chosen</li>
    <li>eligibility for scholarship funding</li>
    <li>decision to complete a {{ data['tte-programme-name-acronym'] }} is supported by your workplace</li>
  </ul>
{% endset %}



{% set personaldetailsHTML %}
  <p><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/account">Visit your DfE Identity account</a> to check or change your personal details.</p>
{% endset %}

{% set courseFundingHtml %}
  <p class="govuk-!-margin-bottom-0">{{ data['payment'] or "I'm paying" }}.</p>
  <p>You may want to check the cost of the {{ data['tte-programme-name-acronym'] }} course with your provider.</p>
{% endset %}

{% set scholarshipFundingHTML %}
  <!-- Not in England -->
  {% if data['wheredoyouwork'] == "No" %}
    <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because you do not work in England. </p>
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
  <!-- Works in England -->
  {% else %}
      <!-- --------------------------------
          School or equivalent
      ----------------------------------- -->
      {% if ((data['whichsetting'] == "A school or 16-19 educational setting")) %}
          <!-- Private school -->
          {% if (data.selectedWorkplace["TypeOfEstablishment (name)"] == "Other independent school") %}
            <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
          {% else %}
            {% include '../includes/registration-status/funding-message--eligible.html' %}
          {% endif %}
      <!-- -----------------------
        Other
      -------------------------- -->
      {% elseif data['whichsetting'] == "Other" %}
        <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
        <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
        <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
      <!-- -----------------------
        Early years or childcare
      -------------------------- -->
      {% else %}
        {% if ((data['nurserysetting'] == "Private nursery") or (data['nurserysetting'] == "As a childminder") or (data['nurserysetting'] == "Another early years setting")) %}
        <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
        <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
        <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
         {% else %}
            {% include '../includes/registration-status/funding-message--eligible.html' %}
          {% endif %}
      {% endif %}
    {% endif %}
{% endset %}

{% block content %}
  {% if (data['submittedNow'] == "True") %}
    {{ govukNotificationBanner({
      html: successHTML,
      type: 'success'
    }) }}
  {% endif %}

  <span class="govuk-caption-m">Submitted	{{ "today" | govukDate }}</span>

  <h1 class="govuk-heading-xl">
    Your {{ data['choosenpq'] or "Early years development" }} course registration
  </h1>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      }
    },
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html: courseHTML
        }
      },
      {
        key: {
          text: "Provider"
        },
        value: {
          html: providerHTML
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html: providerstatusHTML
        }
      },
      {
        key: {

        },
        value: {
          html: coursedateHTML
        }
      } 
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Funding details"
      }
    },
    rows: [
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html: scholarshipFundingHTML
        }
      },
      {
        key: {
          text: "Course funding"
        },
        value: {
          html: courseFundingHtml
        }
      } if (data['referrer'] != "inreview") and (data['referrer'] != "funded")
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Personal details"
      }
    },
    rows: [
      {
        key: {
          classes: "display-none"
        },
        value: {
          html: personaldetailsHTML,
          classes: "govuk-!-width-full-width"
        }
      }
    ]
  }) }}

  {% include '../includes/registration-status/work-details.html' %}

  {% include '../includes/registration-status/register-for-another-tte.html' %}

{% endblock %}
