{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}

{% block beforeContent %}
  {% if (data['numberOfRegistrations'] == "3") %}
    {{ govukBackLink({
      text: "Back to your registrations",
      href: "./multiple-registrations"
    }) }}
  {% endif %}
{% endblock %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% set successHTML %}
  <h3 class="govuk-notification-banner__heading">
    Registration successfully submitted
  </h3>
  <p class="govuk-body">Check the details of your registration and find out more about applying with your provider.</p>
{% endset %}

{% set courseHTML %}
  {% if (data['choosenpq'] == "Early headship coaching offer") %}
    Early headship coaching offer
  {% else %}
    {{ data['choosenpq'] or "Leading teacher development" }} NPQ
  {% endif %}
{% endset %}

{% set providerHTML %}
  {{ data['provider'] or "Teacher Development Trust" }}
{% endset %}

{% set providerstatusHTML %}
  <strong class="govuk-tag govuk-tag--yellow">
    Apply with provider
  </strong>
  <p class="govuk-!-margin-top-2">You need to apply separately with your training provider.</p>
  <p>They’ll email you to explain what you need to do next.</p>
  <p>During the application process your provider will check your:</p>
  <ul class="govuk-!-margin-bottom-2">
    <li>identity</li>
    <li>place of work</li>
    <li>suitability for the NPQ course you've chosen</li>
    <li>eligibility for scholarship funding</li>
    <li>decision to complete a NPQ is supported by your workplace</li>
  </ul>
{% endset %}



{% set personaldetailsHTML %}
  <p><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/account">Visit your DfE Identity account</a> to check or change your personal details.</p>
{% endset %}

{% set courseFundingHtml %}
  {% if data['whichsetting'] == "earlyyears" %}
    <p class="govuk-!-margin-bottom-0">{{ data['paymenteyll'] or "I'm paying" }}.</p>
    <p>You may want to check the cost of the NPQ course with your provider.</p>
  {% else %}
    <p class="govuk-!-margin-bottom-0">{{ data['payment'] or "I'm paying" }}.</p>
    <p>You may want to check the cost of the NPQ course with your provider.</p>
  {% endif %}
{% endset %}

{% set scholarshipFundingHTML %}
  <!-- Not in England -->
  {% if data['wheredoyouwork'] == "No" %}
    <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because you do not work in England. </p>
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
  <!-- Works in England -->
  {% else %}
      <!-- --------------------------------
          School or equivalent
      ----------------------------------- -->
      {% if ((data['whichsetting'] == "A school") or (data['whichsetting'] == "An academy trust") or (data['whichsetting'] == "A 16 to 19 educational setting")) %}
        <!-- maths, senco or headship or EHCO-->
        {% if data['choosenpq'] == "Leading primary mathematics" or data['choosenpq'] == "Special educational needs co-ordinator (SENCO)" or data['choosenpq'] == "Headship" or data['choosenpq'] == "Early headship coaching offer" %}
          <!-- EHCO -->  
          {% if data['choosenpq'] == "Early headship coaching offer" %}
            {% if (data['headteachers'] == "No") or (data['earlyheadship'] == "No") %}
              <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding for the Early headship coaching offer (EHCO). </p>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
            {% else %}
              <!-- Private school in England -->
              {% if (data['whichschool'] == "private") or (data['whichschool'] == "Private") %}
                <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
              <!-- State school in England -->
              {% else %}
                {% include '../includes/registration-status/funding-message--eligible.html' %}
              {% endif %}
            {% endif %}
          <!-- maths, senco or headship -->
          {% else %}
            <!-- Private school in England -->
            {% if (data['whichschool'] == "private") or (data['whichschool'] == "Private") %}
              <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
            <!-- State school in England -->
            {% else %}
              {% include '../includes/registration-status/funding-message--eligible.html' %}
            {% endif %}
          {% endif %}
        <!-- NOT maths, senco or headship or EHCO-->
        {% else %}
          <!-- Not pp50 school in England -->
          {% if (data['whichschool'] == "not-pp50") %}
            <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because your workplace is not in the <a href="https://www.gov.uk/guidance/funding-for-national-professional-qualifications-npqs#scholarship-funding-for-autumn-2024">list of settings that are eligible for funding</a>. </p>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
          {% else %}
            {% include '../includes/registration-status/funding-message--eligible.html' %}
          {% endif %}
        {% endif %}
      <!-- -------------
        Other setting
      ----------------- -->
      {% elseif data['whichsetting'] == "Another setting" %}
        <!-- Is a mentor? -->
        {% if data['mentor'] == "As a lead mentor for an accredited initial teacher training (ITT) provider" %}
          {% if data['choosenpq'] == "Leading teacher development" %}
            {% include '../includes/registration-status/funding-message--eligible.html' %}
            <!-- A mentor NOT doing NPQLTD -->
            {% else %}
              <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
          {% endif %}
          <!-- Hospital school -->
          {% elseif data['mentor'] == "In a hospital school" %}
            {% if data['choosenpq'] == "Leading primary mathematics" or data['choosenpq'] == "Special educational needs co-ordinator (SENCO)" or data['choosenpq'] == "Headship" %}
              {% include 'includes/registration-status/funding-message--eligible.html' %}
              {% elseif data['choosenpq'] == "Early headship coaching offer" %}
                {% if (data['headteachers'] == "No") or (data['earlyheadship'] == "No") %}
                  <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
                  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding for the Early headship coaching offer (EHCO). </p>
                  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
                  {% else %}
                    {% include '../includes/registration-status/funding-message--eligible.html' %}
                {% endif %}
              {% else %}
                {% include '../includes/registration-status/funding-message--in-review.html' %}
            {% endif %}
          <!-- Young offenders institution -->
          {% elseif data['mentor'] == "In a young offender institution" %}
            {% if data['choosenpq'] == "Leading primary mathematics" or data['choosenpq'] == "Special educational needs co-ordinator (SENCO)" or data['choosenpq'] == "Headship" %}
              {% include '../includes/registration-status/funding-message--eligible.html' %}
              {% elseif data['choosenpq'] == "Early headship coaching offer" %}
                {% if (data['headteachers'] == "No") or (data['earlyheadship'] == "No") %}
                  <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
                  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding for the Early headship coaching offer (EHCO). </p>
                  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
                  {% else %}
                    {% include '../includes/registration-status/funding-message--eligible.html' %}
                {% endif %}
              {% else %}
                {% include '../includes/registration-status/funding-message--in-review.html' %}
            {% endif %}
          <!-- Virtual school or supply teacher -->
          {% else %}
            {% if data['choosenpq'] == "Early headship coaching offer" %}
              {% if (data['headteachers'] == "No") or (data['earlyheadship'] == "No") %}
                <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding for the Early headship coaching offer (EHCO). </p>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
                {% else %}
                  {% include '../includes/registration-status/funding-message--in-review.html' %}
              {% endif %}
              {% elseif data['choosenpq'] == "Leading primary mathematics" or data['choosenpq'] == "Special educational needs co-ordinator (SENCO)" or data['choosenpq'] == "Headship" %}
                {% include '../includes/registration-status/funding-message--in-review.html' %}
              {% else %}
                {% include '../includes/registration-status/funding-message--in-review.html' %}
            {% endif %}
        {% endif %}
      <!-- -----------------------
        Other
      -------------------------- -->
      {% elseif data['whichsetting'] == "Other" %}
        <!-- Other > NOT referred by RTTA -->
        {% if data['teachadvisory'] == "No" %}
          <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
          <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
          <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
        <!-- Other + referred by RTTA -->
        {% else %}
          {% include '../includes/registration-status/funding-message--in-review.html' %}
        {% endif %}
      <!-- -----------------------
        Early years or childcare
      -------------------------- -->
      {% elseif data['whichsetting'] == "Early years or childcare" %}
        <!-- State nursery -->
        {% if ((data['nurserysetting'] == "Local authority-maintained nursery") or (data['nurserysetting'] == "Pre-school class or nursery that’s part of a school (maintained or independent)")) %}
          <!-- maths, senco or headship or EHCO-->
          {% if data['choosenpq'] == "Leading primary mathematics" or data['choosenpq'] == "Special educational needs co-ordinator (SENCO)" or data['choosenpq'] == "Headship" or data['choosenpq'] == "Early headship coaching offer" %}
            <!-- EHCO -->  
            {% if data['choosenpq'] == "Early headship coaching offer" %}
              {% if (data['headteachers'] == "No") or (data['earlyheadship'] == "No") %}
                <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding for the Early headship coaching offer (EHCO). </p>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
              {% else %}
                {% include '../includes/registration-status/funding-message--eligible.html' %}
              {% endif %}
            <!-- maths, senco or headship -->
            {% else %}
              {% include '../includes/registration-status/funding-message--eligible.html' %} 
            {% endif %}
          <!-- NOT maths, senco or headship or EHCO-->
          {% else %}
            <!-- Not pp50 school in England -->
            {% if (data['whichschool'] == "not-pp50") %}
              <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because your workplace is not in the <a href="https://www.gov.uk/guidance/funding-for-national-professional-qualifications-npqs#scholarship-funding-for-autumn-2024">list of settings that are eligible for funding</a>. </p>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
            {% else %}
              {% include '../includes/registration-status/funding-message--eligible.html' %}
            {% endif %}
          {% endif %}
        <!-- private nursery, childminder or other EY setting -->
        {% else %}
          {% if data['choosenpq'] == "Early years leadership" %}
            <!-- have Ofsted URN-->
            {% if data['haveurn'] == "Yes" %}
              <!-- all childminders with Ofsted -->
              {% if (data['nurserysetting'] == "As a childminder") %}
                {% include '../includes/registration-status/funding-message--eligible.html' %}
              {% else %}
              <!-- Not pp50 school in England -->
                {% if (data['whichschool'] == "not-pp50") %}
                  <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
                  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because your workplace is not in the <a href="https://www.gov.uk/guidance/funding-for-national-professional-qualifications-npqs#scholarship-funding-for-autumn-2024">list of settings that are eligible for funding</a>. </p>
                  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
                {% else %}
                  {% include '../includes/registration-status/funding-message--eligible.html' %}
                {% endif %}
              {% endif %}
            <!-- no Ofsted URN -->
            {% else %}
              <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because you or your employer is not registered on the Ofsted Early Years Register or with a registered Childminder Agency. </p>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
            {% endif %}
          <!-- not EYL -->
          {% else %}
          <!-- have Ofsted URN-->
            {% if data['haveurn'] == "Yes" %}
              <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
            <!-- no Ofsted URN -->
            {% else %}
              <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because you or your employer is not registered on the Ofsted Early Years Register or with a registered Childminder Agency. </p>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
{% endset %}

{% block content %}
  {% if (data['submittedNow'] == "True") %}
    {{ govukNotificationBanner({
      html: successHTML,
      type: 'success'
    }) }}
  {% endif %}

  <span class="govuk-caption-m">Submitted	{{ "today" | govukDate }}</span>

  <h1 class="govuk-heading-xl">
    {% if (data['choosenpq'] == "Early headship coaching offer") %}
      Your Early headship coaching offer registration
    {% else %}
      Your {{ data['choosenpq'] or "Leading teacher development" }} NPQ registration
    {% endif %}
  </h1>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      }
    },
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html: courseHTML
        },
        actions: {
          items: [
            {
              href: "../change-details",
              html: 'Change <span class="govuk-visually-hidden"> course</span>'
            }
          ]
        }
      },
      {
        key: {
          text: "Provider"
        },
        value: {
          html: providerHTML
        },
        actions: {
          items: [
            {
              href: "../change-details",
              html: 'Change <span class="govuk-visually-hidden"> provider</span>'
            }
          ]
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html: providerstatusHTML
        }
      },
      {
        key: {

        },
        value: {
          html: coursedateHTML
        }
      } 
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Funding details"
      }
    },
    rows: [
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html: scholarshipFundingHTML
        }
      },
      {
        key: {
          text: "Course funding"
        },
        value: {
          html: courseFundingHtml
        }
      } if (data['referrer'] != "inreview") and (data['referrer'] != "funded")
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Personal details"
      }
    },
    rows: [
      {
        key: {
          classes: "display-none"
        },
        value: {
          html: personaldetailsHTML,
          classes: "govuk-!-width-full-width"
        }
      }
    ]
  }) }}

  {% include '../includes/registration-status/work-details.html' %}

  {% include '../includes/registration-status/register-for-another-npq.html' %}

  {% include '../includes/prototype-links.html' %}

{% endblock %}
