{% extends "layout-admin.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ data['registration2--name'] }}</h1>
      <form class="form" action="registration" method="post">
        {{ govukCharacterCount({
          name: "registration2--notes",
          id: "registration2--notes",
          maxlength: 1000,
          value: data['registration2--notes'],
          label: {
            text: "Notes about changes to this registration",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Please add the date and your initials when adding a note, and add above any existing notes. Notes are for internal use only. "
          }
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Update notes"
          }) }}
          <a class="govuk-link" href="registration">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
