{% extends "layout-admin.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ data['registration2--name'] }}</h1>
      <form class="form" method="post">
        {{ govukRadios({
          name: "registration2--funding-status",
          fieldset: {
            legend: {
              html: "Is this registration eligible for funding?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
          }) }}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Update eligibility"
            }) }}
            <a class="govuk-link" href="registration">Cancel</a>
          </div>
      </form>
    </div>
  </div>
{% endblock %}
