//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "components/panel";
@import "components/button";
@import "components/utilities";

// MoJ styles
@import "node_modules/@ministryofjustice/frontend/moj/all";

// DfE frontend
@import "node_modules/dfe-frontend/packages/dfefrontend";

//auto complete
@import "accessible-autocomplete/dist/accessible-autocomplete.min.css";

@import "components/strat-des";

.govuk-header__link .govuk-header__logotype{
  height: 30px;
}

.govuk-service-navigation__wrapper {
  flex-basis:100%;
}

.govuk-template--rebranded .govuk-service-navigation__item, .govuk-template--rebranded .govuk-service-navigation__service-name {
  padding-bottom: 0px;
}

.govuk-service-navigation__item:last-child {
  margin-left: auto;
}

.govuk-width-container {
    max-width: 1200px;
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.card-text h3 {
  margin: 0;
  font-size: 1.2em;
}

.card-text p {
  margin: 5px 0 0;
  font-size: 1em;
}

.autocomplete__wrapper * {
  @include govuk-typography-common();
}

.app-mainstream-guide-contents-list {
    border-bottom: none;
}

.grey {
  color: #505a5f;
}

.grey-background {
  background: #f3f2f1;
  padding: 20px 20px 1px 20px;
}


