{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Find professional development qualifications with specialisms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set specialism1 %}
  <div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><strong><a href="">Supporting neurodiverse learners</a></strong></h2>
    <p class="govuk-!-margin-bottom-0">Aimed at teachers in all settings.</p>
  </div>
{% endset %}

{% set specialism2 %}
  <div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><strong><a href="">Leading behaviour and culture national professional qualification</a></strong></h2>
    <p class="govuk-!-margin-bottom-0">Aimed at teachers and leaders in all settings.</p>
  </div>
{% endset %}

{% set specialism3 %}
  <div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><strong><a href="">SENCO national professional qualification</a></strong></h2>
    <p class="govuk-!-margin-bottom-0">Aimed at SENCOs in all settings.</p>
  </div>
{% endset %}

{% set specialism4 %}
  <div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><strong><a href="">Best practice for inclusion</a></strong></h2>
    <p class="govuk-!-margin-bottom-0">Aimed at senior leaders in all settings.</p>
  </div>
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Find professional development qualifications with specialisms</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-6">Qualifications with a mandatory section and a specialisation, giving you a solid foundation as well as a specialism.</p>
      <div class="background-light-grey govuk-!-padding-6 govuk-!-margin-bottom-6">
        <form action="" method="post" accept-charset="utf-8" novalidate>
          <input type="hidden" name="Inclusion">
          {{ govukInput({
            id: "searchterm",
            name: "keywords",
            label: {
              text: "Search by keywords",
              classes: "govuk-label--m"
            },
            value: "Inclusion"
          }) }}
          <button type="submit" class="govuk-button" data-module="govuk-button" style="margin-bottom:5px;">
            Search
          </button>
        </form>
      </div>

      <div class="sort-container">
        <p class="govuk-heading-m" style="margin-bottom:0;">Sorted by soonest start date</p>
        <form action="" method="get" accept-charset="utf-8" novalidate>
          <div class="govuk-form-group" style="margin-bottom:0px;">
            <label class="govuk-label" for="sort">
              Sort by
            </label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="updated" selected>Soonest</option>
              <option value="views">Format</option>
              <option value="comments">Cost</option>
            </select>
          </div>
        </form>
      </div>

      {{ govukSummaryList({
        card: {
          title: {
            html: specialism1
          }
        },
        rows: [
          {
            key: {
              text: "Course length"
            },
            value: {
              html: "15 months"
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              html: "14 Sep 2026"
            }
          },
          {
            key: {
              text: "Format"
            },
            value: {
              html: "Webinars, networking"
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              html: "Online"
            }
          },
          {
            key: {
              text: "Cost"
            },
            value: {
              html: "£699"
            }
          },
          {
            key: {
              text: "Certificate"
            },
            value: {
              html: "Qualification"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            html: specialism2
          }
        },
        rows: [
          {
            key: {
              text: "Course length"
            },
            value: {
              html: "18 months"
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              html: "18 Oct 2026"
            }
          },
          {
            key: {
              text: "Format"
            },
            value: {
              html: "Coaching, webinars, self-directed"
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              html: "In-person"
            }
          },
          {
            key: {
              text: "Cost"
            },
            value: {
              html: "£1298 +VAT"
            }
          },
          {
            key: {
              text: "Certificate"
            },
            value: {
              html: "Qualification"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            html: specialism3
          }
        },
        rows: [
          {
            key: {
              text: "Course length"
            },
            value: {
              html: "24 months"
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              html: "3 Jan 2027"
            }
          },
          {
            key: {
              text: "Format"
            },
            value: {
              html: "Coaching, webinars, self-directed"
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              html: "Online"
            }
          },
          {
            key: {
              text: "Cost"
            },
            value: {
              html: "£895 +VAT"
            }
          },
          {
            key: {
              text: "Certificate"
            },
            value: {
              html: "Qualification"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            html: specialism4
          }
        },
        rows: [
          {
            key: {
              text: "Course length"
            },
            value: {
              html: "12 months"
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              html: "5 Apr 2027"
            }
          },
          {
            key: {
              text: "Format"
            },
            value: {
              html: "Networking"
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              html: "In-person"
            }
          },
          {
            key: {
              text: "Cost"
            },
            value: {
              html: "£499"
            }
          },
          {
            key: {
              text: "Certificate"
            },
            value: {
              html: "Qualification"
            }
          }
        ]
      }) }}
      
    </div>
  </div>
{% endblock %}
