{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Find professional development courses
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Find professional development courses</h1>
      <h2 class="govuk-heading-l">Explore different types of courses </h2>
      <p class="govuk-body">There are many types of courses available ranging from 1-day through to 2-years and offering full flexibility of what you study through to pre-set courses.</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner govuk-notification-banner--blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content background-light-grey min-height-card">
              <h3 class="govuk-heading-m">
                Certification courses<br>
              </h3>
              <p class="govuk-body">Pick from over 20 short courses that provide certification in the areas you need. Combine over time to receive a full qualification.</p>
              <p class="govuk-body"><strong>Length</strong> 5 to 15 days</p>
              <p class="govuk-body"><strong>Mandatory elements</strong> None</p>
              <p class="govuk-body"><strong>Certificate</strong> Certification</p>
              <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="send/certification-courses">View all certification courses</a></strong>
              </p>
            </div>
          </div>
        </div>  
        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner govuk-notification-banner--blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content background-light-grey min-height-card">
              <h3 class="govuk-heading-m">
                Qualifications with elective modules<br>
              </h3>
              <p class="govuk-body">Qualifications with mandatory and selectable modules, giving you the flexibility to choose areas to focus on in more depth.</p>
              <p class="govuk-body"><strong>Length</strong> 12 to 24 months</p>
              <p class="govuk-body"><strong>Mandatory elements</strong> Some mandatory modules</p>
              <p class="govuk-body"><strong>Certificate</strong> Qualification</p>
              <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="send/elective-qualifications">View all qualifications with elective modules</a></strong>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner govuk-notification-banner--blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content background-light-grey min-height-card">
              <h3 class="govuk-heading-m">
                Qualifications with combined specialism<br>
              </h3>
              <p class="govuk-body">Qualifications with a mandatory section and a specialisation, giving you a solid foundation as well as a specialism.</p>
              <p class="govuk-body"><strong>Length</strong> 12 to 24 months</p>
              <p class="govuk-body"><strong>Mandatory elements</strong> Mostly mandatory modules</p>
              <p class="govuk-body"><strong>Certificate</strong> Qualification</p>
              <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="send/specialism-qualifications">View all qualifications with combined specialism</a></strong>
              </p>
            </div>
          </div>
        </div>  
        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner govuk-notification-banner--blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content background-light-grey min-height-card">
              <h3 class="govuk-heading-m">
                Bitesize courses<br>
              </h3>
              <p class="govuk-body">Pick from over 50 short courses offering full flexibility. Allowing you to choose the topics you want to study, whenever you need them. </p>
              <p class="govuk-body"><strong>Length</strong> 1 to 5 days</p>
              <p class="govuk-body"><strong>Mandatory elements</strong> None</p>
              <p class="govuk-body"><strong>Certificate</strong> Attendance</p>
              <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="send/bitesize-courses">View all bitesize courses</a></strong>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner govuk-notification-banner--blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content background-light-grey min-height-card">
              <h3 class="govuk-heading-m">
                Focused qualifications<br>
              </h3>
              <p class="govuk-body">Qualifications that have set content, giving depth to the subject you choose to study.</p>
              <p class="govuk-body"><strong>Length</strong> 12 to 24 months</p>
              <p class="govuk-body"><strong>Mandatory elements</strong> All mandatory modules</p>
              <p class="govuk-body"><strong>Certificate</strong> Qualification</p>
              <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="send/focused-qualifications">View all focused qualifications</a></strong>
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
{% endblock %}
