
{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a national professional qualification (NPQ)
{% endblock %}

{% set serviceName %}
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color:#505a5f; padding-bottom: 1px">Guidance</p>
      <h1 class="govuk-heading-xl" style="padding-top: 1px">
        Apply for a Teaching Training Entitlement (TTE) course
      </h1>

      <p class="govuk-body-l">Steps to start a TTE course </p>

      
    <aside class="app-mainstream-guide-contents-list" role="complementary">
      <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
        <h2 class="app-contents-list__title">
          Contents
        </h2>
        <ol class="app-contents-list__list">
          <li aria-current="true" class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
            <a href="#choose">
              1. Choose a TTE course
            </a>
          </li>
          <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
            <a href="#funding">
              2. Check if you can get funding
            </a>
          </li>
          <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
            <a href="#provider">
              3. Find a training provider
            </a>
          </li>
          <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
            <a href="#register">
              4. Register with DfE
            </a>
          </li>
          <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
            <a href="#apply">
              5. Apply through your provider
            </a>
          </li>
          <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
            <a href="#start">
              6. Start your TTE course
            </a>
          </li>
        </ol>
      </nav>
    </aside>


      <h2 class="govuk-heading-l govuk-!-padding-top-4" id="choose">1. Choose a TTE course</h2>
      <p>Find out about the different <a href="guidance-tte">TTE courses</a>.</p>
      <p>If you’re employed, talk to your employer. You may need their approval to take an TTE course. They may be able to help you choose a course that’s suitable for you and your workplace.</p>
      <p>Some courses have specific eligibility requirements, so check you’re eligible before you register.</p>

      <h2 class="govuk-heading-l" id="funding">2. Check if you can get funding</h2>
      <p>Most teachers and school leaders in state funded settings in England can <a href="">get funding for TTEs</a> to cover the course fees. </p>

      <h2 class="govuk-heading-l" id="provider">3. Find a training provider</h2>
      <p>If you’re employed, ask your workplace if they already work with a particular training provider.</p>
      <p>You can also contact providers directly. Refer to the course pages to find which providers offer your course: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="reception">reception course</a></li>
      </ul>
      <p>Alternatively, <a href="https://find-a-teaching-school-hub.education.gov.uk/">find your local teaching school hub</a> and ask them who provides your chosen TTE in your area.</p>
      <p>Most providers operate throughout England, and your TTE course will not include any face-to-face sessions that you need to attend in person.</p>

      <h2 class="govuk-heading-l" id="register">4. Register with DfE</h2>
      <p>You need to <a href="/v1/start-id">register with DfE</a> for your TTE course.</p>
      <p>This is so that DfE can keep your professional record up to date, check and allocate <a href="">TTE funding</a>, and issue TTE certificates.</p>
      <p>Even if you’re not funded, you still need to register.</p>
      
      <h2 class="govuk-heading-l" id="apply">5. Apply through your provider</h2>
      <p>As well as registering with DfE, you also need to apply directly to your provider.</p>
      <p>Your provider will send you an application form by email once you’ve registered with DfE. They will assess your suitability for the course. If your application is successful, they will confirm how your course will be funded.</p>

      <h2 class="govuk-heading-l" id="start">6. Start your TTE course</h2>
      <p>Once you’ve applied, your provider will  confirm whether you have a place on the course and will give you your course start date if you’ve been accepted.</p>
      <p>If you complete your TTE course, you can <a href="https://access-your-teaching-qualifications.education.gov.uk/qualifications/start">access your teaching qualifications</a> to get your certificate. </p>

    </div>
  </div>

{% endblock %}
