
{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a Teacher Training Entitlement (TTE) course
{% endblock %}

{% set serviceName %}
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color:#505a5f; padding-bottom: 1px">Guidance</p>
      <h1 class="govuk-heading-xl" style="padding-top: 1px">
        Teacher Training Entitlement (TTE) courses 
      </h1>

      <p class="govuk-body-l">Professional development courses for teachers and leaders to develop skills, progress careers and improve school outcomes.</p>

      <hr>
      <p class="govuk-body-s">From: <strong>Department for Education</strong></br>
      Published 10 January 2026</br>
      Last updated 10 January 2026</p>

      <div class="grey-background govuk-!-margin-bottom-6">
        <p><strong>Applies to England</strong></p>
      </div>
        
      <aside class="app-mainstream-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="app-contents-list__title">
            Contents
          </h2>
          <ol class="app-contents-list__list">
            <li aria-current="true" class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#courses">
                TTE courses
              </a>
            </li>
            <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="#providers">
                TTE providers
              </a>
            </li>
            <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="#structure">
                Course structure
              </a>
            </li>
            <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="#funding">
                Funding
              </a>
            </li>
          </ol>
        </nav>
      </aside>

      <h2 class="govuk-heading-m govuk-!-padding-top-6" id="courses">TTE courses</h2>
      <p><a href="reception">Reception course</a> - learn about child development and how to apply this to learning</p>

      <h2 class="govuk-heading-m govuk-!-padding-top-6" id="providers">TTE providers</h2>
      <p>Providers are: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>chosen by the Department for Education (DfE) in a fair and open procurement process</li>
        <li>subject to quality assurance through Ofsted inspection</li>
      </ul>
      <p>The individual TTE course pages list the providers for each course.</p>
      <p>All TTE courses are underpinned by a framework that sets out what you should know and be able to do after completing a TTE course.</p>
      <p>TTE training providers use these frameworks to design their courses.</p>

      <h2 class="govuk-heading-m govuk-!-padding-top-6" id="structure">Course structure</h2>
      <p>Courses last around 2 terms. The course structure, curriculum and method of delivery may vary between different providers.

      <p>During your course, you will:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>learn from an evidence-based curriculum of your chosen qualification, drawing on effective pedagogy, current research and international best practice to give you the knowledge and skills to improve in your current role or take the next step in your career</li>
        <li>take part in a mixture of face-to-face sessions, webinars and self-directed study</li>
        <li>answer an assessed case study question (the summative assessment)</li>
        <li>TTEs are developed in collaboration with the sector, informed by the best available research and evidence endorsed by the Education Endowment Foundation.</li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-padding-top-6" id="funding">Funding</h2>
      <p><a href="">Funding</a> to cover the course fees for TTEs is available for teachers and school leaders in many state-funded settings in England, subject to eligibility criteria.</p>
      <p>Eligibility for funding does not guarantee a place on a funded TTE course.</p>

    </div>
  </div>

{% endblock %}
