
{% extends "layout.html" %}

{% block pageTitle %}
  Teaching in reception course
{% endblock %}

{% set serviceName %}
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color:#505a5f; padding-bottom: 1px">Guidance</p>
      <h1 class="govuk-heading-xl" style="padding-top: 1px">
        Teaching in reception course 
      </h1>

      <p class="govuk-body-l">A course to help teachers learn about key areas of child development and how to put this knowledge into teaching practice to support good early education outcomes.</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-8" id="who">Who this course is for</h2>

      <p>This course is for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>teachers who currently or plan to work with reception age children </li>
        <li>teachers who have already completed their induction </li>
      </ul>

      <h2 class="govuk-heading-l" id="overview">Overview</h2>

      <p>This two-term course will help you to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>develop your understanding of high-quality teaching practices specifically relevant to the reception year</li>
        <li>understand strategies and approaches to support good development in key areas to enable children to achieve good outcomes </li>
      </ul>

      <p>This course will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>take 2 terms to complete </li>
        <li>involve up to 1 hour of study each week </li>
        <li>be a mix of self-study and live training </li>
        <li>start Autumn 2026</li>
      </ul>

      <h2 class="govuk-heading-l" id="funding">Funding</h2>
      <p><a href="">Funding</a> to cover the course fees is available for most teachers and school leaders in state funded settings in England.</p>
      
      <h2 class="govuk-heading-l" id="eligibility">Eligibility</h2>
      <p>To apply for this course you should be teaching, or planning to teach, reception age children. </p>
      
      <h2 class="govuk-heading-l" id="content">Course content</h2>

      <h3 class="govuk-heading-m">High-quality teaching and classroom practice</h3>
      <p>You'll learn how high-quality early education can have a positive impact on outcomes through:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>strategies for effective teaching </li>
        <li>enabling mastery of important foundational concepts</li>
        <li>appropriate curriculum and formative assessment design</li>
        <li>supporting positive transitions into and out of reception year </li>
      </ul>

      <h3 class="govuk-heading-m">Supporting good development</h3>
      <p>You'll learn how to understand and support differences in child development in key areas to support access to learning, including through: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>awareness of differences in development including SEND and disadvantage</li>
        <li>enabling good communication and language </li>
        <li>supporting physical development</li>
        <li>encouraging personal, social and emotional, development </li>
        <li>working with parents to support development goals</li>
      </ul>

      <h2 class="govuk-heading-l" id="structure">Course structure</h2>
      <p>The course includes 9 topics, outlined in the <a href="">course framework</a>. Providers use this framework to design their course.</p>
      <p>The course includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>independent study </li>
        <li>group coaching </li>
        <li>virtual sessions with other participants </li>
      </ul>
      <p>You’ll need to spend up to 1 hour a week working on this ETT course.</p>
      <p>If you can, you should do this during work hours in career development time.</p>

      <h2 class="govuk-heading-l" id="providers">Providers</h2>
      <p>You can train for this ETT course with one of the following providers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.ambition.org.uk/">Ambition Institute</a></li>
        <li><a href="https://www.cefel.org.uk/npq/">National Society for Education</a></li>
        <li><a href="https://www.educationdevelopmenttrust.com/npqs">Education Development Trust</a></li>
        <li><a href="https://www.llse.org.uk/npq/npqs-for-you">LLSE</a></li>
        <li><a href="https://niot.org.uk/">National Institute of Teaching</a></li>
        <li><a href="http://www.teachfirst.org.uk/npqs">Teach First</a></li>
        <li><a href="https://www.ucl.ac.uk/ioe/departments-and-centres/centres/ucl-centre-educational-leadership/national-professional-qualification-programmes">University College London (UCL) Institute of Education</a></li>
      </ul>
      <p>They work with delivery partners, such as teaching school hubs, to provide training.</p>

      <h2 class="govuk-heading-l" id="apply">Apply</h2>
      <p><a href="/gov-uk-guidance/apply-tte">Find out how to apply for a ETTs course</a>.</p>

    </div>
  </div>

{% endblock %}
