
{% extends "layout.html" %}

{% block pageTitle %}
  Early years development course 
{% endblock %}

{% set serviceName %}
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color:#505a5f; padding-bottom: 1px">Guidance</p>
      <h1 class="govuk-heading-xl" style="padding-top: 1px">
        Early years development course 
      </h1>

      <p class="govuk-body-l">A course to help teachers learn about early years child development and how to put this knowledge into teaching practice.</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-8" id="who">Who this course is for</h2>

      <p>This course is for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>teachers who work with reception age children </li>
        <li>those who have been teaching for more than 5 years </li>
      </ul>

      <h2 class="govuk-heading-l" id="overview">Overview</h2>

      <p>This one-year course will help you to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>embed mastery approaches to teaching maths in your school</li>
        <li>lead your school in teaching maths effectively, working collaboratively with senior leaders and teachers</li>
      </ul>

      <p>This course will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>take 2 terms to complete </li>
        <li>involve an average of 1 to 2 hours of study each week </li>
        <li>be a mix of self-study and group sessions </li>
        <li>start Autumn 2026</li>
      </ul>

      <h2 class="govuk-heading-l" id="funding">Funding</h2>
      <p><a href="https://www.gov.uk/guidance/funding-for-national-professional-qualifications-npqs">Funding</a> to cover the course fees is available for most teachers and school leaders in state funded settings in England.</p>
      
      <h2 class="govuk-heading-l" id="eligibility">Eligibility</h2>
      <p>To apply for this course you should be teaching, or plan to teach, reception age children. </p>
      
      <h2 class="govuk-heading-l" id="content">Course content</h2>

      <h3 class="govuk-heading-m">Develop a school culture with a positive attitude to maths</h3>
      <p>You’ll learn how pupils learn maths, so you can develop systems which help children:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>overcome maths anxiety </li>
        <li>build resilience </li>
        <li>develop problem-solving strategies </li>
      </ul>
      <p>You’ll learn how to create a culture of high expectations where teachers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>challenge and motivate pupils </li>
        <li>give pupils high quality feedback </li>
      </ul>

      <h3 class="govuk-heading-m">Design and introduce maths curriculums</h3>
      <p>You’ll learn how to design maths curriculums and develop the leadership skills to help you introduce them, including how to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>identify the maths knowledge that pupils need </li>
        <li>help pupils make connections between maths facts and concepts </li>
        <li>identify gaps in pupils’ knowledge and make changes accordingly </li>
        <li>plan curriculum changes so that teachers are supported</li>
      </ul>

      <h3 class="govuk-heading-m">Support maths teachers in your school</h3>
      <p>You’ll learn techniques to help you support the teaching of maths, including techniques to help teachers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>plan and sequence lessons so that pupils can build their knowledge </li>
        <li>support inclusion of pupils, for example by ensuring that the starting point is accessible to all </li>
        <li>manage their workload, for example by sharing approaches to marking work </li>
        <li>understand and use consistent maths vocabulary </li>
      </ul>

      <h2 class="govuk-heading-l" id="structure">Course structure</h2>
      <p>The course includes 10 topics, outlined in the <a href="https://www.gov.uk/government/publications/national-professional-qualifications-frameworks-from-september-2021">course framework</a>. Providers use this framework to design their course.</p>
      <p>The course includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>independent study </li>
        <li>group coaching </li>
        <li>face-to-face sessions with other participants </li>
      </ul>
      <p>You’ll need to spend 1 to 2 hours a week working on this TTE course.</p>
      <p>If you can, you should do this during work hours in career development time.</p>

      <h2 class="govuk-heading-l" id="providers">Providers</h2>
      <p>You can train for this TTE course with one of the following providers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.ambition.org.uk/">Ambition Institute</a></li>
        <li><a href="https://www.cefel.org.uk/npq/">National Society for Education</a></li>
        <li><a href="https://www.educationdevelopmenttrust.com/npqs">Education Development Trust</a></li>
        <li><a href="https://www.llse.org.uk/npq/npqs-for-you">LLSE</a></li>
        <li><a href="https://niot.org.uk/">National Institute of Teaching</a></li>
        <li><a href="http://www.teachfirst.org.uk/npqs">Teach First</a></li>
        <li><a href="https://www.ucl.ac.uk/ioe/departments-and-centres/centres/ucl-centre-educational-leadership/national-professional-qualification-programmes">University College London (UCL) Institute of Education</a></li>
      </ul>
      <p>They work with delivery partners, such as teaching school hubs, to provide training.</p>

      <h2 class="govuk-heading-l" id="apply">Apply</h2>
      <p><a href="/gov-uk-guidance/apply-tte">Find out how to apply for a TTE course</a>.</p>

    </div>
  </div>

{% endblock %}
