
{% extends "layout.html" %}

{% block pageTitle %}
  Supporting SEND and inclusion (teachers) Experienced Teachers and Leaders Training (ETLT) course
{% endblock %}

{% set serviceName %}
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color:#505a5f; padding-bottom: 1px">Guidance</p>
      <h1 class="govuk-heading-xl" style="padding-top: 1px">
        Supporting SEND and inclusion (teachers) Experienced Teachers and Leaders Training (ETLT) course 
      </h1>

      <p class="govuk-body-l">A course to help teachers learn about effective pedagogy and practice relating to inclusive teaching and learning environments and strategies and approaches to support learners with special educational needs and disabilities (SEND).</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-8" id="who">Who this course is for</h2>

      <p>This course is for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>teachers who want to improve their knowledge and skills in supporting and meeting needs in the classroom </li>
        <li>teachers who have already completed their induction </li>
      </ul>

      <h2 class="govuk-heading-l" id="overview">Overview</h2>

      <p>This course is from the <a href="/gov-uk-guidance/guidance-tte">Experienced Teachers and Leaders Training (ETLT)</a> suite of courses.</p>

      <p>This two-term course will help you to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>develop your understanding of high-quality teaching practices and inclusive approaches to supporting learning</li>
        <li>understand strategies and approaches to support learning outcomes for children and young people who may have SEND </li>
      </ul>

      <p>This course will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>take 2 terms to complete </li>
        <li>involve up to 1 hour of study each week </li>
        <li>be a mix of self-study and live training </li>
        <li>start Autumn 2027</li>
      </ul>

      <h2 class="govuk-heading-l" id="funding">Funding</h2>
      <p><a href="">Funding</a> to cover the course fees is available for most teachers and school leaders in state funded settings in England.</p>
      
      <h2 class="govuk-heading-l" id="content">Course content</h2>

      <h3 class="govuk-heading-m">Inclusive practice</h3>
      <p>You'll learn how high-quality education can have a positive impact on outcomes through:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>understanding how a culture of inclusion and belonging enables good outcomes </li>
        <li>strengthened awareness of high-quality effective teaching</li>
        <li>inclusive routines and environments</li>
      </ul>

      <h3 class="govuk-heading-m">Understanding and supporting children and young people with SEND</h3>
      <p>You'll learn how to understand and support differences in learning, including through: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>identifying needs and barriers to learning</li>
        <li>understanding differences in learning </li>
        <li>working with parents and families </li>
      </ul>

      <h3 class="govuk-heading-m">Additional support </h3>
      <p>You'll learn how to utilise different approaches to supporting learning barriers, including through: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>effective targeted interventions</li>
        <li>working with teaching assistants and support staff</li>
        <li>enabling positive transitions for pupils and learners </li>
      </ul>

      <h2 class="govuk-heading-l" id="structure">Course structure</h2>
      <p>The course includes 9 topics, outlined in the <a href="">course framework</a>. Providers use this framework to design their course.</p>
      <p>The course includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>independent study </li>
        <li>group coaching </li>
        <li>virtual sessions with other participants </li>
      </ul>
      <p>You’ll need to spend up to 1 hour a week working on this ETLT course.</p>
      <p>If you can, you should do this during work hours in career development time.</p>

      <h2 class="govuk-heading-l" id="providers">Providers</h2>
      <p>You can train for this ETLT course with one of the following providers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.ambition.org.uk/">Ambition Institute</a></li>
        <li><a href="https://www.cefel.org.uk/npq/">National Society for Education</a></li>
        <li><a href="https://www.educationdevelopmenttrust.com/npqs">Education Development Trust</a></li>
        <li><a href="https://www.llse.org.uk/npq/npqs-for-you">LLSE</a></li>
        <li><a href="https://niot.org.uk/">National Institute of Teaching</a></li>
        <li><a href="http://www.teachfirst.org.uk/npqs">Teach First</a></li>
        <li><a href="https://www.ucl.ac.uk/ioe/departments-and-centres/centres/ucl-centre-educational-leadership/national-professional-qualification-programmes">University College London (UCL) Institute of Education</a></li>
      </ul>
      <p>They work with delivery partners, such as teaching school hubs, to provide training.</p>

      <h2 class="govuk-heading-l" id="apply">Apply</h2>
      <p><a href="/gov-uk-guidance/apply-tte">Find out how to apply for a ETLT course</a>.</p>

    </div>
  </div>

{% endblock %}
