
{% extends "layout.html" %}

{% block pageTitle %}
  {{ data['send-leader-course-name'] }} - {{ data['tte-programme-name-with-acronym'] }}
{% endblock %}

{% set serviceName %}
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color:#505a5f; padding-bottom: 1px">Guidance</p>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0" style="padding-top: 1px">
        {{ data['send-leader-course-name'] }}
      </h1>
      <h1 class="govuk-heading-l" style="padding-top: 1px">
        {{ data['tte-programme-name-with-acronym'] }} course
      </h1>

      <p class="govuk-body-l">A course to help leaders learn about effective leadership and practice relating to inclusive school and college environments and supporting learners with special educational needs and disabilities (SEND) in your setting.</p>
      <hr>
      <h2 class="govuk-heading-l govuk-!-padding-top-8" id="who">Who this course is for</h2>

      <p>This course is for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>school leaders </li>
      </ul>

      <h2 class="govuk-heading-l" id="overview">Overview</h2>

      <p>This course is from the <a href="/gov-uk-guidance/guidance-tte">{{ data['tte-programme-name-with-acronym'] }}</a> suite of courses.</p>

      <p>This course will help you to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>develop your understanding of the benefits of inclusive practice on children and young people's outcomes and how to foster a culture of belonging and engagement in your setting </li>
        <li>understand strategies and approaches to support learning outcomes for children and young people who may have SEND across your setting </li>
      </ul>

      <p>This course will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>take approximately 3 school terms to complete (minimum 20 hours) </li>
        <li>involve up to 1 hour of study each week </li>
        <li>be a mix of self-study and live training </li>
        <li>start in October 2027 or early 2028 (January or February), depending on the training provider</li>
      </ul>

      <h2 class="govuk-heading-l" id="funding">Funding eligibility</h2>
      <p>Funded places are available for most state-funded settings, including academy trusts.</p>
      <p>Examples of places that are not eligible for funding include private schools and schools outside of England.</p>
      <p>If you are self-funding, you still need to register with the DfE.</p>
      <p><strong>When you register with the DfE, we will tell you if you are eligible for funding. </strong></p>
      
      <h2 class="govuk-heading-l" id="content">Course content</h2>

      <h3 class="govuk-heading-m">Inclusive culture and environments</h3>
      <p>You'll learn how high-quality education can have a positive impact on outcomes through:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>understanding how a culture of inclusion and belonging enables good outcomes </li>
        <li>strengthened awareness of driving high-quality effective teaching</li>
        <li>inclusive routines and environments</li>
      </ul>

      <h3 class="govuk-heading-m">Understanding and supporting children and young people with SEND</h3>
      <p>You'll learn how to understand and support differences in learning  at a strategic level including through:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>ensuring a consistent approach identifying needs</li>
        <li>working with parents and families </li>
        <li>supporting high-incidence barriers to learning</li>
      </ul>

      <h3 class="govuk-heading-m">Additional support </h3>
      <p>You'll learn how to utilise different approaches to supporting learning barriers including through:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>ensuring the use of effective targeted interventions by staff in your setting</li>
        <li>effective deployment of teaching assistants and support staff </li>
        <li>enabling positive transitions for pupils and learners</li>
      </ul>

      <h3 class="govuk-heading-m">Implementation</h3>
      <p>You'll consider how to implement and drive change around inclusion at a setting level including through: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>clear roles and responsibilities of staff</li>
        <li>staffing models and use of enhanched provision</li>
        <li>use of reasonable adjustments </li>
        <li>capacity-building amongst your workforce including professional development </li>
        <li>characteristics of succesful implementation </li>
        <li>monitoring and review to assess impact</li>
      </ul>

      <h2 class="govuk-heading-l" id="structure">Course structure</h2>
      <p>The course includes 15 topics, outlined in the <a href="">course framework</a>. Providers use this framework to design their course.</p>
      <p>If you can, you should do this during work hours in career development time.</p>

      <h2 class="govuk-heading-l" id="providers">Providers</h2>
      <p>You can train for this {{ data['tte-programme-name-acronym'] }} course with one of the following providers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">Acorn training</a></li>
        <li><a href="../v1-SEND/provider-site/course-details-leaders">Cedar trust</a></li>
        <li><a href="">Evergreen learning</a></li>
        <li><a href="">Maple education</a></li>
        <li><a href="">Redwood training</a></li>
        <li><a href="">Willow network</a></li>
      </ul>

      <p>To help you find a provider that suits your needs:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="../gov-uk-guidance/providers.html">use our provider comparison table</a></li>
        <li><a href="../v1-SEND/choose-a-provider/course-start.html">answer a few questions</a></li>
        <li>Or, visit their websites</li>
      </ul>

      <h2 class="govuk-heading-l" id="apply">Apply</h2>
      <p><a href="../v1-SEND/send-leader">Check funding eligibility and register</a>.</p>

    </div>
  </div>

{% endblock %}
