{% extends "layout.html" %} {% set signedIn = 'false' %} {% block pageTitle %}
Simplify guidance {% endblock %} {% block beforeContent %} {{ govukBackLink({
text: "Back", href: "javascript:window.history.back()" }) }} {% endblock %} {%
block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Find funded training for experienced teachers and education leaders
      </h1>

      <p class="govuk-body">
        Get help to find Department for Education (DfE) funded training to develop your teaching practice and professional knowledge. 
      </p>

      <p class="govuk-body>">This service is for experienced teachers and education leaders who:</p>
     <ul class="govuk-list govuk-list--bullet">
        <li>
          have completed their induction
        </li>
        <li>
         work in any stage of education, from early years to further education
        </li>
        <li>
          work in England
        </li>
      </ul>

       <p class="govuk-body>">This service shows training courses that are:</p>
     <ul class="govuk-list govuk-list--bullet">
        <li>
          designed by DfE and evidence-based
        </li>
        <li>
         independently verified by the Education Endowment Foundation (EEF)
        </li>
        <li>
          medium to long-term commitment (minimum 15 hours)
        </li>
        <li>
          led by a qualified training facilitator (online, in-person, or both)
        </li>
      </ul>

     <p class="govuk-body>">The service will search across the following:</p>
     <ul class="govuk-list">
        <li>
           <a class="govuk-link" href="/gov-uk-guidance/guidance-tte">National Professional Development (NPD) courses</a>
        </li>
        <li>
           <a class="govuk-link" href="/gov-uk-guidance/professional-development">National Professional Qualifications (NPQs)</a>
        </li>
        <li>
         National Professional Qualification Advanced (NPQA)
        </li>
      </ul>

<h2 class="govuk-heading-m">
       National Professional Development (NPD)
      </h2>
      <p class="govuk-body">
         These courses are for experienced teachers who want to add depth to their knowledge in a specific subject area. They take less time than an NPQ (ETC) 
      </p>

    <div class="dfe-grid-container">
        <div class="dfe-card full-size-card table-hover">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="simplify-guidance-page.html"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >Excellence in reception teaching - NPD</a
              >
        </h3>
     <p>A course to help experienced reception teachers deepen their understanding of the key areas of child development.</p>
    <dl class="govuk-summary-list govuk-summary-list--no-border " >
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Duration: 
    </dt>
    <dd class="govuk-summary-list__value govuk-!-padding-left-0 govuk-!-margin-left-0">
      6 months
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0" ">
      Length: 
    </dt>
    <dd class="govuk-summary-list__value">
     minimum 20 hours
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Format: 
    </dt>
    <dd class="govuk-summary-list__value">
      Online. Optional in-person sessions
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Award: 
    </dt>
    <dd class="govuk-summary-list__value">
      NPD Certificate
    </dd>
  </div>
</dl>
          </div>
        </div>
      </br>
     <div class="dfe-card full-size-card table-hover">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="simplify-guidance-page.html"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >SEND and inclusion for teachers NPD</a
              >
            </h3>
            <p>Develop your inclusive teaching practices and gain actionable skills to ensure the best learning outcomes for all pupils.</p>
          <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Duration: 
    </dt>
    <dd class="govuk-summary-list__value govuk-!-padding-left-0 govuk-!-margin-left-0">
      6 months
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0" ">
      Length: 
    </dt>
    <dd class="govuk-summary-list__value">
     minimum 20 hours
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Format: 
    </dt>
    <dd class="govuk-summary-list__value">
      Online. Optional in-person sessions
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Assessment type: 
    </dt>
    <dd class="govuk-summary-list__value">
      Based on attendance
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Award: 
    </dt>
    <dd class="govuk-summary-list__value">
      NPD Certificate
    </dd>
  </div>
</dl>
          </div>
        </div>
        </div>
      </br>

      <h2 class="govuk-heading-m">
        Specialist National Professional Qualifications (NPQ)
      </h2>
 
      <p class="govuk-body">
        Specialist NPQs can help you develop your classroom teaching or
        specialism.
      </p>

    <div class="dfe-grid-container">
        <div class="dfe-card full-size-card table-hover">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="simplify-guidance-page.html"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >Early years leadership NPQ
              </a>
            </h3>
           <p>A course to help current or aspiring managers of nurseries develop expertise in leading early years education and staff and organisational management.</p>
          <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Duration: 
    </dt>
    <dd class="govuk-summary-list__value govuk-!-padding-left-0 govuk-!-margin-left-0">
     18 months
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0" ">
      Length: 
    </dt>
    <dd class="govuk-summary-list__value">
     1 to 2 hours of study each week
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Format: 
    </dt>
    <dd class="govuk-summary-list__value">
      Mix of self-study and in-person group sessions
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Assessment type: 
    </dt>
    <dd class="govuk-summary-list__value">
    Attendance and written assessment 
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Award: 
    </dt>
    <dd class="govuk-summary-list__value">
      National Professional Qualification (NPQ)
    </dd>
  </div>
</dl>
          </div>
        </div>
        
        <br />
       <div class="dfe-card full-size-card table-hover">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="simplify-guidance-page.html"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >Leading teaching NPQ</a
              >
            </h3>
            <p>A course to help teachers and middle educational leaders learn how to lead the teaching and learning of a subject, year group or phase</p>
          <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Duration: 
    </dt>
    <dd class="govuk-summary-list__value govuk-!-padding-left-0 govuk-!-margin-left-0">
     12 months
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0" ">
      Length: 
    </dt>
    <dd class="govuk-summary-list__value">
     1 to 2 hours of study each week
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Format: 
    </dt>
    <dd class="govuk-summary-list__value">
      Mix of self-study and in-person group sessions
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Assessment type: 
    </dt>
    <dd class="govuk-summary-list__value">
    Attendance and written assessment 
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Award: 
    </dt>
    <dd class="govuk-summary-list__value">
      National Professional Qualification (NPQ)
    </dd>
  </div>
</dl>
          </div>
        </div>
        <br />
       <div class="dfe-card full-size-card table-hover">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="simplify-guidance-page.html"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >Leading behaviour and culture NPQ</a
              >
            </h3>
            <p>A course to help teachers and educational leaders learn how to create a culture of good behaviour and high expectations in which staff and pupils thrive.</p>
           <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Duration: 
    </dt>
    <dd class="govuk-summary-list__value govuk-!-padding-left-0 govuk-!-margin-left-0">
     12 months
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0" ">
      Length: 
    </dt>
    <dd class="govuk-summary-list__value">
     1 to 2 hours of study each week
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Format: 
    </dt>
    <dd class="govuk-summary-list__value">
      Mix of self-study and in-person group sessions
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Assessment type: 
    </dt>
    <dd class="govuk-summary-list__value">
    Attendance and written assessment 
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Award: 
    </dt>
    <dd class="govuk-summary-list__value">
   National Professional Qualification (NPQ)
    </dd>
  </div>
</dl>
          </div>
        </div>
        <br />
       <div class="dfe-card full-size-card table-hover">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="simplify-guidance-page.html"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >Special educational needs co-ordinator (SENCO) NPQ</a
              >
            </h3>
            <p>The mandatory course for special educational needs co-ordinators to learn how to effectively perform the SENCO role. </p>
             <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Duration: 
    </dt>
    <dd class="govuk-summary-list__value govuk-!-padding-left-0 govuk-!-margin-left-0">
     18 to 22 months
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0" ">
      Length: 
    </dt>
    <dd class="govuk-summary-list__value">
     1 to 2 hours of study each week
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Format: 
    </dt>
    <dd class="govuk-summary-list__value">
      Mix of self-study and in-person group sessions
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Assessment type: 
    </dt>
    <dd class="govuk-summary-list__value">
    Attendance and written assessment 
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Award: 
    </dt>
    <dd class="govuk-summary-list__value">
   National Professional Qualification (NPQ)
    </dd>
  </div>
</dl>
          </div>
        </div>
        </div>

</br>

      <h2 class="govuk-heading-m">NPQ Advanced</h2>
      <p class="govuk-body">Courses for experienced leaders</p>

       <div class="dfe-card full-size-card table-hover">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="simplify-guidance-page.html"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >SEND and inclusion for leaders NPQ advanced
              </a>
            </h3>
            <p>A course to help senior educational leaders manage effective strategies for inclusivity in their setting.</p>
            <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Duration: 
    </dt>
    <dd class="govuk-summary-list__value govuk-!-padding-left-0 govuk-!-margin-left-0">
     6 months
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0" ">
      Length: 
    </dt>
    <dd class="govuk-summary-list__value">
     1 to 2 hours of study each week
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Format: 
    </dt>
    <dd class="govuk-summary-list__value">
      Mix of online and optional in-person sessions
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Assessment type: 
    </dt>
    <dd class="govuk-summary-list__value">
    Based on attendance 
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0 govuk-!-margin-left-0">
      Award: 
    </dt>
    <dd class="govuk-summary-list__value">
      National Professional Qualification Advanced (NPQA)
    </dd>
  </div>
</dl>
          </div>
        </div>
    </div>
  </div>
  {% endblock %}
</div>
