{% extends "layout.html" %} {% set signedIn = 'false' %} {% block pageTitle %}
Prototype list  {% endblock %} {% block beforeContent %} {{ govukBackLink({
text: "Back", href: "javascript:window.history.back()" }) }} {% endblock %} {%
block content %}
<div class="govuk-width-container">
 <main class="govuk-main-wrapper">
 <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       <p class="govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color:#505a5f; padding-bottom: 1px">Guidance</p>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0" style="padding-top: 1px">
        SEND and inclusion for leaders 
      </h1>
      <h1 class="govuk-heading-l" style="padding-top: 1px">
        National professional qualification advanced (NPQA) course 
      </h1>

      <p class="govuk-body-l">A course to help leaders develop their effective leadership and practice relating to inclusive school and college environments. </p>
      <hr>
      <h2 class="govuk-heading-l govuk-!-padding-top-8" id="who">Who this course is for</h2>

      <p>This course is for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>head teachers </li>
        <li>further education principals </li>
        <li>SENCos in strategic roles</li>
        <li>deputy-head teachers </li>
        <li>senior leaders in education settings </li>
      </ul>

      <h2 class="govuk-heading-l" id="overview">Overview</h2>

      <p>This course is an <a href="/gov-uk-guidance/npqa.html">NPQ advanced</a>course.</p>

      <p>This course will help you to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>develop your understanding of how inclusive practice drives improved outcomes at a whole-setting level, including attainment, engagement, and wellbeing </li>
        <li>lead and sustain a culture of belonging and inclusion </li>
        <li>strengthen your ability to design and implement systems that support pupils with SEND </li>
        <li>ensure high-quality teaching and learning meets the needs of all pupils through a strategic, evidence-informed approach </li>
      </ul>

      <p>This course will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>take approximately 3 school terms to complete (minimum 20 hours)</li>
        <li>involve up to 1 hour of study each week </li>
        <li>include a blend of self-study, facilitated training and optional in-person sessions  </li>
        <li>start in October 2027 and early 2028 (January or February), depending on the provider r</li>
      </ul>

      <h2 class="govuk-heading-l" id="funding">Funding eligibility</h2>
      <p>Funded places are available for most state-funded settings, including academy trusts.</p>
      <p>Examples of places that are not eligible for funding include private schools and schools outside of England.</p>
      <p>If you are self-funding, you still need to register with the DfE.</p>
      <p><strong>When you register with the DfE, we will tell you if you are eligible for funding. </strong></p>
      
      <h2 class="govuk-heading-l" id="content">Course content</h2>

      <p>You will explore how to lead a whole-setting culture of inclusion that improves outcomes, including: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>embedding a shared vision of inclusion and belonging across staff  </li>
        <li>ensuring consistency in high-quality teaching </li>
        <li>developing inclusive routines, systems, and environments  </li>
      </ul>

      <h3 class="govuk-heading-m">Understanding and supporting children and young people with SEND </h3>
      <p>You will develop your strategic leadership of SEND provision, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>establishing robust and consistent processes</li>
        <li>strengthening partnerships with parents, carers, and external professionals </li>
        <li>addressing common barriers to learning at scale </li>
      </ul>

      <h3 class="govuk-heading-m">Implementation</h3>
      <p>A key focus is on leading sustainable change, including: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>defining clear roles, responsibilities, and accountability structures </li>
        <li>designing effective staffing models  </li>
        <li>embedding reasonable adjustments as standard practice </li>
        <li>building staff capability through professional development </li>
        <li>Establishing systems to assess effectiveness and inform decision-making</li>
      </ul>

      <h2 class="govuk-heading-l" id="structure">Course structure</h2>
      <p>The course includes 15 topics, outlined in the <a href="">course framework</a>. Providers use this framework to design their course.</p>
      <p>If you can, you should do this during work hours in career development time.</p>

      <h2 class="govuk-heading-l" id="providers">Providers</h2>
      <p>You can train for this NPQ advanced course with one of the following providers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">Acorn training</a></li>
        <li><a href="../v2/provider-site/course-details-leaders">Cedar trust</a></li>
        <li><a href="">Evergreen learning</a></li>
        <li><a href="">Maple education</a></li>
        <li><a href="">Redwood training</a></li>
        <li><a href="">Willow network</a></li>
      </ul>

      <p>To help you find a provider that suits your needs:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="../v2/send-leader-table">use our provider comparison table</a></li>
        <li><a href="../v2/send-leader-blurb">read a short description</a></li>
        <li><a href="../v2/send-leader-quiz">answer a few questions</a></li>
        <li>Or, visit their websites</li>
      </ul>

      <h2 class="govuk-heading-l" id="apply">Apply</h2>
      <p><a href="../v2/send-leader">Check funding eligibility and register</a>.</p>

    </div>


  <div class="govuk-grid-column-one-third">


      <aside class="govuk-prototype-kit-common-templates-related-items govuk-!-margin-top-3" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related courses
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li class="govuk-!-margin-top-5"><strong>National Professional Development (NPD) </strong></li>
            <li>
              <a href="simplify-guidance-page.html">
                Excellence in reception teaching - NPD
              </a>
            <li>
              <a href="simplify-guidance-page-send.html">
                SEND and inclusion for teachers NPD
              </a>
            </li>
            </li>
    
            <li class="govuk-!-margin-top-5"><strong>National Professional Qualifications (NPQs)</strong></li>
            <li>
              <a href="#">
                Leading behaviour and culture NPQ
                </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
    </div>
  </div>
  </main>
</div>

   
{% endblock %}
