{% extends "layout.html" %} {% set signedIn = 'false' %} {% block pageTitle %}
Simpligy guidance {% endblock %} {% block beforeContent %} {{ govukBackLink({
text: "Back", href: "javascript:window.history.back()" }) }} {% endblock %} {%
block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Professional development for teachers and leaders
      </h1>

      <p class="govuk-body">
        DfE have a wider offering of CPD. Here you will find what is on offer
        within the golden thread (evidence-based training) for all levels of
        experience post initial training.
      </p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Golden thread CPD</a>
        </li>
        <li>
          <a class="govuk-link" href="#">For teachers</a>
        </li>
        <li>
          <a class="govuk-link" href="#">For leaders</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Training on SEND</a>
        </li>
        <li>
          <a class="govuk-link" href="#">For early years</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Fo further education</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">What is golden thread CPD?</h2>
      <p class="govuk-body">
        Text explaining and selling the concept of this and what is covered and
        the different types of courses on offer,<a href="#" class="govuk-link">
          NPQ</a
        >, <a href="#" class="govuk-link">NPD</a>,
        <a href="#" class="govuk-link">NPQ advanced</a>.
      </p>

      <h2 class="govuk-heading-m">For teachers</h2>
      <div class="dfe-grid-container">
        <div class="dfe-card full-size-card">
          <div class="dfe-card-container full-size-card">
            <h3 class="govuk-heading-m">
              <a
                href="#"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >Teaching in reception NPD</a
              >
            </h3>
            <p class="govuk-body">Aimed at all phases</p>
            <p class="govuk-body">6 months</p>
            <p class="govuk-body">Certificate of completion</p>
            <p class="govuk-body">In-person sessions optional</p>
            <p class="govuk-body">Around 15 hours</p>
          </div>
        </div>
        <br />
        <div class="dfe-card full-size-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="#"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >SEND and inclusion for teachers NPD</a
              >
            </h3>
            <p class="govuk-body">Aimed at all phases</p>
            <p class="govuk-body">6 months</p>
            <p class="govuk-body">Certificate of completion</p>
            <p class="govuk-body">In-person sessions optional</p>
            <p class="govuk-body">Around 15 hours</p>
          </div>
        </div>
      </div>

      <h2 class="govuk-heading-m">For leaders</h2>

      <div class="dfe-grid-container">
        <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="#"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >Early years leadership NPQ
              </a>
            </h3>
            <p class="govuk-body">Aimed at all phases</p>
            <p class="govuk-body">6 months</p>
            <p class="govuk-body">Certificate of completion</p>
            <p class="govuk-body">In-person sessions optional</p>
            <p class="govuk-body">Around 15 hours</p>
          </div>
        </div>
        <br />
        <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="#"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >SEND and inclusion for leaders NPQ advanced
              </a>
            </h3>
            <p class="govuk-body">Aimed at all phases</p>
            <p class="govuk-body">6 months</p>
            <p class="govuk-body">Certificate of completion</p>
            <p class="govuk-body">In-person sessions optional</p>
            <p class="govuk-body">Around 15 hours</p>
          </div>
        </div>

        <br />

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="#"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >Leading teaching NPQ</a
              >
            </h3>
            <p class="govuk-body">Aimed at all phases</p>
            <p class="govuk-body">6 months</p>
            <p class="govuk-body">Certificate of completion</p>
            <p class="govuk-body">In-person sessions optional</p>
            <p class="govuk-body">Around 15 hours</p>
          </div>
        </div>
        <br />
        <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="#"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >Leading behaviour and culture NPQ</a
              >
            </h3>
            <p class="govuk-body">Aimed at all phases</p>
            <p class="govuk-body">6 months</p>
            <p class="govuk-body">Certificate of completion</p>
            <p class="govuk-body">In-person sessions optional</p>
            <p class="govuk-body">Around 15 hours</p>
          </div>
        </div>
        <br />
        <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="#"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >SENCO NPQ</a
              >
            </h3>
            <p class="govuk-body">Aimed at all phases</p>
            <p class="govuk-body">6 months</p>
            <p class="govuk-body">Certificate of completion</p>
            <p class="govuk-body">In-person sessions optional</p>
            <p class="govuk-body">Around 15 hours</p>
          </div>
        </div>
        <br />
        <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a
                href="#"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                >Leading primary mathematics NPQ advanced</a
              >
            </h3>
            <p class="govuk-body">Aimed at all phases</p>
            <p class="govuk-body">6 months</p>
            <p class="govuk-body">Certificate of completion</p>
            <p class="govuk-body">In-person sessions optional</p>
            <p class="govuk-body">Around 15 hours</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
