{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Check your answers and submit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Your answers</h1>
      <form class='form' action="" method="post">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Teacher trainer  
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['TTEtrainerleader'] }}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Can commit to post-course coaching 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['TTEcoachingleader'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Course duration
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['TTEcourseDurationleader'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['TTEtimeCommitmentleader'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Delivery method
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['TTEdeliveryleader'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['ttestartdateleader'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assessment method
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['TTEassessmentleader'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Certification
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['TTEcertificationleader'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Optional modules
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['TTEmodulesleader'] }}
            </dd>
          </div>
        </dl>
      </form>
    </div>
  </div>
{% endblock %}
