{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Find professional development courses
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Find professional development SEND and inclusion courses</h1>
      <p class="govuk-body-l">Explore the different types of courses </p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner govuk-notification-banner--blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content background-light-grey min-height-card">
              <h3 class="govuk-heading-m">
                Inclusive leadership fundamentals with coaching support
              </h3>
              <p class="govuk-body">Learn or revisit the principles of inclusive and adaptive teaching and how to apply them when supporting your colleagues to meet the learning needs of pupils in their class and across your school. This course is followed by a series of coaching to reflect on your learning and work on implementation techniques. </p>
              <p class="govuk-body"><strong>Length</strong> 10-12 weeks</p>
              <p class="govuk-body"><strong>Delivery</strong> 50% asynchronous, 50% online webinars</p>
              <p class="govuk-body"><strong>Assessment</strong> A presentation to your colleagues and signed off by your manager</p>
              <p class="govuk-body"><strong>Start date</strong> September</p>
              <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="option1">View course</a></strong>
              </p>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner govuk-notification-banner--blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content background-light-grey min-height-card">
              <h3 class="govuk-heading-m">
                Inclusive leadership fundamentals with optional modules
              </h3>
              <p class="govuk-body">Build your inclusive and adaptive teaching course and learn and how to apply your knowledge to support your colleagues in meeting the learning needs of pupils in their class and across the school. You can choose to extend this course with additional modules which have been curated to reflect emerging areas of need. </p>
              <p class="govuk-body"><strong>Length</strong> Up to 40 hours, over 12 months</p>
              <p class="govuk-body"><strong>Delivery</strong> 50% live webinars, 50% pre-recorded webinars </p>
              <p class="govuk-body"><strong>Assessment</strong> Formative assessments at the end of units of modules </p>
              <p class="govuk-body"><strong>Start date</strong> Three start dates per year, at each half term</p>
              <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="option2">View course</a></strong>
              </p>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner govuk-notification-banner--blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content background-light-grey min-height-card">
              <h3 class="govuk-heading-m">
                Become an inclusive teacher trainer for your setting
              </h3>
              <p class="govuk-body">Learn how to teach inclusive and adaptive teaching to your school colleagues and influence school culture. </p>
              <p class="govuk-body"><strong>Length</strong> 3 day commitment for initial trainer training</p>
              <p class="govuk-body"><strong>Certificate</strong> Initial training: Certified trainer and assessor. In-school training: Inclusive accredited school.</p>
              <p class="govuk-body"><strong>Start date</strong> Variable</p>
              <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="option3">View course</a></strong>
              </p>
            </div>
          </div>
        </div>  
      </div>    
    </div>
  </div>
{% endblock %}
