{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Child development and inclusion in practice
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Inclusive leadership fundamentals with coaching support</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-6">Learn or revisit the principles of inclusive and adaptive teaching and how to apply them when supporting your colleagues to meet the learning needs of pupils in their class and across your school. This course is followed by a series of coaching to reflect on your learning and work on implementation techniques.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-top-6">Course details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Who this course is for"
            },
            value: {
              html: "Senior leaders"
            }
          },
          {
            key: {
              text: "Duration"
            },
            value: {
              html: "10-12 weeks <br> In addition to the core time spent learning the fundamental modules, you will be supported with five follow up coaching sessions, that must be completed by the end of the academic year."
            }
          },
          {
            key: {
              text: "Time commitment"
            },
            value: {
              html: "2 hours per fortnight"
            }
          },
          {
            key: {
              text: "Delivery"
            },
            value: {
              html: "50% of the time asynchronous <br>50% of the time online webinars <br>Five coaching sessions to be delivered by an internal or external nominated coach"
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              html: "September"
            }
          },
          {
            key: {
              text: "Assessment"
            },
            value: {
              html: "A presentation (at the end of your coaching sessions) to your colleagues and signed off by your manager."
            }
          },
          {
            key: {
              text: "Certification"
            },
            value: {
              html: "Certification in TTE<sup>*</sup> adaptive teaching"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-top-6">Course modules</h2>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Module 1: Principles of inclusive teaching
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understanding inclusion as a proactive design princple for school planning</li>
              <li>Understand how prior attainment, social and emotional development, language and communication proficiency and social and emotional development may impact learning</li>
              <li>Reflect on how inclusive design benefits the whole school community</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Module 2: Applying inclusive leadership in practice
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understanding the role of leadership in embedding inclusive practices across the school</li>
              <li>Supporting staff to apply inclusive teaching in practice</li>
              <li>Assessing your school's inclusivity and identify key areas for development</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Module 3: Understanding the impact of inclusive and statutory requirements on your school
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understand key statutory requirements related to inclusion, such as the Equality Act and SEND code of practice</li>
              <li>Understand how practical considerations for securing support for higher needs</li>
              <li>Reflect on how inclusive design benefits the whole school community</li>
            </ul>          
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Module 4: Working with others to create an inclusive environment 
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Building strong partnerships with staff, families and inclusion specialists </li>
              <li>Leveraging the expertise of SEND specialists</li>
              <li>Promoting inclusive practices in your school</li>
            </ul> 
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Module 5: Creating an inclusive whole school plan 
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Develop a strategic vision for inclusion aligned with your whole school plan </li>
              <li>Setting measurable goals and actions to embed inclusive practices</li>
              <li>Creating a sustainable inclusive environment through leadership, training and resource planning</li>
            </ul> 
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
