{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">




          <li class="moj-side-navigation__item ">
            <a href="ambition.html">Cohort 2025 to 2026</a>
          </li>
  
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="ambition-24.html">Cohort 2024 to 2025</a>
          </li>
  
          <li class="moj-side-navigation__item">
            <a href=" ">Cohort 2023 to 2024</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href=" ">Cohort 2022 to 2023</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="   ">Cohort 2021 to 2022</a>
          </li>

         

         
          

        </ul>
      </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">
      {{ govukBackLink({
          text: "Back",
          href: "javascript:window.history.back()"
        }) }}

      <br>

      <span class="govuk-caption-l">Ambition Institute</span>
      <h1 class="govuk-heading-l">Cohort 2024 to 2025</h1>

      <p> List of delivery partners linked to Ambition Institute for this cohort.</p>




      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Delivery partners
          </dt>
          <dd class="govuk-summary-list__value">
             
          </dd>   
        </div>
         <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
           Flying High Teaching School Hub  
          </dd>   
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
           LEAD Teaching School Hub  
          </dd>   
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
           Potentia Teaching School Hub  
          </dd>   
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
           Redhill Teaching Hub  
          </dd>   
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
           Saffron Teaching School Hub  
          </dd>   
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
           Aldridge Education  
          </dd>   
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
           Delivery partner name  
          </dd>   
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
           Delivery partner name  
          </dd>   
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
           Delivery partner name  
          </dd>   
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
           Delivery partner name  
          </dd>   
        </div>
      </dl>

      <nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">
              Previous<span class="govuk-visually-hidden"> page</span>
            </span>
          </a>
        </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
      </nav>



    </div>
    </div>
  </div>
{% endblock %}
