{% extends "layout-admin.html" %}

{% block content %}
   
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
    <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
          </li>
      
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="app-details.html" aria-current="location" class="govuk-!-font-size-16">Application details</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="declarations.html" class="govuk-!-font-size-16">Declaration details</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="course-outcomes.html" aria-current="location" class="govuk-!-font-size-16">Course outcome</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-history-1.html" class="govuk-!-font-size-16">Application history</a>
          </li>
        </ul>
    </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">

       {{ govukBackLink({
          text: "Back",
          href: "javascript:window.history.back()"
        }) }}

      <span class="govuk-caption-l">Lorelai Gilmore, Leading teacher development NPQ, 17 October 2024</span>
      <h1 class="govuk-heading-l">Application details</h1>
      

{{ govukSummaryList({
  card: {
    title: {
      text: 'Application overview',
      classes: 'govuk-!-font-size-24'
    },
    actions: {
      items: [
        {
          href: "/admin-v3/app-details",
          visuallyHiddenText: "of the Leading teaching development registration"
        }
      ]
    }
  },
  rows: [
   {
      key: {
        text: "Name"
      },
      value: {
        text: "Lorelai Gilmore"
      },
      actions: {
        items: [
          {
            href: "overview.html",
            text: "View user",
            visuallyHiddenText: "for Lorelai Gilmore"
          }
        ]
      }
    },
    {
      key: {
        text: "Application ID"
      },
      value: {
        text: '0594fe7b-fcd2-4f3f-9e8d-17ab5538a2b9'
      }
    },
     {
      key: {
        text: "User ID"
      },
      value: {
        text: '11ab2c36-77ss-00r3-776f-56781jj887848r'
      }
    },
    {
      key: {
        text: "Course"
      },
      value: {
        text: "Leading teacher development NPQ"
      }
    },
    {
      key: {
        text: "Course identifier"
      },
      value: {
        text: "npq-leading-teaching-development"
      }
    },
    {
      key: {
        text: "Provider"
      },
      value: {
        text: "Ambition Institute"
      },
      actions: {
        items: [
          {
            href: "transfer-providers.html",
            text: "Transfer",
            visuallyHiddenText: "for Ambition Institute"
          }
        ]
      }
    },
    {
      key: {
        text: "Provider approval status"
      },
      value: {
        text: "Accepted"
      },
      actions: {
        items: [
          {
                        href: "change-to-pending.html",
            text: "Change to pending",
            visuallyHiddenText: "for Ambition Institute"
            
          }
        ]
      }
    },
    {
      key: {
        text: "Training status"
      },
      value: {
        text: "Active"
      },
      actions: {
        items: [
          {
            href: "change-training-status",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Reason for rejection"
      },
      value: {
        text: "Application accepted by other provider"
      },
      actions: {

      }
    },
    {
      key: {
        text: "Created"
      },
      value: {
        text: "17 Oct 2024 at 3:11pm"
      },
      actions: {
        items: [
          {
            visuallyHiddenText: "name"
          }
        ]
      }
    },
       {
      key: {
        text: "Updated"
      },
      value: {
        text: "15 Oct 2024 at 3:22pm"
      },
      actions: {
        items: [
          {
            visuallyHiddenText: "name"
          }
        ]
      }
    }
    
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: 'Funding eligibility',
      classes: 'govuk-!-font-size-24'
    },
    actions: {
      items: [
        {
          href: "/admin-v3/app-details",
          visuallyHiddenText: "of the Leading teaching development registration"
        }
      ]
    }
  },
  rows: [
   
    {
      key: {
        text: "Eligible for funding"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "set-eligibility.html",
            text: "Change",
            visuallyHiddenText: "change funding eligiblity"
          }
        ]
      }
    },
    {
      key: {
        text: "Funded place"
      },
      value: {
        text: "Yes"
      }
    },
    {
      key: {
        text: "Status code"
      },
      value: {
        text: "1234"
      }
    },
    {
      key: {
        text: "Schedule cohort"
      },
      value: {
        text: "2024"
      },
      actions: {
        items: [
          {
            href: "change-schedule-cohort.html",
            text: "Change",
            visuallyHiddenText: "for Ambition Institute"
          }
        ]
      }
    },
    {
      key: {
        text: "Funding choice"
      },
      value: {
        text: "-"
      },
      actions: {
        items: [
          {
            visuallyHiddenText: "name"
          }
        ]
      }
      },
    {
      key: {
        text: "Notes"
      },
      value: {
        text: "DC 14 May 2025, more information required."
      },
      actions: {
        items: [
          {
            href: "",
            text: "View all",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: 'Workplace',
      classes: 'govuk-!-font-size-24'
    },
    actions: {
      items: [
        {
          href: "/admin-v3/overview",
          visuallyHiddenText: "of the Leading teaching development registration"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html: '<a class="govuk-link" href="workplaces-selected.html">Abacus Belsize Primary School</a>'
      }
    },
    {
      key: {
        text: "UK Provider Reference Number (UKPRN)"
      },
      value: {
        text: "10000684"
      }
    },
    {
      key: {
        text: "Unique reference number (URN)"
      },
      value: {
        text: "140076"
      }
    },
    {
      key: {
        text: "Headteacher status"
      },
      value: {
        text: "Yes"
      }
    },
        {
      key: {
        text: "Employment type"
      },
      value: {
        text: "-"
      }
    },
    
    {
      key: {
        text: "ITT lead mentor"
      },
      value: {
        text: "No"
      }
    },
    {
      key: {
        text: "ITT provider"
      },
      value: {
        text: "N/A"
      }
    },
    {
      key: {
        text: "Country"
      },
      value: {
        text: "England"
      }
    }
  ]
}) }}





    </div>

          

            

     
   
{% endblock %}
