{% extends "layout-admin.html" %}

{% block content %}

  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">


        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
          </li>

       
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="ltd-130824" aria-current="location" class="govuk-!-font-size-16">Leading teacher development NPQ, 17 October 2024</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="state-history-b.html" class="govuk-!-font-size-16">Declaration state history</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-history-1.html" class="govuk-!-font-size-16">Application history</a>
          </li>
         
           
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">

        {{ govukBackLink({
          text: "Back",
          href: "javascript:window.history.back()"
        }) }}


       <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              You've successfully transferred [Lorelai Gilmore] to [name of provider]
            </h3>
          </div>
        </div>


      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Lorelai Gilmore</h1><br>

{{ govukSummaryList({
  card: {
    title: {
      text: 'Application overview',
      classes: 'govuk-!-font-size-24'
    },
    actions: {
      items: [
        {
          href: "/admin-v3/app-details",
          visuallyHiddenText: "of the Leading teaching development registration"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Application ID"
      },
      value: {
        text: '0594fe7b-fcd2-4f3f-9e8d-17ab5538a2b9'
      }
    },
    {
      key: {
        text: "Course"
      },
      value: {
        text: "Leading teacher development NPQ"
      }
    },
    {
      key: {
        text: "Course identifier"
      },
      value: {
        text: "npq-leading-teaching-development"
      }
    },
    {
      key: {
        text: "Provider"
      },
      value: {
        text: "Ambition Institute"
      },
      actions: {
        items: [
          {
            href: "transfer-providers.html",
            text: "Transfer",
            visuallyHiddenText: "for Ambition Institute"
          }
        ]
      }
    },
    {
      key: {
        text: "Provider approval status"
      },
      value: {
        text: "Accepted"
      },
      actions: {
        items: [
          {
                        href: "change-to-pending.html",
            text: "Change to pending",
            visuallyHiddenText: "for Ambition Institute"
            
          }
        ]
      }
    },
    {
      key: {
        text: "Training status"
      },
      value: {
        text: "Active"
      },
      actions: {
        items: [
          {
            href: "change-training-status",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
       {
      key: {
        text: "Created"
      },
      value: {
        text: "1 Jul 2021 at 3:11pm"
      },
      actions: {
        items: [
          {
            visuallyHiddenText: "name"
          }
        ]
      }
    },
       {
      key: {
        text: "Updated"
      },
      value: {
        text: "7 Jan 2022 at 3:22pm"
      },
      actions: {
        items: [
          {
            visuallyHiddenText: "name"
          }
        ]
      }
    }
    
  ]
}) }}



      {{ govukSummaryList({
        card: {
          title: {
            text: 'Workplace details',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
              {
                href: "/admin-v3/overview",
                visuallyHiddenText: "of the Leading teaching development registration"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Workplace"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Private childcare provider URN"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "Headteacher status / employment type"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "Employer name"
            },
            value: {
              text: providerStatusHTML
            },
            actions: {
              items: [
              ]
            }
          },
          
          {
            key: {
              text: "ITT lead mentor"
            },
            value: {
              text: "No"
            }
          },
          {
            key: {
              text: "ITT provider"
            },
            value: {
              text: "N/A"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Funding eligibility',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
        {
          key: {
            text: "Eligible for funding"
          },
          value: {
            text: "Primary establishment"
          }
        },
        {
          key: {
            text: "Targeted support (Primary Plus)"
          },
          value: {
            text: "12345"
          }
        },
        {
          key: {
            text: "Schedule"
          },
          value: {
            text: "testttt"
          }
        },
          {
            key: {
              text: "Notes"
            },
            value: {
              text: "testttt"
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "Review notes",
                  visuallyHiddenText: "view course outcome"
                }
              ]
            }
          } 
        ]
      }) }}


      <label class="govuk-label govuk-label--l" for="more-detail">
        Declarations
      </label>

      <br>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h1 class="govuk-summary-card__title" govuk-!-font-size-24>
            Started
          </h1>

           
        
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration ID
              </dt>
              <dd class="govuk-summary-list__value">
                ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration type
              </dt>
              <dd class="govuk-summary-list__value">
              Started
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration date
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Declaration cohort
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Lead provider 
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                State
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Created at
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Updated at
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Statements
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/admin-v3/finance-statement">  Check Jan 2025 statement <span class="govuk-visually-hidden">   Jan 2025</span></a>
              </dd>
            </div>
       </div>
       </div>

       <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h1 class="govuk-summary-card__title" govuk-!-font-size-24>
            Retained-1
          </h1>        
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration ID
              </dt>
              <dd class="govuk-summary-list__value">
                ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration type
              </dt>
              <dd class="govuk-summary-list__value">
              Started
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration date
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Declaration cohort
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Lead provider 
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                State
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Created at
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Updated at
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Statements
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
       </div>
       </div>

       <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h1 class="govuk-summary-card__title" govuk-!-font-size-24>
            Retained-2
          </h1>
        
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration ID
              </dt>
              <dd class="govuk-summary-list__value">
                ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration type
              </dt>
              <dd class="govuk-summary-list__value">
              Started
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration date
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Declaration cohort
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Lead provider 
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                State
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Created at
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Updated at
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Statements
              </dt>
              <dd class="govuk-summary-list__value">
                Value
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
       </div>
       </div>

         <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h1 class="govuk-summary-card__title" govuk-!-font-size-24>
            Completed (paid)
          </h1>        
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration ID
              </dt>
              <dd class="govuk-summary-list__value">
                ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration date
              </dt>
              <dd class="govuk-summary-list__value">
                21 Nov 2022 at 12:00am
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Declaration cohort
              </dt>
              <dd class="govuk-summary-list__value">
                2021
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provider 
              </dt>
              <dd class="govuk-summary-list__value">
                Ambition Institute
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Created at
              </dt>
              <dd class="govuk-summary-list__value">
                21 Nov 2023 at 1:30pm
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Updated at
              </dt>
              <dd class="govuk-summary-list__value">
                10 Dec 2023 at 2:21pm
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Statements
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
              <a href="#" class="govuk-link">November 2023</a>
            </p>
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

       </div>

        </div>

       <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h1 class="govuk-summary-card__title" govuk-!-font-size-24>
            Course outcomes
          </h1>        
        </div>
        <div class="govuk-summary-card__content">


          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Outcome</th>
                <th scope="col" class="govuk-table__header">Course started</th>
                <th scope="col" class="govuk-table__header">Course completed</th>
                <th scope="col" class="govuk-table__header">Date awarded</th>
                <th scope="col" class="govuk-table__header">Submitted by provider</th>
                <th scope="col" class="govuk-table__header">Recorded by API</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--green"> Passed </strong></td>
                <td class="govuk-table__cell"> 1 Jan 2025</td>
                <td class="govuk-table__cell"> 2 May 2025</td>
                <td class="govuk-table__cell"> 3 June 2025</td>
                <td class="govuk-table__cell"> 1 June 2025</td>
                <td class="govuk-table__cell"> Not applicable </td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--red"> Failed </strong></td>
                <td class="govuk-table__cell"> 1 Oct 2024</td>
                <td class="govuk-table__cell"> 2 Nov 2024</td>
                <td class="govuk-table__cell"> Not applicable</td>
                <td class="govuk-table__cell"> 3 Dec 2024</td>
                <td class="govuk-table__cell"> Pending </td>
              </tr>
            
            </tbody>
          </table>
         
       </div>
            
           
         
       </div>

       </div>


     

       

      </div>

          

          

            

     
   
{% endblock %}
