{% extends "layout-admin.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Bulk changes</h1>
    </p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="/admin-v3/revert">Revert applications to pending</a></li>
  <li><a href="/admin-v3/reject">Reject applications</a></li>
  <li><a href="/admin-v3/amend-trn">Update and verify teacher reference numbers (TRNs)</a></li>
  <li><a href="/admin-v3/decs-for-providers.html">Submit declarations for providers</a></li>


</ul>

  </div>
</details>

</div>
</div>
{% endblock %}