{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">

 

    

    <div class="govuk-grid-column-three-quarters">

      <a href="app-details.html" class="govuk-back-link">Back</a>

      <br>
      <br>

      <h1 class="govuk-heading-l">Change schedule cohort</h1>

      <div class="govuk-inset-text">
  <strong>Current schedule cohort </strong> <br>
2024
</div>





<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    
      <h1 class="govuk-fieldset__heading">
        Choose a cohort
      </h1>
    
    </legend>
    
  
    <div class="govuk-radios" data-module="govuk-radios">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-cohort" name="choose-cohort" type="radio" value="2025">
        <label class="govuk-label govuk-radios__label" for="choose-cohort">
          2025
        </label>
        
      </div>
      
    
      
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-cohort-3" name="choose-cohort" type="radio" value="2023">
        <label class="govuk-label govuk-radios__label" for="choose-cohort-3">
          2023
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-cohort-4" name="choose-cohort" type="radio" value="2022">
        <label class="govuk-label govuk-radios__label" for="choose-cohort-4">
          2022
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-cohort-5" name="choose-cohort" type="radio" value="2021">
        <label class="govuk-label govuk-radios__label" for="choose-cohort-5">
          2021
        </label>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>


   
    <!-- Submit and Cancel Links -->
      <div class="govuk-button-group">
        <a href="app-details-cohort.html" class="govuk-button search-box__button" data-module="govuk-button">
          Continue
        </a>
        <a class="govuk-link" href="app-details.html">Cancel</a>
      </div>



    </div>
    
  </div>
  </div>
  </div>
   
  </div>
{% endblock %}
