{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">

 

    

    <div class="govuk-grid-column-three-quarters">

      <a href="app-details.html" class="govuk-back-link">Back</a>

      <br>
      <br>

      <h1 class="govuk-heading-l">Change training status</h1>

      <div class="govuk-inset-text">
     

      <p class="govuk-body"> <strong> User ID <br></strong>0594fe7b-fcd2-4f3f-9e8d-17ab5538a2b9</p>
  
      <p class="govuk-body"> <strong> Training status <br></strong>Active</p>


      </div>

     

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          What is the new training status for this user?
        </h1>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
       
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="chooseAdifferentTrainingStatus-2" name="chooseAdifferentTrainingStatus" type="radio" value="deferred">
          <label class="govuk-label govuk-radios__label" for="chooseAdifferentTrainingStatus-2">
            Deferred
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="chooseAdifferentTrainingStatus-3" name="chooseAdifferentTrainingStatus" type="radio" value="withdrawn">
          <label class="govuk-label govuk-radios__label" for="chooseAdifferentTrainingStatus-3">
            Withdrawn
          </label>
        </div>
      
      </div>
    </fieldset>
</div>

  

    <!-- Submit and Cancel Links -->
      <div class="govuk-button-group">
        <a href="training-reason.html" class="govuk-button search-box__button" data-module="govuk-button">
          Continue
        </a>
        <a class="govuk-link" href="app-details.html">Cancel</a>
      </div>


      <br>
      <br>


      <p> <a class="govuk-link" href="error-change-training.html">Error when there are no declarations</a></p>
      <p> <a class="govuk-link" href="error-select-change-training.html">Error when nothing is selected</a></p>



    </div>

    
    
  </div>
  </div>
  </div>
  
   
  </div>

        



{% endblock %}
