{% extends "layout-admin.html" %}

{% block content %}
  {% set reviewStatusHTML %}
  {% if (data['registration1--review-status'] == "Decision made") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
 
 
  {% endif %}
  {% endset %}

 

  <div class="govuk-grid-row">
  

  

    <div class="govuk-grid-column-three-quarters">

         {{ govukBackLink({
          text: "Back",
          href: "javascript:window.history.back()"
        }) }}


      <br>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Lorelai Gilmore</h1>
      <p class="govuk-!-margin-bottom-2"><strong>User ID:</strong> 123456</p>
      <p class="govuk-!-margin-bottom-1"><strong>TRN: </strong>1234567 <strong class="govuk-tag govuk-tag--green"> Verified</strong></p>

      <br>
      <br>


      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            What is the new teacher reference number (TRN)?
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint"> A TRN is made up of 7 digits, for example, 4567814. In some cases, it may include letters, such as T12345A.

        </div>
        <input class="govuk-input" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
      </div>

      <div class="govuk-button-group">
        <a href="/admin-v3/overviewtrn.html" class="govuk-button" role="button" data-module="govuk-button">
          Save changes
        </a>
        <a class="govuk-link" href="/admin-v3/overview.html">Cancel</a>
      </div>

    </div>
  </div>
{% endblock %}
