{% extends "layout-admin.html" %}

{% block content %}
<div class="govuk-grid-row">


  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-grid-column-full">
      <a href="delivery-partners.html" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-l">Change delivery partner name</h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Delivery partner ID
          </dt>
          <dd class="govuk-summary-list__value">
            	0594fe7b-fcd2-4f3f-9e8d-17ab5538a2b9
          </dd>   
        </div>
        <dt class="govuk-summary-list__key">
           Current name
          </dt>
          <dd class="govuk-summary-list__value">
            Flying High Teaching School Hub
          </dd>
      </dl>
      

      <div class="govuk-form-group">

        <label class="govuk-label" for="width-10"> <strong>Enter the delivery partner's name</strong> </label>

        <br>
       
        <input class="govuk-input" id="full-name" name="fullName" type="text" spellcheck="false" autocomplete="name">
      </div>

     

      <div class="govuk-button-group">
        <a href="/admin-v3/delivery-partners-changed.html" class="govuk-button search-box__button" data-module="govuk-button">
          Save
        </a>
        <a class="govuk-link" href="/admin-v3/delivery-partners.html">Cancel</a>
      </div>


      <br>
      <br>

      
    </div>
  </div>
</div>
{% endblock %}
