{% extends "layout-admin.html" %}

{% block content %}
<div class="govuk-grid-row">
 

  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-column-full">
      <a href="cohort-1.html" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-l">Create statements</h1>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Upload statements
        </h1>
      </legend>

      <div id="account-number-hint" class="govuk-hint">
        Upload a CSV file with the correct column headings and statement information. The bold text below shows the exact column headings your file must include.
        <br>
        <br>
        Each row must represent one statement, per contracted provider.

      </div>

    <p class="govuk-body">For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>Year:</strong> 2026</li>
      <li><strong>Month:</strong> 2</li>
      <li><strong>Deadline_Date:</strong> 25-12-2025</li>
      <li><strong>Payment_Date:</strong> 26-01-2025</li>
      <li><strong>Output_Fee:</strong> TRUE</li>
    </ul>

          <p> <a href=""> Download empty statement template</a></p>


   
      <br>

      <div class="govuk-form-group">
         <label class="govuk-label govuk-heading-s " for="file-upload-1">
          Upload statements file
        </label>
        
        <div
          class="govuk-drop-zone"
          data-module="govuk-file-upload">
          <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
        </div>
      </div>

       
      <br>
      <br>
     


      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Upload contracts
        </h1>
      </legend>

      <div id="account-number-hint" class="govuk-hint">
       Upload a CSV file with the correct column headings and statement information. The bold text below shows the exact column headings your file must include.
        <br>
        <br>
        Each row must represent one statement, per contracted provider.

      </div>

    <p class="govuk-body">For example:</p>
    <ul class="govuk-list govuk-list--bullet">
     <li><strong>Lead_Provider_Name:</strong> Ambition Institute</li>
            <li><strong>Course_Identifier:</strong> npq-headship</li>
            <li><strong>Recruitment_Target:</strong> 30</li>
            <li><strong>Per_Participant:</strong> 1000</li>
            <li><strong>Service_Fee_Installments:</strong> 12</li>
            <li><strong>Special_Course:</strong> FALSE</li>
            <li><strong>Monthly_Service_Fee:</strong> 100</li>
    </ul>

          <p> <a href=""> Download empty statement template</a></p>


   
      <br>

      <div class="govuk-form-group">
      
         <label class="govuk-label govuk-heading-s" for="file-upload-2">
          Upload contracts file
        </label>

        <div
          class="govuk-drop-zone"
          data-module="govuk-file-upload">
          <input class="govuk-file-upload" id="file-upload-2" name="fileUpload2" type="file">
        </div>
      </div>



      <div class="govuk-inset-text">
        You may experience a short delay while your files are being processed.
      </div>

      <a href="" class="govuk-button search-box__button" data-module="govuk-button">
        Upload file
      </a>

      
    
    </div>
  </div>
</div>
{% endblock %}
