{% extends "layout-admin.html" %}

{% block content %}
<div class="govuk-grid-row">


  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-grid-column-full">
      <a href="cohort-1.html" class="govuk-back-link">Back</a>
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0"style="color: #505a5f; font-weight: normal;"> Cohort 2027/28 </h2>
      <h1 class="govuk-heading-l">Create new schedule</h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Cohort 2027/28
          </span>
        </summary>
        <div class="govuk-details__text">

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Start year</th>
                <th scope="col" class="govuk-table__header">Registration start date</th>
                <th scope="col" class="govuk-table__header">Funding cap</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="cohort-1.html">2027/28</a></td>
                <td class="govuk-table__cell"> 20 May 2024</td>
                <td class="govuk-table__cell">   <strong class="govuk-tag govuk-tag--green">Yes</strong></td>
    
              </tr>
            
            </tbody>
          </table>
    
        </div>
      </details>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          <strong>Schedule name </strong>
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          <strong> Identifier </strong>
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
      </div>

      
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          <strong> Course group </strong>
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published"></option>
          <option value="published">Specialist</option>
          <option value="updated" selected>Leadership</option>
          <option value="views">Early headship coaching offer</option>
        </select>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Applies from
            </h1>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            Enter the date this schedule will start
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Applies until
            </h1>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            Enter the date this schedule will finish
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Declaration type
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            Select all that apply
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="dec-1" name="started" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="dec-1">
                Started
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="dec-2" name="retained-1" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="dec-2">
                Retained-1
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="dec-3" name="retained-2" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="dec-3">
                Retained-2
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="dec-4" name="retained-3" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="dec-4">
               Completed
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <a href="/admin-v3/cohort-1a.html" class="govuk-button search-box__button" data-module="govuk-button">
        Create schedule
      </a>
      
    </div>
  </div>
</div>
{% endblock %}
