{% extends "layout-admin.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Finance</h4>

      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="finance.html" aria-current="location" class="govuk-!-font-size-16">Statements </a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="cohorts.html" class="govuk-!-font-size-16">Cohorts</a>
        </li>
        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="cohort-1.html" class="govuk-!-font-size-16">Cohort 2027/28</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-grid-column-full">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Cohort 2027/28 has been updated
          </h3>
        </div>
      </div>

      <h1 class="govuk-heading-l">Cohort 2027/28</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Start year</th>
            <th scope="col" class="govuk-table__header">Registration start date</th>
            <th scope="col" class="govuk-table__header">Funding cap</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="cohort-1.html">2027/28</a></td>
            <td class="govuk-table__cell"> 20 May 2024</td>
            <td class="govuk-table__cell">   <strong class="govuk-tag govuk-tag--green">Yes</strong></td>

          </tr>
        
        </tbody>
      </table>

      <div class="govuk-button-group">


        <a href="/admin-v3/cohort-edit.html" class="govuk-button search-box__button" data-module="govuk-button">
          Edit details
        </a>
        <a href="/admin-v3/cohort-delete.html" class="govuk-button govuk-button--warning" data-module="govuk-button">
          Remove
        </a>
        <a href="/admin-v3/cohort-new.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Create statement
        </a>
      </div>

      <br>


      <h1 class="govuk-heading-m"> Schedules </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Applies from</th>
            <th scope="col" class="govuk-table__header">Applies until</th>
            <th scope="col" class="govuk-table__header">Declaration types</th>


          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">EHCO June</td>
            <td class="govuk-table__cell"> 20 May 2024</td>
            <td class="govuk-table__cell"> 20 May 2025</td>
            <td class="govuk-table__cell"> Started <br> Completed </td>

 


          </tr>
        
        </tbody>
      </table>

      <a href="/admin-v3/cohort-schedule.html" class="govuk-button search-box__button" data-module="govuk-button">
        Add new schedule
      </a>



    




    </div>
  </div>
</div>
{% endblock %}
