{% extends "layout-admin.html" %}

{% block content %}
<div class="govuk-grid-row">


  <div class="govuk-grid-column-three-quarters">

       <a href="cohorts.html" class="govuk-back-link">Back</a>

    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Cohort 2027/28</h1>

      <table class="govuk-table table-small">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Start year</th>
            <th scope="col" class="govuk-table__header">Registration start date</th>
            <th scope="col" class="govuk-table__header">Funding cap</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="cohort-1.html">2027/28</a></td>
            <td class="govuk-table__cell"> 20 May 2024</td>
            <td class="govuk-table__cell">   <strong class="govuk-tag govuk-tag--green">Yes</strong></td>

          </tr>
        
        </tbody>
      </table>

      <div class="govuk-button-group">


        <a href="/admin-v3/cohort-edit.html" class="govuk-button search-box__button" data-module="govuk-button">
          Edit details
        </a>
        <a href="/admin-v3/cohort-delete.html" class="govuk-button govuk-button--warning" data-module="govuk-button">
          Remove
        </a>
        <a href="/admin-v3/cohort-new.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Create statement
        </a>
      </div>

      <br>


      <h1 class="govuk-heading-m"> Schedules </h1>

      <p> There are no schedules available. </p>

      <a href="/admin-v3/cohort-schedule.html" class="govuk-button search-box__button" data-module="govuk-button">
        Add new schedule
      </a>



    




    </div>
  </div>
</div>
{% endblock %}
