{% extends "layout-admin.html" %}

{% block content %}
<div class="govuk-grid-row">


  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-grid-column-full">
      <a href="cohort-1.html" class="govuk-back-link">Back</a>
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0"style="color: #505a5f; font-weight: normal;"> Cohort 2027/28 </h2>
      <h1 class="govuk-heading-l">Edit cohort 2027/28</h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Current details
          </span>
        </summary>
        <div class="govuk-details__text">

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Start year</th>
                <th scope="col" class="govuk-table__header">Registration start date</th>
                <th scope="col" class="govuk-table__header">Funding cap</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="cohort-1.html">2027/28</a></td>
                <td class="govuk-table__cell"> 20 May 2024</td>
                <td class="govuk-table__cell">   <strong class="govuk-tag govuk-tag--green">Yes</strong></td>
    
              </tr>
            
            </tbody>
          </table>
    
        </div>
      </details>


      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10"> <strong>Start year </strong> </label>
        <div id="passport-issued-hint" class="govuk-hint"> Enter the year that your cohort will start their NPQ, for example 2029</div>
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
      </div>

      

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Registration start date
            </h1>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            Enter the date that your cohort will be able to register from, for example 27 3 2029
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Cap funding for this cohort?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                No
              </label>
            </div>
          
           
          </div>
        </fieldset>
      </div>


      <a href="/admin-v3/cohort-1a-edited.html" class="govuk-button search-box__button" data-module="govuk-button">
        Save changes
      </a>
      
    </div>
  </div>
</div>
{% endblock %}
