{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">

    
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Providers</h1>
      <br>

      <p>Select a provider to reveal which delivery partners they work with to deliver NPQs:
      </p>
      <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/admin-v3/ambition.html">Ambition Institute</a>
  </li>
  <li>
    <a class="govuk-link" href="/admin-v3/bpn">Best Practice Network</a>
  </li>
  <li>
    <a class="govuk-link" href="#">National Society for Education</a>
  </li>
  <li>
    <a class="govuk-link" href="#">LLSE</a>
  </li>
    <li>
    <a class="govuk-link" href="#">National Institute of Teaching</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Teach First</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Teacher Development Trust</a>
  </li>
  <li>
    <a class="govuk-link" href="#">UCL Institute of Education</a>
  </li>
  

</ul>

    </div>





    







    </div>
  </div>
{% endblock %}
