{% extends "layout-admin.html" %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">


        <ul class="moj-side-navigation__list">
      
       
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="app-details.html" aria-current="location" class="govuk-!-font-size-16">Application details</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="declarations.html" class="govuk-!-font-size-16">Declaration details</a>
          </li> 
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="course-outcomes.html" aria-current="location" class="govuk-!-font-size-16">Course outcome</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-history-1.html" class="govuk-!-font-size-16">Application history</a>
          </li>
         
           
        </ul>
      </nav>
    </div>


    <div class="govuk-grid-column-three-quarters">
  

        <span class="govuk-caption-l">Lorelai Gilmore, Leading teacher development NPQ, 17 October 2024</span>
        <h1 class="govuk-heading-l">Course outcome</h1>

        <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Outcome</th>
                <th scope="col" class="govuk-table__header">Course started<br><span class="govuk-hint govuk-!-font-size-14">(Based on the started declaration 'Declaration date')</span></th>
                <th scope="col" class="govuk-table__header">Course completed</th>
                <th scope="col" class="govuk-table__header">Submitted by provider</th>

              </tr>
            </thead>
            <tbody class="govuk-table__body">

               <tr class="govuk-table__row">
                 <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey"> Voided </strong></td>
                <td class="govuk-table__cell"> 1 Jan 2025</td>
                <td class="govuk-table__cell"> 2 May 2025</td>
                <td class="govuk-table__cell"> 1 June 2025</td>

              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--green"> Passed </strong></td>
                <td class="govuk-table__cell"> 1 Jan 2025</td>
                <td class="govuk-table__cell"> 2 May 2025</td>
                <td class="govuk-table__cell"> 1 June 2025</td>

              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--red"> Failed </strong></td>
                <td class="govuk-table__cell"> 1 Oct 2024</td>
                <td class="govuk-table__cell"> 2 Nov 2024</td>
                <td class="govuk-table__cell"> 3 Dec 2024</td>
  
              </tr>
            
            </tbody>
          </table>






       
      </div>
      </div>

      
   
{% endblock %}
