{% extends "layout-admin.html" %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">


        <ul class="moj-side-navigation__list">
      
       
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="app-details.html" aria-current="location" class="govuk-!-font-size-16">Application details</a>
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="declarations.html" class="govuk-!-font-size-16">Declaration details</a>
          </li>
           <li class="moj-side-navigation__item">
            <a href="course-outcomes.html" aria-current="location" class="govuk-!-font-size-16">Course outcome</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-history-1.html" class="govuk-!-font-size-16">Application history</a>
          </li>
         
           
        </ul>
      </nav>
    </div>


    <div class="govuk-grid-column-three-quarters">
  

        <span class="govuk-caption-l">Lorelai Gilmore, Leading teacher development NPQ, 17 October 2024</span>
        <h1 class="govuk-heading-l">Declaration details</h1>


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h1 class="govuk-summary-card__title" govuk-!-font-size-24>
            Started (paid)
          </h1>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration ID
              </dt>
              <dd class="govuk-summary-list__value">
                ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration date
              </dt>
              <dd class="govuk-summary-list__value">
                1 Nov 2021 at 12:00pm
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Declaration cohort
              </dt>
              <dd class="govuk-summary-list__value">
                2021
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provider 
              </dt>
              <dd class="govuk-summary-list__value">
                Ambition Institute
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Created at
              </dt>
              <dd class="govuk-summary-list__value">
                14 Dec 2021 at 5:26pm
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Updated at
              </dt>
              <dd class="govuk-summary-list__value">
                14 Mar 2022 at 10:35am
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Statements
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                <a href="finance-statement.html" class="govuk-link">January 2022</a>
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
          </dl>

          <br>

          <h1 class="govuk-heading-m">State history</h1>

          <div class="moj-timeline">

             <div class="moj-timeline__item">
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Submitted</h2>
              </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">15 Feb 2025 at 2:01pm</time>
            </p>
            <div class="moj-timeline__description">
            </div>
          </div>

          <div class="moj-timeline__item">
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Eligible</h2>
              </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">15 Mar 2025 at 2:01pm</time>
            </p>
            <div class="moj-timeline__description">
            </div>
          </div>
        
          <div class="moj-timeline__item">
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Payble</h2>
            </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-07T12:32:00.000Z">7 Apr 2025 at 12:32pm</time>
            </p>
          </div>
        
          <div class="moj-timeline__item">
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Paid</h2>
            </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-06T09:12:00.000Z">16 May 2025 at 9:12am</time>
            </p>
          </div>
          </div>

      </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h1 class="govuk-summary-card__title" govuk-!-font-size-24>
           Retained-1 (paid)
          </h1>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration ID
              </dt>
              <dd class="govuk-summary-list__value">
                ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration date
              </dt>
              <dd class="govuk-summary-list__value">
                1 Nov 2021 at 12:00pm
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Declaration cohort
              </dt>
              <dd class="govuk-summary-list__value">
                2021
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provider 
              </dt>
              <dd class="govuk-summary-list__value">
                Ambition Institute
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Created at
              </dt>
              <dd class="govuk-summary-list__value">
                14 Dec 2021 at 5:26pm
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Updated at
              </dt>
              <dd class="govuk-summary-list__value">
                14 Mar 2022 at 10:35am
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Statements
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                <a href="finance-statement.html" class="govuk-link">January 2022</a>
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
          </dl>

          <br>

          <h1 class="govuk-heading-m">State history</h1>


          <div class="moj-timeline">

             <div class="moj-timeline__item">
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Submitted</h2>
              </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">15 Feb 2025 at 2:01pm</time>
            </p>
            <div class="moj-timeline__description">
            </div>
          </div>

          <div class="moj-timeline__item">
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Eligible</h2>
              </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">15 Mar 2025 at 2:01pm</time>
            </p>
            <div class="moj-timeline__description">
            </div>
          </div>
        
          <div class="moj-timeline__item">
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Payble</h2>
            </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-07T12:32:00.000Z">7 Apr 2025 at 12:32pm</time>
            </p>
          </div>
        
          <div class="moj-timeline__item">
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Paid</h2>
            </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-06T09:12:00.000Z">16 May 2025 at 9:12am</time>
            </p>
          </div>
          </div>
      </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h1 class="govuk-summary-card__title" govuk-!-font-size-24>
           Retained-2 (paid)
          </h1>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration ID
              </dt>
              <dd class="govuk-summary-list__value">
                ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration date
              </dt>
              <dd class="govuk-summary-list__value">
                1 Nov 2021 at 12:00pm
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Declaration cohort
              </dt>
              <dd class="govuk-summary-list__value">
                2021
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provider 
              </dt>
              <dd class="govuk-summary-list__value">
                Ambition Institute
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Created at
              </dt>
              <dd class="govuk-summary-list__value">
                14 Dec 2021 at 5:26pm
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Updated at
              </dt>
              <dd class="govuk-summary-list__value">
                14 Mar 2022 at 10:35am
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Statements
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                <a href="finance-statement.html" class="govuk-link">January 2022</a>
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
          </dl>

          <br>

          <h1 class="govuk-heading-m">State history</h1>


          <div class="moj-timeline">

             <div class="moj-timeline__item">
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Submitted</h2>
              </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">15 Feb 2025 at 2:01pm</time>
            </p>
            <div class="moj-timeline__description">
            </div>
          </div>

          <div class="moj-timeline__item">
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Eligible</h2>
              </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">15 Mar 2025 at 2:01pm</time>
            </p>
            <div class="moj-timeline__description">
            </div>
          </div>
        
          <div class="moj-timeline__item">
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Payble</h2>
            </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-07T12:32:00.000Z">7 Apr 2025 at 12:32pm</time>
            </p>
          </div>
        
          <div class="moj-timeline__item">
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Paid</h2>
            </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-06T09:12:00.000Z">16 May 2025 at 9:12am</time>
            </p>
          </div>
          </div>
      </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h1 class="govuk-summary-card__title" govuk-!-font-size-24>
          Completed (paid)
          </h1>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration ID
              </dt>
              <dd class="govuk-summary-list__value">
                ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declaration date
              </dt>
              <dd class="govuk-summary-list__value">
                1 Nov 2021 at 12:00pm
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Declaration cohort
              </dt>
              <dd class="govuk-summary-list__value">
                2021
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provider 
              </dt>
              <dd class="govuk-summary-list__value">
                Ambition Institute
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Created at
              </dt>
              <dd class="govuk-summary-list__value">
                14 Dec 2021 at 5:26pm
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Updated at
              </dt>
              <dd class="govuk-summary-list__value">
                14 Mar 2022 at 10:35am
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Statements
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                <a href="finance-statement.html" class="govuk-link">January 2022</a>
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
          </dl>

          <br>

          <h1 class="govuk-heading-m">State history</h1>


          <div class="moj-timeline">

             <div class="moj-timeline__item">
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Submitted</h2>
              </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">15 Feb 2025 at 2:01pm</time>
            </p>
            <div class="moj-timeline__description">
            </div>
          </div>

          <div class="moj-timeline__item">
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Eligible</h2>
              </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">15 Mar 2025 at 2:01pm</time>
            </p>
            <div class="moj-timeline__description">
            </div>
          </div>
        
          <div class="moj-timeline__item">
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Payble</h2>
            </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-07T12:32:00.000Z">7 Apr 2025 at 12:32pm</time>
            </p>
          </div>
        
          <div class="moj-timeline__item">
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Paid</h2>
            </div>
            <p class="moj-timeline__date">
              <time datetime="2019-06-06T09:12:00.000Z">16 May 2025 at 9:12am</time>
            </p>
          </div>
          </div>

         
      </div>
      </div>

       
      </div>
      </div>

      
   
{% endblock %}
