{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">


    <div class="govuk-grid-column-full">
      
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              You’ve successfully changed the delivery partner’s name to [Flying High Teaching School Hub].
            </h3>
          </div>
        </div>

        <h1 class="govuk-heading-l">Delivery partners</h1>
      <p>Here’s a list of all delivery partners that help providers deliver NPQs. You can add a new delivery partner and assign them to providers.</p>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          

          <div style="background-color: #f3f2f1; padding: 20px 15px; margin-bottom: 30px;">
          <h1 class="govuk-heading-m">Find a delivery partner</h1>
          <div id="account-number-hint" class="govuk-hint">
            Enter part or all of the delivery partner’s name.
          </div>
          
          <form action="" accept-charset="UTF-8" method="get">
              <div style="display: flex; margin-left: -14px">
                <div class="govuk-form-group govuk-grid-column-two-thirds">
                  <div class="govuk-form-group">
                  
                    <input class="govuk-input" id="event-name" name="eventName" type="text">
                  </div>
                  
                </div>
              </div>

              <div style="display: flex; margin-left: -14px">
                <div class="govuk-form-group govuk-grid-column-two-thirds">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  </div>
                </div>
              </div>
            <button type="submit" formnovalidate="formnovalidate" class="govuk-button search-box__button" data-module="govuk-button" data-prevent-double-click="true" style="margin-left: 0px; margin-bottom: 10px;" data-test="search-button">Search</button>
          </form>
        </div>

         <a href="/admin-v3/new-partner.html" class="govuk-button search-box__button" data-module="govuk-button">
            Add new delivery partner
          </a>

           <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Delivery partner</th>
                <th scope="col" class="govuk-table__header">Actions</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Flying High Teaching School Hub</td>
                <td class="govuk-table__cell"><a href="update-dp">Change name</a> <br> <a href="assign-course-provider.html">Assign provider</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">LEAD Teaching School Hub</td>
                <td class="govuk-table__cell"><a href="">Change name</a> <br> <a href="">Assign provider</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Potentia Teaching School Hub</td>
                <td class="govuk-table__cell"><a href="">Change name</a> <br> <a href="">Assign provider</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Redhill Teaching Hub</td>
                <td class="govuk-table__cell"><a href="">Change name</a> <br> <a href="">Assign provider</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Saffron Teaching School Hub</td>
                <td class="govuk-table__cell"><a href="">Change name</a> <br> <a href="">Assign provider</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Aldridge Education</td>
                <td class="govuk-table__cell"><a href="">Change name</a> <br> <a href="">Assign provider</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Partner name</td>
                <td class="govuk-table__cell"><a href="">Change name</a> <br> <a href="">Assign provider</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Partner name</td>
                <td class="govuk-table__cell"><a href="">Change name</a> <br> <a href="">Assign provider</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Partner name</td>
                <td class="govuk-table__cell"><a href="">Change name</a> <br> <a href="">Assign provider</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Partner name</td>
                <td class="govuk-table__cell"><a href="">Change name</a> <br> <a href="">Assign provider</a></td>
              </tr>
            </tbody>
          </table>

          <nav class="govuk-pagination" aria-label="Pagination">
            <!-- Pagination remains unchanged -->
          </nav>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
