{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
          {{ govukBackLink({
          text: "Back",
          href: "javascript:window.history.back()"
        }) }}
        
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Ambition Institute, January 2025</h1>

        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0 govuk-!-padding-top-0">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Cohort:
    </dt>
    <dd class="govuk-summary-list__value">
      2025 to 2026
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Output payment date:
    </dt>
    <dd class="govuk-summary-list__value">
     23 January 2025
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Payment status:
    </dt>
    <dd class="govuk-summary-list__value">
      Payable
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Payment run:
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
    </dd>
  </div>
  <div class="govuk-summary-list__row ">
    <dt class="govuk-summary-list__key ">
      Milestones:
    </dt>
  </div>
</dl>
 <details class="govuk-details govuk-!-margin-top-0 govuk-!-padding-top-0">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Statment ID
    </span>
  </summary>
  <div class="govuk-details__text ">
    988359048503-24u93u482-234242
  </div>
</details>
       
             <div class="govuk-inset-text">
          Calculations may have minor rounding discrepancies. Contact your contract <br> manager for clarification.
        </div>
        <div class="govuk-grid-column-three-quarters"> 
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
               Statement summary
              </h2>
              <ul class="govuk-summary-card__actions">
                  <a class="govuk-link" href="#">Download declarations (CSV)<span class="govuk-visually-hidden">Download declarations (CSV)</span></a>
              </ul>
          </div>
          <div class="govuk-summary-card__content">

            <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Declarations</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Declaration type</th>
      <th scope="col" class="govuk-table__header">Expected</th>
       <th scope="col" class="govuk-table__header">Recieved</th>
        <th scope="col" class="govuk-table__header">Remaining</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Started</th>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Completed</th>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">Totals</th>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
  </tbody>
</table>
             

            <dl class="govuk-summary-list">
              <h3 class="govuk-heading-m">Payment details</h3>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Expected output payment
                </dt>
                <dd class="govuk-summary-list__value">
                  £0.00
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Output payment date 
                  <p class="govuk-body govuk-hint">This payment takes into account late declarations and voids</p>
                </dt>
                <dd class="govuk-summary-list__value">
                  15 May 2025
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Declaration deadline
                </dt>
                <dd class="govuk-summary-list__value">
                  23 January 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Voids
                </dt>
                <dd class="govuk-summary-list__value">
                  0
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">View voids</a>
                </dd>
              </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Clawbacks
                   <p class="govuk-body govuk-hint">Total value of voids</p>
                </dt>
                <dd class="govuk-summary-list__value">
                  £0.00
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Manual adjustments
                </dt>
                <dd class="govuk-summary-list__value">
                  £0.00
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total net VAT
                </dt>
                <dd class="govuk-summary-list__value">
                 <strong>
                    £0.00
                  </strong>
                </dd>
              </div>
                </dd>
              </div>
            </dl>
          </div>
      
        <div class="govuk-inset-text">
        Save a copy of this statement for:
        <br> <br>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="pdf-statement-providers.html">providers</a></li>
            <li><a href="#">DfE users</a></li>
          </ul>
      </div>

       <h2 class="govuk-heading-m">Additional adjustments</h2>

        <p>There are no other adjustments.</p>

        <a href="add-adjustment.html" class="govuk-button" data-module="govuk-button">
          Make adjustment
        </a>

        <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Course finance details</h1>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  NPD excellence in reception teaching
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                   NPD excellence in reception teaching
                  </h2>
                </div>
                <div class="govuk-summary-card__content">

                <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Payment type</th>
                        <th scope="col" class="govuk-table__header  govuk-table__header--numeric">Participants</th>
                        <th scope="col" class="govuk-table__header  govuk-table__header--numeric">Payment per participant</th>
                        <th scope="col" class="govuk-table__header  govuk-table__header--numeric">Course total</th>
                      </tr>
                      <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Started</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£390.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£260.00</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Completed</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£390.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£520.00</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total not eligible for funding</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Course total</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£910.00</td>
    </tr>
  </tbody>
                    </thead>
                    </table>
         </div>     
      </div> 
      </div>
      </div>
    </div>
    <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contract information
    </span>
  </summary>
  <div class="govuk-details__text">
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Course</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Recruitment target</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payment per paticipant</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">NPD excellence in reception teaching</td>
       <td class="govuk-table__cell govuk-table__cell--numeric">72</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£650</td>
         <td class="govuk-table__cell"></td>
    </tr>
   
  </tbody>
</table>
  </div>
</details>
  </div> 
{% endblock %}
