{% extends "layout-admin.html" %}

{% block content %}
<div class="govuk-grid-row">


  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-grid-column-full">
      <a href="delivery-partners.html" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-l">Flying high teaching school hub</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Flying High Teaching School Hub
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-dp.html">Change name<span class="govuk-visually-hidden">Change name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Delivery partner ID
            </dt>
            <dd class="govuk-summary-list__value">
              0594fe7b-fcd2-4f3f-9e8d-17ab5538a2b9
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of providers assigned to
            </dt>
            <dd class="govuk-summary-list__value">
               7
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="assign-course-provider.html">Assign provider<span class="govuk-visually-hidden"> assign provider</span></a>
            </dd>
          </div>
         
        </dl>

        <br>


         <h2 class="govuk-heading-m">Provider partnerships</h2>
         <p>Use the table below to check which providers this delivery partner has worked with, and for which cohorts.<br>
<br> Select a provider to review all delivery partners they have worked with.</p>

          <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Providers</th>
                  <th scope="col" class="govuk-table__header">Cohorts</th>
                </tr>
              </thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a class="govuk-link" href="/admin-v3/ambition">Ambition institute</a>
    </td>
    <td class="govuk-table__cell">2025 to 2026<br>2024 to 2025<br>2023 to 2024 </td>
    <td class="govuk-table__cell">
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a class="govuk-link" href="/admin-v3/teach-first">Teach First</a>
    </td>
    <td class="govuk-table__cell">2025 to 2026<br>2024 to 2025<br>2023 to 2024 </td>
    <td class="govuk-table__cell">
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a class="govuk-link" href="/admin-v3/llse">LLSE</a>
    </td>
    <td class="govuk-table__cell">2025 to 2026<br>2024 to 2025<br>2023 to 2024 </td>
    <td class="govuk-table__cell">
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a class="govuk-link" href="/admin-v3/tdt">Teacher Development Trust</a>
    </td>
    <td class="govuk-table__cell">2025 to 2026<br>2024 to 2025<br>2023 to 2024 </td>
    <td class="govuk-table__cell">
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a class="govuk-link" href="/admin-v3/tdt">Teacher Development Trust</a>
    </td>
    <td class="govuk-table__cell">2025 to 2026<br>2024 to 2025<br>2023 to 2024 </td>
    <td class="govuk-table__cell">
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a class="govuk-link" href="/admin-v3/teach-first">Teach First</a>
    </td>
    <td class="govuk-table__cell">2025 to 2026<br>2024 to 2025<br>2023 to 2024 </td>
    <td class="govuk-table__cell">
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a class="govuk-link" href="/admin-v3/tdt">Teacher Development Trust</a>
    </td>
    <td class="govuk-table__cell">2025 to 2026<br>2024 to 2025<br>2023 to 2024 </td>
    <td class="govuk-table__cell">
    </td>
  </tr>
</tbody>

            </table>

 <nav class="govuk-pagination" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
        1
      </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>

</div>
  </div>
</div>
{% endblock %}
