{% extends "layout-admin.html" %}

{% block content %}
<div class="govuk-grid-row">


  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-grid-column-full">
      <a href="delivery-partners.html" class="govuk-back-link">Back</a>  <a href="flying-dp-details.html">option a</a>
      <h1 class="govuk-heading-l">Flying high teaching school hub</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ID
            </dt>
            <dd class="govuk-summary-list__value">
              0594fe7b-fcd2-4f3f-9e8d-17ab5538a2b9
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Flying High Teaching School Hub
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-dp.html">Change name<span class="govuk-visually-hidden">Change name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of providers assigned
            </dt>
            <dd class="govuk-summary-list__value">
               10
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="assign-course-provider.html">Assign provider<span class="govuk-visually-hidden"> assign provider</span></a>
            </dd>
          </div>
         
        </dl>

        <br>


         <h2 class="govuk-heading-m">Associated providers</h2>

        <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#ambition">
              Ambition institute
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#teach-first">
              Teach First
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#llse">
              LLSE
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#tdt">
              TDT
            </a>
          </li>
           <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#niot">
              NSoE
            </a>
          </li>
           <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#bpn">
             BPN
            </a>
          </li>
            <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#ucl">
             UCL  
            </a>
          </li>
           <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#niot">
            NIoT
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="ambition">
          <h2 class="govuk-heading-l">Ambition Institute</h2>
           <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Cohort</th>
                  <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                   <td class="govuk-table__cell">2025 to 2026</td>
                   <td class="govuk-table__cell">
                     <a class="govuk-link" href="/admin-v3/ambition">View</a>
                   </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">2024 to 2025</td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">2023 to 2024</td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                   <td class="govuk-table__cell">2022 to 2023</td>
                   <td class="govuk-table__cell">
                     <a class="govuk-link" href="#">View</a>
                   </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">2021 to 2022</td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                  </td>
                </tr>
                
              </tbody>
            </table>
        </div>
        
      </div>

        



</div>
  </div>
</div>
{% endblock %}
