{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="applications.html" class="govuk-!-font-size-16">All applications</a>
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="registrations-review" aria-current="location" class="govuk-!-font-size-16">In review</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <!-- {{ govukNotificationBanner({
        text: "Carlton Shanahan JD's funding status has been updated successfully.",
        type: 'success'
      }) }} -->
      <h1 class="govuk-heading-l">Registrations in review</h1> 

      <div style="background-color: #f3f2f1; padding: 20px 15px; margin-bottom: 30px;">
        <h1 class="govuk-heading-m">Find a registration</h1>
        <form action="" accept-charset="UTF-8" method="get">
          <div class="govuk-form-group"><label for="query-field" class="govuk-label govuk-label--s">Enter the User ID, name, email address, employer name, or application ID</label><input id="query-field" class="govuk-input" type="text" name="query"></div>
            <div style="display: flex; margin-left: -14px">
              <div class="govuk-form-group govuk-grid-column-two-thirds">

                <label for="funding-eligiblity-status-code-field" class="govuk-label govuk-label--s">Review status</label>
                <select id="funding-eligiblity-status-code-field" class="govuk-select" name="Funding eligiblity status code"><option value=""></option>
                
                  <option value="funded">Needs review</option>
                  <option value="funded">Awaiting information</option>
                  <option value="funded">Decision made</option>
                  <option value="funded">Re-register</option>
                
                <!-- <optgroup label="Legacy statuses">
                  <option value="funded">funded</option>
                  <option value="no_institution">no institution</option>
                  <option value="ineligible_establishment_type">ineligible establishment type</option>
                  <option value="ineligible_institution_type">ineligible institution type</option>
                  <option value="previously_funded">previously funded</option>
                  <option value="not_new_headteacher_requesting_ehco">not new headteacher requesting ehco</option>
                  <option value="school_outside_catchment">school outside catchment</option>
                  <option value="early_years_outside_catchment">early years outside catchment</option>
                  <option value="not_on_early_years_register">not on early years register</option>
                  <option value="early_years_invalid_npq">early years invalid npq</option>
                  <option value="marked_funded_by_policy">marked funded by policy</option>
                  <option value="marked_ineligible_by_policy">marked ineligible by policy</option> -->
                </select>
                </optgroup>
              </div>
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <label for="employment-type-field" class="govuk-label govuk-label--s">Employment type</label>
                <select id="employment-type-field" class="govuk-select" name="Employment type"><option value=""></option>
                  <option value="hospital_school">Hospital school</option>
                  <option value="local_authority_supply_teacher">Local authority supply teacher</option>
                  <option value="local_authority_virtual_school">Local authority virtual school</option>
                  <option value="young_offender_institution">Young offender institution</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
            <div style="display: flex; margin-left: -14px">
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <label for="funding-eligiblity" class="govuk-label govuk-label--s">Eligible for funding</label>
                <select id="funding-eligiblity" class="govuk-select" name="Funding eligiblity status code"><option value=""></option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </div>
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <label for="referral-field" class="govuk-label govuk-label--s">Referred by return to teaching adviser</label>
                <select id="referral-field" class="govuk-select" name="Referral"><option value=""></option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div style="display: flex; margin-left: -14px">
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="nationality">
                      Show registrations without a funding decision
                    </label>
                  </div>
                </div>
              </div>
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <label for="employment-type-field" class="govuk-label govuk-label--s">Year of registration</label><select id="employment-type-field" class="govuk-select" name="Employment type"><option value=""></option>
                <option value="hospital_school">2025 to 2026</option>
                <option value="other">2024 to 2025</option>
                <option value="local_authority_virtual_school">2023 to 2024</option>
                <option value="young_offender_institution">2022 to 2023</option>
                <option value="young_offender_institution">2021 to 2022</option>
              </select>
              </div>

            </div>
          <button type="submit" formnovalidate="formnovalidate" class="govuk-button search-box__button" data-module="govuk-button" data-prevent-double-click="true" style="margin-left: 0px; margin-bottom: 10px;" data-test="search-button">Search</button>
        </form>
      </div>

      <table class="govuk-table govuk-!-font-size-16" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Submitted</th>
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Review status</th>
            <th scope="col" class="govuk-table__header">Eligible for funding</th>
            <th scope="col" class="govuk-table__header">Provider approval status</th>
            <th scope="col" class="govuk-table__header">Notes</th>
            <th scope="col" class="govuk-table__header">Registration details</th>
           
          </tr>
        </thead>
        <div class="govuk-form-group" style="display:flex; align-items:center; gap:12px; justify-content:flex-end;">
  <label class="govuk-label govuk-label--s" for="sort" style="margin:0;">
    Sort by
  </label>
  <select class="govuk-select" id="sort" name="sort" style="min-width:180px;">
    <option value="updated" selected>Newest submissions first</option>
    <option value="views">Oldest submissions first</option>
  </select>
</div>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">

            <td class="govuk-table__cell">{{ data['registration3--submitted-date'] }}</td>

            <td scope="row" class="govuk-table__cell">
             <strong>Jorge Hund</strong>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data['registration1--employment-type'] }} </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['registration1--employer'] }}</p>
            </td>
            <td class="govuk-table__cell">
              {% if (data['registration1--review-status'] == "Decision made") %}
                {{govukTag({
                  text: data['registration1--review-status'],
                  classes: "govuk-tag--grey"
                })}}
              {% elseif (data['registration1--review-status'] == "Re-register") %}
                {{govukTag({
                  text: data['registration1--review-status'],
                  classes: "govuk-tag--grey"
                })}}
              {% elseif (data['registration1--review-status'] == "Awaiting information") %}
                {{govukTag({
                  text: data['registration1--review-status'],
                  classes: "govuk-tag--yellow"
                })}}
              {% else %}
                {{govukTag({
                  text: data['registration1--review-status'],
                  classes: "govuk-tag--blue"
                })}}
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              Yes
            </td>
            <td class="govuk-table__cell">{{ data['registration1--provider-status'] }}</td>
            <td class="govuk-table__cell">{{ data['registration1--notes'] }}..</td>
            <td class="govuk-table__cell"><a href="/admin-v3/registration-1/ltd-130824">View</a></td>
          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">{{ data['registration3--submitted-date'] }}</td>
            

            <td scope="row" class="govuk-table__cell">
              <strong>Shahira Donald</strong>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data['registration2--employment-type'] }} </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['registration2--employer'] }}</p>
            </td>
            <td class="govuk-table__cell">
              {% if (data['registration2--review-status'] == "Decision made") %}
                {{govukTag({
                  text: data['registration2--review-status'],
                  classes: "govuk-tag--grey"
                })}}
              {% elseif (data['registration2--review-status'] == "Re-register") %}
                {{govukTag({
                  text: data['registration2--review-status'],
                  classes: "govuk-tag--grey"
                })}}
              {% elseif (data['registration2--review-status'] == "Awaiting information") %}
                {{govukTag({
                  text: data['registration2--review-status'],
                  classes: "govuk-tag--yellow"
                })}}
              {% else %}
                {{govukTag({
                  text: data['registration2--review-status'],
                  classes: "govuk-tag--blue"
                })}}
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              No
            </td>
            <td class="govuk-table__cell">{{ data['registration2--provider-status'] }}</td>
            <td class="govuk-table__cell">{{ data['registration2--notes'] }}..</td>
            <td class="govuk-table__cell"><a href="">View</a></td>

          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">{{ data['registration3--submitted-date'] }}</td>



            <td scope="row" class="govuk-table__cell">
              <strong>Lynne Howe</strong>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data['registration3--employment-type'] }} </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['registration3--employer'] }}</p>
            </td>

            <td class="govuk-table__cell">

              {% if (data['registration3--review-status'] == "Decision made") %}
                {{govukTag({
                  text: data['registration3--review-status'],
                  classes: "govuk-tag--grey"
                })}}
              {% elseif (data['registration3--review-status'] == "Re-register") %}
                {{govukTag({
                  text: data['registration3--review-status'],
                  classes: "govuk-tag--grey"
                })}}
              {% elseif (data['registration3--review-status'] == "Awaiting information") %}
                {{govukTag({
                  text: data['registration3--review-status'],
                  classes: "govuk-tag--yellow"
                })}}
              {% else %}
                {{govukTag({
                  text: data['registration3--review-status'],
                  classes: "govuk-tag--blue"
                })}}
              {% endif %}
            </td>

            <td class="govuk-table__cell">
              
            </td>
            <td class="govuk-table__cell">{{ data['registration3--provider-status'] }}</td>
            <td class="govuk-table__cell">{{ data['registration3--notes'] }}..</td>
            <td class="govuk-table__cell"><a href="">View</a></td>
          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">4 Apr 2024<br> 11:28am</td>


            <td scope="row" class="govuk-table__cell">
              <strong>Annamaria Green</strong>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data['registration4--employment-type'] }} </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['registration4--employer'] }}</p>
            </td>
            <td class="govuk-table__cell">
              {% if (data['registration4--review-status'] == "Decision made") %}
                {{govukTag({
                  text: data['registration4--review-status'],
                  classes: "govuk-tag--grey"
                })}}
              {% elseif (data['registration4--review-status'] == "Re-register") %}
                {{govukTag({
                  text: data['registration4--review-status'],
                  classes: "govuk-tag--grey"
                })}}
              {% elseif (data['registration4--review-status'] == "Awaiting information") %}
                {{govukTag({
                  text: data['registration4--review-status'],
                  classes: "govuk-tag--yellow"
                })}}
              {% else %}
                {{govukTag({
                  text: data['registration4--review-status'],
                  classes: "govuk-tag--blue"
                })}}
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              No
            </td>
            <td class="govuk-table__cell">{{ data['registration4--provider-status'] }}</td>
            <td class="govuk-table__cell">{{ data['registration4--notes'] }}..</td>
            <td class="govuk-table__cell"><a href="">View</a></td>
          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">4 Apr 2024<br> 11:28am</td>

            <td scope="row" class="govuk-table__cell">
               <strong>Carlton Shanahan JD</strong>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Hospital school </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">Grandview Grammar School</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Re-register",
                classes: "govuk-tag--grey"
              })}}
            </td>
            <td class="govuk-table__cell">
              
            </td>
            <td class="govuk-table__cell">Rejected</td>
            <td class="govuk-table__cell">15/04: NG Rejected by provider, no need to review.</td>
            <td class="govuk-table__cell"><a href="">View</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">4 Apr 2024<br> 11:28am</td>

            <td scope="row" class="govuk-table__cell">
             <strong>Fareed Eilert</strong>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Hospital school </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">Meadows Ridge Academy</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Decision made",
                classes: "govuk-tag--grey"
              })}}
            </td>
            <td class="govuk-table__cell">
                {{govukTag({
                  text: "Yes",
                  classes: "govuk-tag--green"
                })}}
            </td>
            <td class="govuk-table__cell">Accepted</td>
            <td class="govuk-table__cell">05/04: BC Looks eligible. Meadows Ridge Academy is a virtual school.</td>
            <td class="govuk-table__cell"><a href="">View</a></td>
          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">4 Apr 2024<br> 11:28am</td>

            <td scope="row" class="govuk-table__cell">
              <strong>Aiga Villum</strong>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Supply teacher </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">Bristol City Council</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Decision made",
                classes: "govuk-tag--grey"
              })}}
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "No",
                classes: "govuk-tag--red"
              })}}
            </td>
            <td class="govuk-table__cell">Accepted</td>
            <td class="govuk-table__cell">15/04: NG sent email sent to user to confirm non-eligibility. 12/04: CD Agree not eligible. 11/04: AB Not eligible - in support role, not teaching...</td>
            <td class="govuk-table__cell"><a href="">View</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">3 Apr 2024<br> 10:02am</td>


            <td scope="row" class="govuk-table__cell">
             <strong>Colin Winter</strong>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Young offender institution</p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">Meadows Ridge Academy</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Re-register",
                classes: "govuk-tag--grey"
              })}}
            </td>
            <td class="govuk-table__cell">
              Yes
            </td>
            <td class="govuk-table__cell">Rejected</td>
            <td class="govuk-table__cell">05/04: RD: Reregister email sent (Digital #00000)...</td>
            <td class="govuk-table__cell"><a href="">View</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">3 Apr 2024<br> 10:02am</td>

            <td scope="row" class="govuk-table__cell">
              <strong>Bobby Small</strong>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Supply teacher </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">Lambeth Council</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Decision made",
                classes: "govuk-tag--grey"
              })}}
            </td>
            <td class="govuk-table__cell">
                {{govukTag({
                  text: "Yes",
                  classes: "govuk-tag--green"
                })}}
            </td>
            <td class="govuk-table__cell">Accepted</td>
            <td class="govuk-table__cell">01/04: LP agree...</td>
            <td class="govuk-table__cell"><a href="">View</a></td>
          </tr>
        </tbody>
      </table>

      <nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">
              Previous<span class="govuk-visually-hidden"> page</span>
            </span>
          </a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
              1
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>




    </div>
  </div>
      
{% endblock %}
