{% extends "layout-admin.html" %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">


        <h4 class="moj-side-navigation__title">Applications</h4>
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="/admin-v3/applications" class="govuk-!-font-size-16">All applications</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="/admin-v3/registrations-review" class="govuk-!-font-size-16">In review</a>
          </li>





      <h4 class="moj-side-navigation__title">Lorelai Gilmore</h4>
       
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
            <a href="overview.html" class="govuk-!-font-size-16">Overview</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-details.html" aria-current="location" class="govuk-!-font-size-16">Leading teacher development NPQ, 17 October 2024</a>
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="state-history-b.html" class="govuk-!-font-size-16">Declaration state history</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-history-1.html" class="govuk-!-font-size-16">Application history</a>
          </li>
         
           
        </ul>
      </nav>
    </div>






    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Declaration state history</h1>
      <br>
      <h1 class="govuk-heading-m govuk-!-margin-bottom-1">Lorelai Gilmore</h1>
      <p class="govuk-!-margin-bottom-2"><strong>User ID:</strong> 123456</p>
      <p class="govuk-!-margin-bottom-2"><strong>Email:</strong> gilmore.girls@google.com</p>
      <p class="govuk-!-margin-bottom-2"><strong>Date of birth:</strong> 30 October 2020 | <strong> National Insurance: </strong> JH576827D</p>
      <p class="govuk-!-margin-bottom-1"><strong>TRN: </strong>1234567 <strong class="govuk-tag govuk-tag--green"> Verified</strong> <a href="/admin-v3/changetrn.html">Change</a></p>
      <p class="govuk-!-margin-bottom-6"><strong>Get an Identity ID: </strong>11ab2c36-55f8-00r3-776f-56781jj03214o</p>


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Declarations
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h1 class="govuk-summary-card__title" govuk-!-font-size-24>
                Declarations
              </h1>        
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Role
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Employment type
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Training status 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Private childcare provider URN
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Headteacher status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Number of pupils
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    School URN
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">View school URN<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
                  </dd>
                </div>
    
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    School UKPRN
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Country
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    ITT lead mentor
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    ITT provider
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Fundeded place
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Works in England
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Work setting
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Value
                  </dd>
                </div>
  
        </div>
      </details>

      <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Started
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Retained-1
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Completed
      </a>
    </li>
    
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Started</h2>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Declaration ID
      </dt>
      <dd class="govuk-summary-list__value">
        ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
      </dd>
    </div>

    <div class="moj-timeline">
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Paid</h2>
    
        
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">15 Aug 2025 at 2:01pm</time>
        </p>
    
        <div class="moj-timeline__description">
        </div>
    
      </div>
    
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Payable</h2>
    
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-07T12:32:00.000Z">7 July 2025 at 12:32pm</time>
        </p>
    
    
      </div>
    
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Eligible</h2>
    
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-06T09:12:00.000Z">16 June 2025 at 9:12am</time>
        </p>
    
    
      </div>
    
    
    </div>
    
    
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Retained-1</h2>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Declaration ID
      </dt>
      <dd class="govuk-summary-list__value">
        ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
      </dd>
    </div>

    <div class="moj-timeline">
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Paid</h2>
    
        
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">15 Aug 2025 at 2:01pm</time>
        </p>
    
        <div class="moj-timeline__description">
        </div>
    
      </div>
    
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Payable</h2>
    
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-07T12:32:00.000Z">7 July 2025 at 12:32pm</time>
        </p>
    
    
      </div>
    
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Eligible</h2>
    
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-06T09:12:00.000Z">16 June 2025 at 9:12am</time>
        </p>
    
    
      </div>
    
    
    </div>
     
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Completed</h2>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Declaration ID
      </dt>
      <dd class="govuk-summary-list__value">
        ofij4-lkesnd-nosgnj98-apgogsk-27sjfa
      </dd>
    </div>

    <div class="moj-timeline">
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Paid</h2>
    
        
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">15 Aug 2025 at 2:01pm</time>
        </p>
    
        <div class="moj-timeline__description">
        </div>
    
      </div>
    
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Payable</h2>
    
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-07T12:32:00.000Z">7 July 2025 at 12:32pm</time>
        </p>
    
    
      </div>
    
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Eligible</h2>
    
    
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2019-06-06T09:12:00.000Z">16 June 2025 at 9:12am</time>
        </p>
    
    
      </div>
    
    
    </div>
    
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Past year</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1380</td>
          <td class="govuk-table__cell">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1129</td>
          <td class="govuk-table__cell">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">1539</td>
          <td class="govuk-table__cell">1265</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

       
              
     
      






   
{% endblock %}
