 {% extends "layout-admin.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <h4 class="moj-side-navigation__title">Settings</h4>
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="settings.html" aria-current="location">Course start date</a>
          </li>
  
          <li class="moj-side-navigation__item">
            <a href="email-sub.html">Email subscriptions</a>
          </li>
  
          <li class="moj-side-navigation__item">
            <a href="users.html">Admin users</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="flags.html">Feature flags</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="messages.html">Webhook messages</a>
          </li>
          

          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="closed-reg.html">Closed registrations</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            You've removed all users who could make a late registration.
          </h3>
        </div>
      </div>

     

    <p>
      There are no users who can make a late registration while the service is closed. You must add users manually to give access.
    </p>

    <div style="background-color: #f3f2f1; padding: 20px 15px; margin-bottom: 30px;">

      <div class="moj-search">

        <form action="#" method="post">
      
          <div class="govuk-form-group">
            <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
              Add a user
            </label>
      
            <div id="search-hint" class="govuk-hint moj-search__hint ">
              Enter their email address:
            </div>
      
            <div class="govuk-input-wrapper" style="display: flex; align-items: center;">
              <input class="govuk-input moj-search__input" id="search" name="search" type="search" aria-describedby="search-hint">
              <button type="submit" class="govuk-button moj-search__button" data-module="govuk-button" style="margin-left: 10px; vertical-align: middle;">
                Add
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>



      
     
    
      

  {% endblock %}
 





 