{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
   
      
     

      

    <h1 class="govuk-heading-l">Testing </h1>
    
    <div class="card">
      <img src="/public/images/case.png" alt="case" class="case">
      <div class="card-text">
        <h3>Applicant starts a course</h3>
        <p>Search and apply for courses in England, Scotland and Wales.</p>
      </div>
    </div>

    <br>

     <div class="card">
      <img src="/public/images/participant.png" alt="participant" class="participant">
      <div class="card-text">
        <h3>Applicant starts a course</h3>
        <p>Search and apply for courses in England, Scotland and Wales.</p>
      </div>
    </div>

    <br>
    
     <div class="card">
      <img src="/public/images/participant.png" alt="participant" class="participant">
      <div class="card-text">
        <h3>Applicant starts a course</h3>
        <p>Search and apply for courses in England, Scotland and Wales.</p>
      </div>
    </div>

      <br>

    <div class="card">
      <img src="/public/images/participant.png" alt="participant" class="participant">
      <div class="card-text">
        <h3>Applicant starts a course</h3>
        <p>Search and apply for courses in England, Scotland and Wales.</p>
      </div>
    </div>



     
      

      

    </div>
  </div>
{% endblock %}
