{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="app-details.html" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-l">Transfer provider</h1>
      
      <p class="govuk-body">[Lorelai Gilmore] can be transferred to another provider as they have declarations in one or more of the following states:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>submitted</li>
  <li>eligible</li>
  <li>payable</li>
  <li>paid</li>
  <li>awaiting clawback</li>
</ul>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Before continuing with this transfer, make sure the provider has submitted their declarations for this application.
  </strong>
</div>

<div class="govuk-inset-text">
  <strong>Current provider</strong><br>
  Ambition
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Choose a provider to transfer them to:
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-1" name="whereDoYouLive" type="radio" value="Best Practice Network">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-1">
          Best Practice Network
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="National Society for Education">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          National Society for Education
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="LLSE" aria-describedby="whereDoYouLive-3-hint">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
          LLSE
        </label>
        <div id="whereDoYouLive-3-hint" class="govuk-hint govuk-radios__hint">
          (Not offering [course name] for the latest cohort)
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="National Institute of Teaching">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          National Institute of Teaching
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-5" name="whereDoYouLive" type="radio" value="Teach First" aria-describedby="whereDoYouLive-5-hint">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-5">
          Teach First
        </label>
        <div id="whereDoYouLive-5-hint" class="govuk-hint govuk-radios__hint">
          (Not offering [course name] for the latest cohort)
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="Teacher Development Trust">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
          Teacher Development Trust
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-7" name="whereDoYouLive" type="radio" value="UCL Institute of Education">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-7">
          UCL Institute of Education
        </label>
      </div>
    </div>
  </fieldset>
</div>


<div class="govuk-button-group">
  <a href="app-details-transferred.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Transfer provider
  </a>
  <a class="govuk-link" href="app-details.html">Cancel</a>
</div>



    </div>
  </div>
{% endblock %}
