{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Users</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">  

      <div style="background-color: #f3f2f1; padding: 20px 15px; margin-bottom: 30px;">
        <h1 class="govuk-heading-m">Find a user</h1>
        <div id="account-number-hint" class="govuk-hint">
          Search by the user's name, teacher reference number (TRN), <br> application ID or declaration ID
        </div>
         
        <form action="" accept-charset="UTF-8" method="get">
            <div style="display: flex; margin-left: -14px">
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                 
                  <input class="govuk-input" id="event-name" name="eventName" type="text">
                </div>
                
              </div>
            </div>

            <div style="display: flex; margin-left: -14px">
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                </div>
              </div>
            </div>
          <button type="submit" formnovalidate="formnovalidate" class="govuk-button search-box__button" data-module="govuk-button" data-prevent-double-click="true" style="margin-left: 0px; margin-bottom: 10px;" data-test="search-button">Search</button>
        </form>
      </div>

      
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">TRN</th>
            <th scope="col" class="govuk-table__header">Date added</th>


          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/admin-v3/overview">Lorelai Gilmore</a></td>
            <td class="govuk-table__cell">1234567</td>
            <td class="govuk-table__cell">11 May 2021</td>


          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/admin-v3/registration-1/overview">Jorge Hund </a></td>
            <td class="govuk-table__cell">8765421</td>
            <td class="govuk-table__cell">13 May 2022</td>


          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Jim Bob </a></td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">20 May 2024</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Garry Barlow </a></td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">9 May 2024</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Jane Smith </a></td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">1 May 2023</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Frank Cumberland </a></td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">20 May 2023</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Dame Edna </a></td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">20 May 2024</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Julie Walters </a></td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">18 May 2022</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Maxine Peake </a></td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">10 May 2022</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Stevie Wonder </a></td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">27 May 2024</td>

          </tr>
        </tbody>
      </table>

      <nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">
              Previous<span class="govuk-visually-hidden"> page</span>
            </span>
          </a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
              1
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>

    </div>

  

    </div>
  </div>
{% endblock %}
