{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <a href="app-details.html" class="govuk-back-link">Back</a>


    
      <h1 class="govuk-heading-l">Workplaces</h1>
        <p class="govuk-body">Search for a workplace to find its:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>Unique Reference Number (URN)</li>
          <li>UK Provider Reference Number (UKPRN)</li>
          <li>local authority</li>
          <li>address</li>
        </ul>


      <div style="background-color: #f3f2f1; padding: 20px 15px; margin-bottom: 30px;">
        <h1 class="govuk-heading-m">Find a workplace</h1>
        <div id="account-number-hint" class="govuk-hint">
          Search by entering the workplace name or its Unique Reference Number (URN)
        </div>
         
        <form action="" accept-charset="UTF-8" method="get">
            <div style="display: flex; margin-left: -14px">
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                 
                  <input class="govuk-input" id="event-name" name="eventName" type="text">
                </div>
                
              </div>
            </div>

            <div style="display: flex; margin-left: -14px">
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                </div>
              </div>
            </div>
          <button type="submit" formnovalidate="formnovalidate" class="govuk-button search-box__button" data-module="govuk-button" data-prevent-double-click="true" style="margin-left: 0px; margin-bottom: 10px;" data-test="search-button">Search</button>
        </form>
      </div>

      




      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Workplace name</th>
            <th scope="col" class="govuk-table__header">ID</th>
            <th scope="col" class="govuk-table__header">URN (unique reference number)</th>
            <th scope="col" class="govuk-table__header">UKPRN (UK provider reference number)</th>
            <th scope="col" class="govuk-table__header">Local authority</th>
            <th scope="col" class="govuk-table__header">Address</th>
            
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Abacus Belsize Primary School  </td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">10029085</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
          </tr>
           
        </tbody>
      </table>

   

      


    </div>
  </div>
{% endblock %}
