{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
      <h1 class="govuk-heading-l">Workplaces</h1>
      <p class="govuk-body">Search for a workplace to find its:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>ID</li>
  <li>Unique Reference Number (URN)</li>
  <li>UK Provider Reference Number (UKPRN)</li>
  <li>local authority</li>
  <li>address</li>
</ul>


      <div style="background-color: #f3f2f1; padding: 20px 15px; margin-bottom: 30px;">
        <h1 class="govuk-heading-m">Find a workplace</h1>
        <div id="account-number-hint" class="govuk-hint">
          Search by entering the workplace name or its Unique Reference Number (URN)
        </div>
         
        <form action="" accept-charset="UTF-8" method="get">
            <div style="display: flex; margin-left: -14px">
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                 
                  <input class="govuk-input" id="event-name" name="eventName" type="text">
                </div>
                
              </div>
            </div>

            <div style="display: flex; margin-left: -14px">
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                </div>
              </div>
            </div>
          <button type="submit" formnovalidate="formnovalidate" class="govuk-button search-box__button" data-module="govuk-button" data-prevent-double-click="true" style="margin-left: 0px; margin-bottom: 10px;" data-test="search-button">Search</button>
        </form>
      </div>

      




      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Workplace name</th>
            <th scope="col" class="govuk-table__header">ID</th>
            <th scope="col" class="govuk-table__header">URN (unique reference number)</th>
            <th scope="col" class="govuk-table__header">UKPRN (UK provider reference number)</th>
            <th scope="col" class="govuk-table__header">Local authority</th>
            <th scope="col" class="govuk-table__header">Address</th>
            
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Loreto College  </td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">10029085</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> St Ambrose Barlow RC High School </td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
            
            
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> St Lukes Primary School  </td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Oasis Academy </td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Moorside High School  </td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Peel Hall Primary School  </td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> St Monica's High School  </td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">  Essa Academy  </td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Harper Green School </a></td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> urton Academy  </td>
            <td class="govuk-table__cell">123456</td>
            <td class="govuk-table__cell">12345</td>
            <td class="govuk-table__cell">789012</td>
            <td class="govuk-table__cell">Oxfordshire</td>
            <td class="govuk-table__cell">Abingdon-on-Thames, Oxfordshire, OX14 1DE</td>
          </tr>
        </tbody>
      </table>

      <nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">
              Previous<span class="govuk-visually-hidden"> page</span>
            </span>
          </a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
              1
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>

      


    </div>
  </div>
{% endblock %}
