{% extends "layout-admin.html" %}

{% block content %}
  {% set reviewStatusHTML %}
  {% if (data['registration1--review-status'] == "Decision made") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
  {% elseif (data['registration1--review-status'] == "Re-register") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
  {% elseif (data['registration1--review-status'] == "Awaiting information") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--yellow"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--blue"
    })}}
  {% endif %}
  {% endset %}

  {% set providerStatusHTML %}
  {% if (data['registration1--provider-status'] == "Pending") %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--yellow"
    })}}
  {% elseif (data['registration1--provider-status'] == "Approved") %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--green"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--red"
    })}}
  {% endif %}
  {% endset %}

  {% set fundingStatusHTML %}
  {% if (data['registration1--review-status'] != "Decision made") %}
    No
  {% elseif (data['registration1--funding-status'] == "Yes") %}
    {{govukTag({
      text: data['registration1--funding-status'],
      classes: "govuk-tag--green"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--funding-status'],
      classes: "govuk-tag--red"
    })}}
  {% endif %}
  {% endset %}

  {% set ineligiblereasonHTML %}
    {% if (data['registration1--ineligible-reason'] == "Other") %}
      {{ data['registration1--ineligible-reason'] }} – {{ data['registration1--ineligible-reason--other'] }}
    {% elseif (data['registration1--ineligible-reason'] == "Not an eligible establishment type") %}
      {{ data['registration1--ineligible-reason'] }} – {{ data['registration1--ineligible-reason--establishment'] }}
    {% else %}
      {{ data['registration1--ineligible-reason'] }} 
    {% endif %}
  {% endset %}

  {% set apiHTML %}
    <pre><code>{ 
  "data": { 
    "id": "74d6ca58-45ee-494f-a0c9-ce64800350fe", 
      "type": "npq_application", 
      "attributes": { 
        "course_identifier": "npq-senco", 
        "email": "bhavishasoma@yahoo.co.uk", 
        "email_Verified": true, 
        "employer_name": null, 
        "employment_role": null, 
        "full_name": "Bhavisha Soma", 
        "funding_choice": null, 
        "headteacher_status": null, 
        "ineligible_for_funding_reason": null, 
        "participant_id": "9ea1765d-cee9-4eb1-8e01-d728a6b9fefd", 
        "private_childcare_provider_urn": null, 
        "teacher_reference_number": "1154737", 
        "teacher_reference_number_verified": true, 
        "school_urn": "138621", 
        "school_ukprn": "10038682", 
        "status": "accepted", 
        "works_in_school": true, 
        "funded_place": true, 
        "created_at": "2024-08-09T12:29:10Z", 
        "updated_at": "2024-08-09T13:10:05Z", 
        "cohort": "2024", 
        "eligible_for_funding": true, 
        "targeted_delivery_funding_eligibility": false, 
        "teacher_catchment": true, 
        "teacher_catchment_iso_country_code": "GBR", 
        "teacher_catchment_country": "United Kingdom of Great Britain and Northern Ireland", 
        "itt_provider": null, 
        "lead_mentor": false, 
        "schedule_identifier": "npq-leadership-autumn" 
      }
    }
 }</code></pre>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
          </li>
          
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="ltd-130824" aria-current="location" class="govuk-!-font-size-16">Registration details</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="/admin-v3/registration-1/app-history-1.html" class="govuk-!-font-size-16">Registration history</a>
          </li>
          
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <a href="/admin-v3/registrations-review.html" class="govuk-back-link">Back</a>

      <span class="govuk-caption-l">Jorge Hund, NPQ Leading teacher development (NPQLTD), 10 Sept 2025</span>
      <h1 class="govuk-heading-l">Registration details</h1>
      


      {{ govukSummaryList({
        card: {
          title: {
            text: 'Course details',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
          {
            key: {
              text: "Course"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Provider"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "Provider approval status"
            },
            value: {
              text: "Accepted"
            },
            actions: {
              items: [
                {
                  href: "change-to-pending-in-review.html",
                  text: "Change to pending"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Funding eligibility',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
          {
            key: {
              text: "Review status"
            },
            value: {
              html: reviewStatusHTML
            },
            actions: {
              items: [
                {
                  href: "../registration-1/set-status",
                  text: "Change",
                  visuallyHiddenText: "review status"
                }
              ]
            }
          },
          {
            key: {
              text: "Eligible for funding"
            },
            value: {
              html: fundingStatusHTML
            },
            actions: {
              items: [
                {
                  href: "../registration-1/set-eligibility",
                  text: "Change",
                  visuallyHiddenText: "eligibility"
                }
              ]
            }
          },
          {
            key: {
              text: "Reason for not being eligible"
            },
            value: {
              html: ineligiblereasonHTML
            },
            actions: {
              items: [
                {
                  href: "../registration-1/set-ineligible-reason",
                  text: "Change",
                  visuallyHiddenText: "ineligible reason"
                }
              ]
            }
          } if data['registration1--funding-status'] == "No",
          {
            key: {
              text: "Funded place"
            },
            value: {
              text: "-"
            }
          },
          {
            key: {
              text: "Notes"
            },
            value: {
              text: "-"
            },
            actions: {
              items: [
                {
                  href: "../registration-1/set-notes",
                  text: "Add note",
                  visuallyHiddenText: "eligibility"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Workplace',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
         {
            key: {
              text: "Name"
            },
            value: {
              text: "St Lukes Primary School"
            }
          },
          {
            key: {
              text: "Works in England"
            },
            value: {
              text: 'Yes'
            }
          },
          {
            key: {
              text: "Work setting"
            },
            value: {
              text: 'Another setting'
            }
          },  
          {
            key: {
              text: "Employment type"
            },
            value: {
              text: data['registration1--employment-type']
            }
          },
         
          {
            key: {
              text: "Role"
            },
            value: {
              text: data['registration1--role']
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Schedule',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
          {
            key: {
              text: "Cohort"
            },
            value: {
              text: '2024'
            }
          },
          {
            key: {
              text: "Schedule identifier"
            },
            value: {
              text: 'npq-specialist-autumn'
            }
          }
        ]
      }) }}
      

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Registration details',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
          {
            key: {
              text: "Application ID"
            },
            value: {
              text: data['registration1--registration-id']
            }
          },
          {
            key: {
              text: "Registration submitted"
            },
            value: {
              text: data['registration1--submitted-date']
            }
          },
          {
            key: {
              text: "Last updated"
            },
            value: {
              text: data['registration1--updated-date']
            }
          }
        ]
      }) }}

      {{ govukDetails({
        summaryText: "View application as it appears on the provider API V3",
        html: apiHTML
      }) }}
    </div>
  </div>

   
{% endblock %}
