{% extends "layout-admin.html" %}

{% block content %}
  {% set reviewStatusHTML %}
  {% if (data['registration1--review-status'] == "Decision made") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
  {% elseif (data['registration1--review-status'] == "Re-register") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
  {% elseif (data['registration1--review-status'] == "Awaiting information") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--yellow"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--blue"
    })}}
  {% endif %}
  {% endset %}

  {% set providerStatusHTML %}
  {% if (data['registration1--provider-status'] == "Pending") %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--yellow"
    })}}
  {% elseif (data['registration1--provider-status'] == "Approved") %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--green"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--red"
    })}}
  {% endif %}
  {% endset %}

  {% set fundingStatusHTML %}
  {% if (data['registration1--review-status'] != "Decision made") %}
    –
  {% elseif (data['registration1--funding-status'] == "Yes") %}
    {{govukTag({
      text: data['registration1--funding-status'],
      classes: "govuk-tag--green"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--funding-status'],
      classes: "govuk-tag--red"
    })}}
  {% endif %}
  {% endset %}

  {% set ineligiblereasonHTML %}
  {% if (data['registration1--ineligible-reason'] == "Other") %}
    {{ data['registration1--ineligible-reason'] }} – {{ data['registration1--ineligible-reason--other'] }}
  {% elseif (data['registration1--ineligible-reason'] == "Not an eligible establishment type") %}
    {{ data['registration1--ineligible-reason'] }} – {{ data['registration1--ineligible-reason--establishment'] }}
  {% else %}
    {{ data['registration1--ineligible-reason'] }} 
  {% endif %}
  {% endset %}

  <div class="govuk-grid-row">
  
    <div class="govuk-grid-column-three-quarters">

     {{ govukBackLink({
          text: "Back",
          href: "javascript:window.history.back()"
        }) }}


      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jorge Hund</h1><br>


      <!-- {{ govukSummaryList({
        card: {
          title: {
            text: 'User details',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['registration1--email']
            }
          },
          {
            key: {
              text: "TRN"
            },
            value: {
              text: data['registration1--trn']
            }
          },
          {
            key: {
              text: "TRN verified"
            },
            value: {
              html: 'Yes'
            }
          },
          {
            key: {
              text: "GAI ID"
            },
            value: {
              text: data['registration1--gai-id']
            }
          }
        ]
      }) }} -->
      {{ govukSummaryList({
  card: {
    title: {
      text: 'Personal information',
      classes: 'govuk-!-font-size-24'
    },
    actions: {
      items: [
        {
          href: "ltd-130824",
          visuallyHiddenText: "of the Leading teaching development registration"
        }
      ]
    }
  },
  rows: [
    {
      key: { text: "User ID" },
      value: { text: '12345' }
    },
    {
      key: { text: "Email" },
      value: { text: 'hund.j@google.com' }
    },
    {
      key: { text: "Date of birth" },
      value: { text: '13 Feb 1990' }
    },
    {
      key: { text: "National Insurance" },
      value: { text: 'JH785420H' }
    },
    {
      key: { text: "TRN" },
      value: { text: '1234567' }
    },
    {
      key: { text: "Get an Identity ID" },
      value: { text: '11ab2c36-55f8-00r3-888d-56781jj87654r' }
    }
  ]
}) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Leading teaching development registration',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
              {
                href: "ltd-130824",
                text: "View full registration",
                visuallyHiddenText: "of the Leading teaching development registration"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "NPQ course"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Provider"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "Funding review status"
            },
            value: {
              html: reviewStatusHTML
            }
          },
          {
            key: {
              text: "Eligible for funding"
            },
            value: {
              text: 'No'
            }
          },
          {
            key: {
              text: "Provider approval status"
            },
            value: {
              html: providerStatusHTML
            }
          },
          {
            key: {
              text: "Funded place"
            },
            value: {
              text: '–'
            }
          },
          {
            key: {
              text: "Training milestone reached"
            },
            value: {
              text: 'None'
            }
          },
          {
            key: {
              text: "Registration submission date"
            },
            value: {
              text: data['registration1--submitted-date']
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Leading teaching development registration',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
              {
                href: "ltd-270724",
                text: "View full registration",
                visuallyHiddenText: "of the Leading teaching development registration"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "NPQ course"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Provider"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "Funding review status"
            },
            value: {
              html: reviewStatusHTML
            }
          },
          {
            key: {
              text: "Eligible for funding"
            },
            value: {
              html: fundingStatusHTML
            }
          },
          {
            key: {
              text: "Provider approval status"
            },
            value: {
              html: providerStatusHTML
            }
          },
          {
            key: {
              text: "Funded place"
            },
            value: {
              text: '–'
            }
          },
          {
            key: {
              text: "Latest declaration"
            },
            value: {
              text: 'None'
            }
          },
          {
            key: {
              text: "Registration submission date"
            },
            value: {
              text: data['registration1--submitted-date']
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
