{% extends "layout-admin.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ data['registration1--name'] }}</h1>
      <form class="form" action="set-notes" method="post">
        {% set otherHtml %}
          {{ govukInput({
            id: "registration1--ineligible-reason--other",
            name: "registration1--ineligible-reason--other",
            classes: "govuk-!-width-one-half",
            label: {
              text: "The reason you provide here will be included in the email notifying the applicant of their funding outcome."
            }
          }) }}
        {% endset -%}

        {% set establishmentHtml %}
          {{ govukInput({
            id: "registration1--ineligible-reason--establishment",
            name: "registration1--ineligible-reason--establishment",
            classes: "govuk-!-width-one-half",
            label: {
              text: "Provide establishment type"
            }
          }) }}
        {% endset -%}
        
        {{ govukRadios({
          name: "registration1--ineligible-reason",
          fieldset: {
            legend: {
              text: "Select the reason why this registration is not eligible for funding:",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Establishment not on eligible list",
              text: "Establishment not on eligible list"
            }, 
            {
              value: "Not an eligible setting",
              text: "Not an eligible setting",
              conditional: {
                html: establishmentHtml
              }
            },
            {
              value: "Setting not eligible, but may qualify for early years leadership NPQ funding",
              text: "Setting not eligible, but may qualify for early years leadership NPQ funding"
            },
            {
              value: "No early years provision",
              text: "No early years provision"
            },
            {
              value: "Not in a teaching role",
              text: "Not in a teaching role"
            },
            {
              value: "Not curriculum based teacher",
              text: "Not curriculum based teacher"
            },
            {
              value: "Self employed",
              text: "Self employed"
            },
            {
              value: "Overseas establishment",
              text: "Overseas establishment"
            },
            {
              value: "Previously funded",
              text: "Previously funded"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            }
          ]
          }) }}
          <div class="govuk-inset-text">
            When you submit the reason, an email will be sent to notify the applicant of the funding outcome.
          </div>
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Submit reason"
            }) }}
            <a class="govuk-link" href="registration">Cancel</a>
          </div>
      </form>
    </div>
  </div>
{% endblock %}
