{% extends "layout-email.html" %}

{% block subject %}
  <div class="govuk-!-padding-top-6 govuk-!-margin-bottom-2 govuk-!-padding-left-6">
    <p>Registration open - Teaching in reception NPD</p>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukInsetText({
        text: "Department for Education"
      }) }}

        <p>Application ID: 000001</p>

        <p>Dear name</p>

        <p><strong>Registration is now open for Teaching in reception NPD training course </strong></p>

        <p>If you would like to restart your course and have not contacted your training provider yet, this a reminder that registration for the next training date is now open.</p>

        <p>Next course start date: February 2027</p>
        <p>Date of deferral: 10 November 2026</p>

        <p>You have up to 12 months to restart the course from your date of dererral. To restart the course you need to contact your training provider. Your funding is still valid if you restart within the 12 months. </p>

        <p>Regards,</p>

        <p>The Teacher Continuing Professional Development team</p>
          
    </div>
  </div>
{% endblock %}