{% extends "layout-email.html" %}

{% block subject %}
  <div class="govuk-!-padding-top-6 govuk-!-margin-bottom-2 govuk-!-padding-left-6">
    <p>Registration status updated for {{ data['choosette'] }} – next steps</p>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukInsetText({
        text: "Department for Education"
      }) }}

        <p>Application ID: 000001</p>

        <p>Dear name</p>

        <p>You've registered for {{ data['choosette'] or "SEND and inclusion for leaders" }} with Cedar trust starting in autumn 2026.</p>

        <p>Your provider has notified us that you have been unsuccessful in your application. There can be various reasons for being unsuccessful - you may not have been offered a funded place or you may not have passed suitability checks. </p>
        
        <h2>Your options</h2>
        
        <p>If you still want a place on the course you can: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="">register with a different provider</a></li>
          <li><a href="">change your course start date</a></li>
        </ul>

        <h2>Get help</h2>

        <p>Email continuing-professional-development@digital.education.gov.uk</p>

        <p>Regards,</p>

        <p>The Teacher Continuing Professional Development team</p>
          
    </div>
  </div>
{% endblock %}