{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
Do you work as a special educational needs co-ordinator (SENCO)?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/senco-role" method="post">

        {{ govukRadios({
          name: "sencoinrole",
          id: "sencoinrole",
          fieldset: {
            legend: {
              text: "Do you work as a special educational needs co-ordinator (SENCO)?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No, but I plan to within 18 months",
              text: "No, but I plan to within 18 months"
            },
            {
              value: "No, I do not plan to be a SENCO in the next 18 months",
              text: "No, I do not plan to be a SENCO in the next 18 months"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
  <details class="govuk-details govuk-!-margin-top-7" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        For prototype reference
      </span>
    </summary>
    <div class="govuk-details__text">
      <p><a href="/senco/senco-in-role">Option 1 of SENCO in role question</a></p>
    </div>
  </details>
{% endblock %}
