{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  When did you become a SENCO?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="../check-data/_senco-funding-check" method="post">
      {{ govukDateInput({
        namePrefix: "sencostart",
        id: "sencostart",
        fieldset: {
          legend: {
            text: "When did you become a SENCO?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "For example, 1 2024"
        },
        items: [
        {
          name: "month",
          id: "month",
          classes: "govuk-input--width-2"
        },
        {
          name: "year",
          id: "year",
          classes: "govuk-input--width-4"
        }
      ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
