{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Strategic design testing
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Collection</span>
      <h1 class="govuk-heading-l">Professional development for school teachers and leaders on inclusion</h1>
      <p class="govuk-body-l">Information on professional development focused on inclusion for school teachers, leaders, staff and governors.</p>
      <hr>
      <p class="govuk-body-s govuk-!-padding-top-5 govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body-s"><a href="#shortcourses">Short courses</a></li>
        <li class="govuk-body-s"><a href="#longercourses">Longer courses</a></li>
      </ul>
      <h3 class="govuk-!-margin-top-6 govuk-!-margin-bottom-0" id="shortcourses">Short courses</h3>
      <p>Short courses are less than 10 days of study, which can be spread across any time period. </p>
      <hr>
      <h4 class="govuk-!-margin-bottom-2"><a href="">Inclusion in rural settings</a></h4>
      <p class="govuk-!-margin-bottom-2">Aimed at teachers and leaders in rural settings.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Length: 5 days over 1 week</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Start date: 14 Sep 2026</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Webinar</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Location: Online</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Cost: £399</p>
      <p class="govuk-body-s">Certificate: Attendance</p>
      <hr>
      <h4 class="govuk-!-margin-bottom-2"><a href="">Inclusion: build pupil engagement and belonging</a></h4>
      <p class="govuk-!-margin-bottom-2">Aimed at teachers in mainstream schools.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Length: 1 day</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Start date: 18 Oct 2026</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Conference</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Location: Online</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Cost: £199</p>
      <p class="govuk-body-s">Certificate: Attendance</p>
      <hr>
      <h4 class="govuk-!-margin-bottom-2"><a href="">Inclusion in secondary schools</a></h4>
      <p class="govuk-!-margin-bottom-2">Aimed at teachers and leaders in secondary schools.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Length: 3 days over 1 week</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Start date: 6 Nov 2026</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Coaching</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Location: In-person</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Cost: £250</p>
      <p class="govuk-body-s">Certificate: Attendance</p>
      <hr>
      <h4 class="govuk-!-margin-bottom-2"><a href="">Supporting neurodiverse learners</a></h4>
      <p class="govuk-!-margin-bottom-2">Aimed at teachers in all settings.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Length: 2 hours</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Start date: 6 Nov 2026</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Webinar</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Location: In-person</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Cost: £450</p>
      <p class="govuk-body-s">Certificate: Attendance</p>
      <hr>
      <h4 class="govuk-!-margin-bottom-2"><a href="">Inclusion in mainstream schools</a></h4>
      <p class="govuk-!-margin-bottom-2">Aimed at leaders in all settings.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Length: 9 days over 3 months</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Start date: 3 Jan 2027</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Webinar, networking</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Location: Online, in-person</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Cost: £599</p>
      <p class="govuk-body-s">Certificate: Attendance</p>

      <h3 class="govuk-!-margin-top-6" id="longercourses">Longer courses</h3>
      <hr>
      <h4 class="govuk-!-margin-bottom-2"><a href="">Inclusion in rural settings</a></h4>
      <p class="govuk-!-margin-bottom-2">Aimed at teachers and leaders in rural settings.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Length: 6 days over 12 months</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Start date: 21 Sep 2026</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Webinar, networking</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Online, in-person</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Cost: £599</p>
      <p class="govuk-body-s">Certificate: Attendance</p>
      <hr>
      <h4 class="govuk-!-margin-bottom-2"><a href="">Senior leadership NPQ with optional inclusion modules</a></h4>
      <p class="govuk-!-margin-bottom-2">Aimed at senior leaders in all settings.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Length: 18 months</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Start date: 5 Oct 2026</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Webinar, Coaching, Networking</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Online, in-person</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Cost: Scholarship funding from DfE or £1139+VAT</p>
      <p class="govuk-body-s">Certificate: Qualification</p>
      <hr>
      <h4 class="govuk-!-margin-bottom-2"><a href="">Special Educational Needs Co-ordinator NPQ</a></h4>
      <p class="govuk-!-margin-bottom-2">Aimed at SENCOs in all settings.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Length: 18 months</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Start date: 31 Oct 2026</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Webinar, Coaching, Networking</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Online, in-person</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Cost: Scholarship funding from DfE or £1298+VAT</p>
      <p class="govuk-body-s">Certificate: Qualification</p>
      <hr>
      <h4 class="govuk-!-margin-bottom-2"><a href="">Inclusion in secondary schools</a></h4>
      <p class="govuk-!-margin-bottom-2">Aimed at teachers and leaders in secondary schools.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Length: 12 days over 12 months</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Start date: 5 Feb 2027</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Coaching</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Online</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Cost: £999</p>
      <p class="govuk-body-s">Certificate: Certification</p>
      <hr>
      <h4 class="govuk-!-margin-bottom-2"><a href="">Masters in education with inclusion modules</a></h4>
      <p class="govuk-!-margin-bottom-2">Aimed at teachers and leaders in all settings.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Length: 12 months</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Start date: 11 Apr 2027</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Webinar</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Format: Online</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">Cost: £8400</p>
      <p class="govuk-body-s">Certificate: Qualification</p>
      <hr>
    </div>
  </div>
{% endblock %}
