{% extends "layout.html" %}
{% set signedIn = 'true' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}



{% block pageTitle %}
  What is your role?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="employer" method="post">
      {{ govukInput({
        label: {
          text: "What is your role?",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "For example: Administrator, business manager"
        },
        id: "role",
        name: "role"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>



  </div>
</div>

{% endblock %}
