{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Select your training provider
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="where-do-you-work" method="post">

        {{ govukRadios({
          name: "providerbackup",
          id: "providerbackup",
          hint: {
            text: "If you are eligible for funding your registration will automatically be reassigned to your secondary provider if you are not allocated a funded place with your preferred provider."
          },
          fieldset: {
            legend: {
              text: "Select a secondary training provider",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            } 
          },
          items: [
            { 
              value: "Acorn training", 
              html: "<strong>Acorn training</strong>" 
            } if (data['provider'] != "Acorn training"),
            { 
              value: "Cedar trust", 
              html: "<strong>Cedar trust</strong>"
            } if (data['provider'] != "Cedar trust"),
            { 
              value: "Evergreen learning", 
              html: "<strong>Evergreen learning</strong>" 
            },
            { 
              value: "Maple education", 
              text: "Maple education",
              disabled: 'true', 
              hint: {
                text: "This provider is not delivering the course start date you've selected – please go back if you wish to train with this provider."
              }
            } if (data['provider'] != "Maple education"),
            { 
              value: "Redwood training", 
              html: "<strong>Redwood training</strong>" 
            } if (data['provider'] != "Redwood training"),
            { 
              value: "Willow network", 
              text: "Willow network", 
              disabled: 'true', 
              hint: {
                text: "This provider is not delivering the course start date you've selected – please go back if you wish to train with this provider."
              }
            } if (data['provider'] != "Willow network"),
            {
              divider: "or"
            },
            { 
              value: "No preference – we have auto-assigned you to Cedar trust", 
              html: "<strong>I have no preference</strong>",
              hint: {
                text: "If you select this option we will assign you a provider"
              }
            }
          ]
        }) }}

        {{ govukButton({ text: "Continue" }) }}

      </form>
    </div>
  </div>
{% endblock %}