{% extends "layout.html" %}
{% set signedIn = 'false' %}

{% block pageTitle %}
  Sending you to your provider
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="provider-site/log-in.html"post">
        <h1 class="govuk-heading-l">We are sending you to your provider's application form</h1>
        <p>This is a unique link to you and allows us to sync up the data you have already submitted with DfE to your provider, so that you don't need to enter it again.</p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
