{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Which further education establishment do you work in?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="route-which-fe" method="post">
        {{ govukRadios({
          name: "whatfe",
          id: "whatfe",
          fieldset: {
            legend: {
              text: "Which post-16 setting do you work in?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "School or academy",
              html: "<strong>School or academy</strong>"
            },
            {
              value: "College",
              html: "<strong>College </strong>",
              hint: {
                text: "This includes sixth form colleges, general further education colleges and specialist designated colleges"
              }
            },
            {
              value: "Higher education institution",
              html: "<strong>Higher education institution</strong>"
            },
            {
              value: "Independent learning provider",
              html: "<strong>Independent learning provider</strong>"
            },
            {
              value: "Special post 16 institution",
              html: "<strong>Special post 16 institution</strong>"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
