{% extends "layout-admin.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ data['registration3--name'] }}</h1>
      <form class="form" method="post">
        {{ govukRadios({
          name: "registration3--review-status",
          fieldset: {
            legend: {
              text: "What is review status for this registration?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Needs review",
              text: "Needs review"
            },  
            {
              value: "Awaiting information",
              text: "Awaiting information"
            },
            {
              value: "Re-register",
              text: "Re-register"
            },
            {
              value: "Decision made",
              text: "Decision made"
            }
          ]
          }) }}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Update review status"
            }) }}
            <a class="govuk-link" href="registration">Cancel</a>
          </div>
      </form>
    </div>
  </div>
{% endblock %}
