{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}
{% set courseOutcome = "Started" %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% set passedHtml %}
  <strong class="govuk-tag govuk-tag--green">
    Completed
  </strong>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a href="/public/images/NPD-certificate.pdf">Download your certificate</a></p>
{% endset %}

{% set scholarshipfundingHtml %}
  <strong class="govuk-tag govuk-tag--red">
    Not eligible
  </strong>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because you do not work in England.</p>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
{% endset %}

{% set courseFundingHtml %}
  <p class="govuk-!-margin-bottom-0">{{ data['payment'] or "I'm paying" }}.</p>
  <p>You may want to check the cost of the course with your provider.</p>
{% endset %}

{% set personaldetailsHTML %}
  <p><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/account">Visit your DfE Identity account</a> to check or change your personal details.</p>
{% endset %}

{% block content %}
  <span class="govuk-caption-m">Submitted	10 October 2026</span>
  <h1 class="govuk-heading-xl">
    Your excellence in reception teaching registration
  </h1>
  <p class="govuk-body"><strong>Application ID:</strong> b38f20b6-cb83-410c-90ed-1edc3fdfd04e</p>


  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      }
    },
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html: "Excellence in reception teaching"
        }
      },
      {
        key: {
          text: "Provider"
        },
        value: {
          html: "Evergreen learning"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      },
      {
        key: {
          text: "Course outcome"
        },
        value: {
          html: passedHtml
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Funding details"
      }
    },
    rows: [
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html: scholarshipfundingHtml
        }
      },
      {
        key: {
          text: "Course funding"
        },
        value: {
          html: courseFundingHtml
        }
      }
    ]
  }) }}

  {% include '../includes/registration-status/work-details/not-eng.html' %}<br>

  {% include '../includes/prototype-links.html' %}

{% endblock %}
