.govuk-width-one-fifth {
  width: 20%;
}

.float-r {
  float: right;
}

.govuk-colour-white {
  color: #ffffff;
}

.display-none {
  display: none;
}

.govuk-table {
  font-size: 19px;
  font-size: 1.1875rem !important;
  line-height: 1.3157894737;
}

.govuk-tag {
  max-width: 200px;
}

.header-minus-margin {
  margin-bottom: -10px !important;
}

code {
  background-color: #f3f2f1;
  font-family: monospace;
  padding: 2px 5px;
}

.width1 {
  display: inline-block;
}

/* Custom styles for GOV.UK button */
.govuk-button--blue {
  background-color: #005ea5; /* GOV.UK blue color */
  color: white; /* White text */
}

.govuk-button--blue:hover {
  background-color: #003c73; /* Darker blue for hover effect */
}

.max-960 {
  max-width: 960px !important;
}

.center-div {
  margin: 0 auto;
}

// filters 
  /*
   * Each selected filter group is displayed as one row.
   */
  .facet-tags__group {
    padding: 10px 8px;
  }

  /*
   * Give the first active-filter row a grey background.
   */
  .facet-tags__group:first-child {
    background-color: #f3f2f1;
  }

  .facet-tags__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  /*
   * Filter group name, for example "Education phase".
   */
  .facet-tags__preposition {
    font-weight: 700;
    margin-right: 2px;
    text-transform: none !important;
    display: inline-block !important;
  }

  /*
   * Individual removable filter.
   */
  .facet-tag {
    display: inline-flex;
    align-items: center;
    border: 1px solid #505a5f;
    border-radius: 4px;
    background-color: #ffffff;
  }

  .active-filter-tag {
    display: inline-block;
    margin-bottom: 5px;
  }

  .active-filter-remove {
    display: inline-block;
    white-space: nowrap;

    padding: 8px 10px;
    border: 1px solid #505a5f;
    border-radius: 4px;
    background: #fff;

    cursor: pointer;
  }

  .active-filter-separator {
    margin: 0 8px;
  }

  .filter-page .govuk-details__summary-text {
   text-decoration: none; 
  }

  .filter-page .govuk-details__text {
    border-left: none;
  }

  .button-as-link {
   background-color: white !important; 
   color: #1d70b8;
   padding: 0;
   margin: 0 0 40px 0 !important;
   border: none;
   box-shadow: none;
  }

  .button-as-link:hover {
    color: #003078;
    text-decoration: underline;
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
    
  }