{% extends "layout.html" %}
{% set signedIn = true %}

{% block pageTitle %}
  How are you funding your course?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="../choose-provider" method="post">

      {% if data['whichsetting'] == "earlyyears" %}
        {{ govukRadios({
          name: "paymenteyll",
          id: "paymenteyll",
          fieldset: {
            legend: {
              text: "How are you funding your course?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            { value: "My workplace is covering the cost", text: "My workplace is covering the cost" },
            { value: "I am paying", text: "I am paying" },
            { value: "My NPQ is being paid for in another way", text: "My NPQ is being paid for in another way",
              hint: { text: "For example, I am sharing the costs with my workplace" } }
          ]
        }) }}

      {% else %}
        {{ govukRadios({
          name: "payment",
          id: "payment",
          fieldset: {
            legend: {
              text: "How are you funding your course?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            { value: "My workplace is covering the cost", text: "My workplace is covering the cost" },
            { value: "My trust is paying", text: "My trust is paying" },
            { value: "I am paying", text: "I am paying" },
            { value: "My NPQ is being paid for in another way", text: "My NPQ is being paid for in another way",
              hint: { text: "For example, I am sharing the costs with my workplace" } }
          ]
        }) }}
      {% endif %}

      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}