{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Change your course or provider
{% endblock %}

{% block beforeContent %}
  {%- if not data['signedIn'] -%}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {%- endif -%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with your details</h1>
      <p>If you're having problems making a late registration, you'll need to check that the email address you provided is the same as the one you used when applying with your provider. </p>
      <p>Contact <a href="">continuing-professional-development@digital.education.gov.uk</a> to update your email address details. </p>
    </div>
  </div>
{% endblock %}

