{{ govukRadios({
  name: "choosenpq",
  items: [
    {
      value: "Leading behaviour and culture",
      text: "Leading behaviour and culture"
    },
    {
      value: "Leading literacy",
      text: "Leading literacy"
    },
    {
      value: "Leading teaching",
      text: "Leading teaching"
    },
    {
      value: "Leading teacher development",
      text: "Leading teacher development"
    },
    {
      value: "Leading primary mathematics",
      text: "Leading primary mathematics"
    },
    {
      value: "Senior leadership",
      text: "Senior leadership"
    },
    {
      value: "Headship",
      text: "Headship"
    },
    {
      value: "Executive leadership",
      text: "Executive leadership"
    },
    {
      value: "Early years leadership",
      text: "Early years leadership"
    },
    {
      value: "Special educational needs co-ordinator (SENCO)",
      text: "Special educational needs co-ordinator (SENCO)"
    },
    {
      divider: "or"
    },
    {
      value: "Early headship coaching offer",
      text: "Early headship coaching offer",
      hint: {
        text: "Structured support and networking opportunities if you’re a headteacher in your first 5 years of headship."
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
