<details class="govuk-details govuk-!-margin-top-8" data-module="govuk-details">
  <summary class="govuk-details__summary govuk-!-margin-top-8">
    <span class="govuk-details__summary-text">
      For prototype reference
    </span>
  </summary>
  <div class="govuk-details__text">
    <p><a href="https://lucid.app/lucidspark/e33a4231-5282-4a1f-b98d-694b4295d6cc/edit?invitationId=inv_31cc941f-c63c-4ac5-95fc-2775e26969fc&page=0_0#">Lucid board showing all registration flow routes, including funding messages</a></p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Funding outcome messages </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="../index-of-funding">View all funding outcome messages</a></li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Registration pages showing different funding statuses </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="registration-status--scholarship-only">Message 1 - Eligible for Scholarship funding only </a></li>
      <li><a href="registration-status--not-funded-england">Message 2 - Not eligible for funding – not in England </a></li>
      <li><a href="registration-status--not-funded-previously-funded">Message 3 - Not eligible for funding – previously funded </a></li>
      <li><a href="registration-status--not-funded-setting">Message 4 - Not eligible for funding – not in an eligible setting </a></li>
      <li><a href="registration-status--not-funded-not-in-list">Message 5 - Not eligible for funding – not in eligible list (top PP50) </a></li>
      <li><a href="registration-status--not-funded-ofsted">Message 6 - Not eligible for funding – not Ofsted </a></li>
      <li>Message 7 - same as 4</li>
      <li><a href="registration-status--not-funded-ehco">Message 8 - Not eligible for funding – EHCO that doesn't meet requirements </a></li>
      <li><a href="registration-status--scholarship-review">Message 9 - Funding – in review </a></li>
      <li><a href="registration-status--targeted-support">Pre April 2024 eligible for Targeted support funding </a></li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Registration pages showing provider application and course outcomes </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="registration-status">User with one registration </a></li>
      <li><a href="multiple-registrations">User with multiple registrations </a> (showing all provider application and course outcomes)</li>
      <li><a href="registration-status--expired">User with one registration, that's expired </a></li>
    </ul>
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>Provider application statuses</strong></li>
      <li><a href="registration-status--scholarship-review">Apply with provider</a></li>
      <li><a href="registration-status--scholarship-only">Successful application</a></li>
      <li><a href="registration-status--not-funded-setting">Unsuccessful application</a></li>
      <li><a href="registration-status--expired-closed">Expired registration, while service is closed</a></li>
    </ul>
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>Course outcome statuses</strong></li>
      <li><a href="registration-status--not-funded-england">Course passed</a></li>
      <li><a href="registration-status--not-funded-ofsted">Course not passed</a></li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Other </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="../submit">Registration straight after submitted</a></li>
      <li><a href="../email-complete">Confirmation email</a></li>
    </ul>
  </div>
</details>
