{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Mandatory modules
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <h1 class="govuk-heading-l">Mandatory modules</h1>
      <p class="govuk-body">The full Senior Leadership NPQ course takes 18 months to complete. If you have previously completed an NPQ this will be reduced. </p>
      <p class="govuk-body"><strong>Part of your course is mandatory modules. These are: </strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the latest evidence-based learning and approaches to teaching and leadership</li>
        <li>school culture </li>
        <li>effective teaching</li>
        <li>supporting curriculum and assessment development</li>
        <li>behaviour</li>
        <li>professional development</li>
        <li>additional and special educational needs</li>
        <li>organisational management</li>
      </ul>
      <p><strong>As you have previously completed the Behaviour and Culture NPQ you won't need to complete these modules again:</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>professional development</li>
        <li>the latest evidence-based learning and approaches to teaching and leadership</li>
      </ul>
      <p>For the rest of your course you will choose from a selection of additional modules.</p>
      {{ govukButton({
        text: "Continue",
        href: "/strat-des-v1/build-an-npq/options"
      }) }}
    </div>
  </div>
{% endblock %}
