{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Child development and inclusion in practice
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Inclusive teaching fundamentals with coaching support</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-6">Learn or revisit the principles of inclusive and adaptive teaching and how to apply them to meet the learning needs of pupils in your class. This course is followed by a series of coaching to reflect on your learning and work on implementation techniques.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-top-6">Course details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Who this course is for"
            },
            value: {
              html: "Classroom teachers"
            }
          },
          {
            key: {
              text: "Duration"
            },
            value: {
              html: "10-12 weeks <br> In addition to the core time spent learning the fundamental modules, you will be supported with five follow up coaching sessions, that must be completed by the end of the academic year."
            }
          },
          {
            key: {
              text: "Time commitment"
            },
            value: {
              html: "2 hours per fortnight"
            }
          },
          {
            key: {
              text: "Delivery"
            },
            value: {
              html: "50% of the time online webinars <br>50% of the time independent study <br>6 webinars across the course. You'll have access to online materials you can work through at your own pace. Five coaching sessions to be delivered by an internal or external nominated coach"
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              html: "September"
            }
          },
          {
            key: {
              text: "Assessment"
            },
            value: {
              html: "A presentation (at the end of your coaching sessions) to your colleagues and signed off by your manager."
            }
          },
          {
            key: {
              text: "Certification"
            },
            value: {
              html: "You will receive confirmation of attendance upon completing the course"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-top-6">Course modules</h2>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Module 1: Principles of inclusive teaching
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understanding the foundational principles of adaptive teaching</li>
              <li>Understand the principles of an inclusive environment</li>
              <li>Exploring the key components of responsive adaptive teaching, including real-time adjustments, flexible grouping, varying scaffolding techniques</li>
              <li>Examining the importance of adaptive teaching in ensuring all pupils can meet expectations and thrive in an inclusive learning environment</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Module 2: Identifying pupils needs
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Recognise how prior attainment, social and emotional development, language and communication proficiency may impact learning</li>
              <li>Understanding common misconceptions about individual pupils' needs and how to address these</li>
              <li>Explore how to implement systematic approaches to build a clear picture of individual pupil needs, including their different levels of prior knowledge, and potential barriers to learning</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Module 3: Applying inclusive teaching strategies in practice
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understanding the different types of cognitive load, and how they can be managed through effective lesson design and instructional strategies</li>
              <li>Applying different strategies in practice</li>
              <li>Making use of specialist technology to support learners</li>
            </ul>          
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Module 4: Working with others to create an inclusive environment 
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understanding the shared responsibility of inclusion across the school community </li>
              <li>Collaborating effectively with colleagues, including SEND specialists, teaching assistants and parents</li>
              <li>Contributing to an inclusive school culture</li>
            </ul> 
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Module 5: Evaluating and adapting strategies 
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understanding how to evaluate the effectiveness of inclusive strategies in meeting diverse pupil needs </li>
              <li>Using assessments and feedback to evaluate impact</li>
              <li>Developing strategies to sustain an inclusive classroom</li>
            </ul> 
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
