<details class="govuk-details govuk-!-margin-top-8" data-module="govuk-details">
  <summary class="govuk-details__summary govuk-!-margin-top-8">
    <span class="govuk-details__summary-text">
      Skip GOV.UK One Login
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
      <li><a href="/v4/route-skip-onelogin-start-id">Start of ID check </a></li>
      <li><a href="/v4/route-skip-onelogin-end-id">End of ID check </a></li>
      <li><a href="/v4/route-skip-onelogin-teacherauth">Start of TeacherAuth </a></li>
      <li><a href="/v4/route-skip-onelogin-return">Return to service page </a></li>
      <li><a href="/v4/route-skip-onelogin-start">Start of One Login </a></li>
    </ul>
  </div>
</details>
