{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Child development and inclusion in practice
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Inclusive child development with optional modules</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-6">Build your inclusive and adaptive teaching course and learn and how to apply your knowledge to meet the learning needs of pupils in your class. You can choose to extend this course with additional modules which have been curated to reflect emerging areas of need.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-top-6">Course details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Who this course is for"
            },
            value: {
              html: "Classroom teachers"
            }
          },
          {
            key: {
              text: "Duration"
            },
            value: {
              html: "12 months to complete 40 hours worth of studying"
            }
          },
          {
            key: {
              text: "Time commitment"
            },
            value: {
              html: "40 hours total: including self study, seminars and additional modules. If you choose not to take the additional modules the time will be reduced."
            }
          },
          {
            key: {
              text: "Delivery"
            },
            value: {
              html: "50% of the course will be run via live webinars. <br>The remaining 50% of course will be accessed via pre-recorded webinars and learning materials. <br>Access to online forums for peer support and networking."
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              html: "Three start dates per year, at each half term"
            }
          },
          {
            key: {
              text: "Assessment"
            },
            value: {
              html: "Formative assessments at the end of units or modules."
            }
          },
          {
            key: {
              text: "Certification"
            },
            value: {
              html: "You will receive a level 3 certification (equivalent to an A-level) on completion of the course"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-top-6">Course modules</h2>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Module 1: Understanding child development and variation
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>The importance of early childhood education and care, including how to implement strategies to provide a positive approach in your setting</li>
              <li>The importance of child development knowledge and the various factors that impact on children’s development</li>
              <li>the impact of the COVID-19 pandemic on children’s development</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Module 2: Identifying pupils needs
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Recognise how social and emotional development, language and communication proficiency may impact learning</li>
              <li>Understand the importance of your role in supporting children’s individual differences and needs, creating an inclusive environment and building effective partnerships</li>
              <li>Implementing formative assessments to identify individual starting points and plan next steps</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Module 3: Supporting speech, language and communication
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Identify and explore the stages of language development in the early year</li>
              <li>Review the potential factors that can affect language development</li>
              <li>Understand how to identify and support children with speech, language and communication needs (SLCN)</li>
              <li>Explore how to develop responsive adult-child interactions to support learning</li>
            </ul>          
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Module 4: Develop adaptive approaches to early writing
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understand the developmental journey towards writing in the early years</li>
              <li>Explore inclusive strategies to support mark-making, fine motor skills, and composition</li>
              <li>Address barriers to writing, including those linked to age, language, or SEND</li>
              <li>Use assessment to celebrate progress and ensure all children feel successful</li>
            </ul> 
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Module 5: Working with families to support child development
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Build strong, respectful relationships with families to support development and safety </li>
              <li>Collaborate with families to identify and respond to individual needs</li>
              <li>Promote a shared commitment to safeguarding and inclusive values across home and school</li>
            </ul> 
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understanding the shared responsibility of inclusion across the school community </li>
              <li>Collaborating effectively with colleagues, including SEND specialists, teaching assistants and parents</li>
              <li>Contributing to an inclusive school culture</li>
            </ul> 
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Module 5: Evaluating and adapting strategies 
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understanding how to evaluate the effectiveness of inclusive strategies in meeting diverse pupil needs </li>
              <li>Using assessments and feedback to evaluate impact</li>
              <li>Developing strategies to sustain an inclusive classroom</li>
            </ul> 
          </div>
        </div>
        <h3 class="govuk-heading-m govuk-!-margin-top-6">Optional modules</h3>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Optional module: Technology / AI
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understand emerging trends in technology and AI </li>
              <li>Evaluate inclusive technologies</li>
              <li>Understand ethical and governance considerations in the use of AI in schools</li>
            </ul> 
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Optional module: Supporting English as an additional language
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Deep dive into practcies that promote pupil and staff voice </li>
              <li>Reflect on how inclusive culture supports wellbeing and belonging support pupils through key transitions (e.g. phases, settings, year groups)</li>
            </ul> 
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Optional module: Supporting transitions and change
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This module covers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understand principles of child development</li>
              <li>Understand how to implement effective inclusive strategies to support pupils through key transitions (e.g. phases, settings, year groups)</li>
              <li>Understand how to lead change initatives across school systems</li>
            </ul> 
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
