{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Select your training provider
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="route-choose-provider" method="post">

        {{ govukRadios({
          name: "provider",
          id: "provider",
          fieldset: {
            legend: {
              text: "Select your training provider",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            { value: "Ambition Institute", text: "Ambition Institute" },
            { value: "Best Practice Network ", text: "Best Practice Network " },
            { value: "EChurch of England", text: "Church of England" },
            { value: "LLSE", text: "LLSE" },
            { value: "National Institute of Teaching ", text: "National Institute of Teaching" },
            { value: "University College London (UCL) Institute of Education", text: "University College London (UCL) Institute of Education" }
          ]
        }) }}

        {{ govukButton({ text: "Continue" }) }}

      </form>
    </div>
  </div>
{% endblock %}