{% extends "layout.html" %}
{% set signedIn = true %}

{% block pageTitle %}
  Select your provider
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="route-choose-provider" method="post">

          {{ govukRadios({
            name: "provider",
            id: "provider",
            fieldset: {
              legend: {
                text: "Select your provider",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              { value: "Ambition Institute", text: "Ambition Institute" },
              { value: "Best Practice Network", text: "Best Practice Network" },
              { value: "National Society for Education", text: "National Society for Education" },
              { value: "LLSE", text: "LLSE" },
              { value: "National Institute of Teaching", text: "National Institute of Teaching" },
              { value: "Teacher Development Trust", text: "Teacher Development Trust" },
              { value: "Teach First", text: "Teach First" },
              { value: "University College London (UCL) Institute of Education", text: "University College London (UCL) Institute of Education" },
              { divider: "or" },
              {
                value: "I have not chosen a provider yet",
                text: "I have not chosen a provider yet"
              }
            ]
          }) }}

        {{ govukWarningText({
          text: "Before selecting your provider, you must check that they are currently open to accepting TTE applications.​",
          iconFallbackText: "Warning"
        }) }}

        {{ govukButton({ text: "Continue" }) }}

      </form>
    </div>
  </div>
{% endblock %}