{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Have you chosen an NPQ and provider?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="route-where-do-you-work" method="post">
      {{ govukRadios({
        name: "choosenpqprovider",
        fieldset: {
          legend: {
            text: "Have you chosen an NPQ and provider?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    If you enter your information incorrectly it may result in you not being offered a funded place on an NPQ course.
  </strong>
</div>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <p><a href="check-answers">For research purposes.</a></p>
  </div>
</div>

{% endblock %}
