
{% extends "layout.html" %}

{% block pageTitle %}
  Register for a TTE course prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Register for a TTE course prototype
      </h1>

      {{ govukButton({
        text: "View prototype",
        href: "start-page"
      }) }}

<!-- LINKS TO PARTS OF THE PROTOTYPE STARTS HERE -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">Links to parts of the prototype</h2>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li><a href="start-page">Start page </a></li>
        <li><a href="check-answers">Check your answers page </a></li>
        <li><a href="submit">Confirmation page </a></li>
        <li><a href="index-of-funding">View all funding outcome messages</a></li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Users who have already registered
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="https://lucid.app/lucidspark/4c0ea0ec-11ad-4071-8d0f-d7c66feebde4/edit?view_items=i_~a8pScm4X8&page=0_0&invitationId=inv_c9cbe88d-be9e-41c5-9dac-75ac694e74d5">Lucid board showing all registration flow routes</a></p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Registration pages showing different funding statuses </h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="registration-status/registration-status--scholarship-only">Message 1 - Eligible for scholarship funding </a></li>
            <li><a href="registration-status/registration-status--not-funded-england">Message 2 - Not eligible for funding – not in England </a></li>
            <li><a href="registration-status/registration-status--not-funded-previously-funded">Message 3 - Not eligible for funding – previously funded </a></li>
            <li><a href="registration-status/registration-status--not-funded-setting">Message 4 - Not eligible for funding – not in an eligible setting </a></li>
          </ul>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Registration pages showing provider application and course outcomes </h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="registration-status/registration-status">User with one registration </a></li>
            <li><a href="registration-status/registration-status--expired">User with one registration, that's expired </a></li>
            <li><a href="registration-status/no-registrations">User with no registrations </a></li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li><strong>Provider application statuses</strong></li>
            <li><a href="registration-status/registration-status">Apply with provider</a></li>
            <li><a href="registration-status/registration-status--scholarship-only">Successful application</a></li>
            <li><a href="registration-status/registration-status--unsuccessful.html">Unsuccessful application</a></li>
            <li><a href="registration-status/registration-status--deferred">Deferred</a></li>
            <li><a href="registration-status/registration-status--withdrawn">Withdrawn</a></li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li><strong>Course outcome statuses</strong></li>
            <li><a href="registration-status/registration-status--not-funded-england">Course passed</a></li>
          </ul>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Other </h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="confirmation">Confirmation of registration submitted</a></li>
          </ul>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Emails
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="emails/registration-submitted">Registration submitted</a></li>
            <li><a href="emails/change-provider">Confirmation of changing provider</a></li>
            <li><a href="emails/provider-notification-of-change">Notification to provider of participant changing provider</a></li>
          </ul>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Closed service (TBD)
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="closed-for-registations">Partial closure (closed for registrations, account access) </a></li>
            <li><a href="closed-fully">Full closure </a></li>
            <li><a href="start-page">Remove closed state</a></li>
          </ul>
          <h3 class="govuk-heading-s">Late registration – For users given access through admin panel </h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="closed/late-registration--start-page">Late registration start page </a></li>
            <li><a href="closed/late-registration--error-message">Late registration error message (when email address doesn't have access)</a></li>
          </ul>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
