
{% extends "layout.html" %}

{% block pageTitle %}
  Funding outcome messages 
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Funding outcome messages </h1>
      <p>This page show all variations of the funding outcome messages that can be shown in the service. </p>
      <p>To see when each of these would be shown, follow the registation flow on <a href="https://lucid.app/lucidspark/e33a4231-5282-4a1f-b98d-694b4295d6cc/edit?invitationId=inv_31cc941f-c63c-4ac5-95fc-2775e26969fc&page=0_0#">this Lucid board</a>.</p>
      
      <h2 class="govuk-heading-m govuk-!-margin-top-8">Message 1 – Eligible for scholarship funding</h2>
      <p><a href="./funding/funding-eligible">View funding message 1</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message1-funding-eligible.html' %}
      </div>
      <h3 class="govuk-heading-s">1B – Early headship coaching offer version </h3>
      <p><a href="./funding/ehco-funded">View funding message 1B</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message1B-ehco-funded.html' %}
      </div>
      
      <h2 class="govuk-heading-m govuk-!-margin-top-8">Message 2 – Not eligible, as not in England</h2>
      <p><a href="./funding/funding-not-available-england">View funding message 2</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message2-funding-not-available-england.html' %} 
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Message 3 – Not eligible, as previously funded</h2>
      <p><a href="./funding/already-funded">View funding message 3</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message3-previously-funded.html' %}
      </div>     
      <h3 class="govuk-heading-s">3B – Early headship coaching offer version </h3>
      <p><a href="./funding/ehco-already-funded">View funding message 3B</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message3B-ehco-previously-funded.html' %}
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Message 4 – Not eligible, as not funded setting</h2>
      <p><a href="./funding/funding-not-available-setting">View funding message 4</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message4-funding-not-available-setting.html' %}
      </div>
      <h3 class="govuk-heading-s">4B – Early years setting not choosing EYL NPQ </h3>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message4B-funding-not-available-setting.html' %}
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Message 5 – Not eligible, as not in eligibility list</h2>
      <p><a href="./funding/funding-not-available-not-in-list">View funding message 5</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message5-funding-not-available-not-in-list.html' %}
      </div>
      <h3 class="govuk-heading-s">5B – could be eligible for other courses </h3>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message5B-funding-not-available-not-in-list.html' %}
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Message 6 – Not eligible, as no Ofsted URN</h2>
      <p><a href="./funding/funding-not-available-no-ofsted">View funding message 6</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message6-funding-not-available-noOFSTED.html' %}
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Message 7 – Not eligible, as Lead mentor who is not doing LTD NPQ </h2>
      <p><a href="./funding/funding-not-available-lead-mentor">View funding message 7</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message7-funding-not-available-lead-mentor.html' %}
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Message 8 – Not eligible, doesn't meet requirements of taking the EHCO </h2>
      <p><a href="./funding/ehco-not-funded">View funding message 8</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message8-ehco-not-funded.html' %}
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Message 9 – Funding in review </h2>
      <p><a href="./funding/edge-case">View funding message 9</a></li></p>
      <div class="govuk-inset-text govuk-!-margin-left-6">
        {% include './includes/funding-messages/message9-in-review.html' %}
      </div>

    </div>
  </div>
{% endblock %}
