{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  One Login flow
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="course-start" method="post">
        {{ govukRadios({
          name: "onelogin",
          id: "onelogin",
          fieldset: {
            legend: {
              text: "One Login flow",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes, I'm logged in",
              html: "Yes, I'm logged in"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
