
{% extends "layout.html" %}

{% block pageTitle %}
  {{ data['tte-programme-name-with-acronym'] }} courses
{% endblock %}

{% block content %}
  <!-- Partial Closed  -->
  {% if data['closedState'] == "Partial" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Register for a {{ data['tte-programme-name-with-acronym'] }} course
        </h1>
        <h3 class="govuk-heading-m">Registration has closed temporarily</h3>
        <p>When registration reopens, use this service to register for an NPQ or the early headship coaching offer starting in autumn 2025. </p>
        <p><strong><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/closed-eoi">Request email updates to tell you when registration opens</a></strong>. You can also tell us about your interest in the special educational needs coordinator (SENCO) NPQ course.</p>

        <p>You’ll be asked to create a DfE Identity account or sign in to your account. </p>
        <p>You will need a teacher reference number (TRN), even if you’re not a teacher. <a href="https://www.gov.uk/guidance/teacher-reference-number-trn">Find a lost TRN or request one</a> if you do not have it yet.</p>
        <p>If you're starting a national professional qualification (NPQ) course before July 2024, contact your provider for support.</p>

        <h3 class="govuk-heading-m">Check your existing registrations</h3>
        <p>You can still <a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/closed-signin">sign in to your DfE Identity account</a> to check your: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>registration details, if you already registered </li>
          <li>course outcome, if you have completed your course </li>
        </ul>
      </div>
    </div>
    
    <!-- FULL Closed  -->
    {% elseif data['closedState'] == "Full" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Register for a {{ data['tte-programme-name-with-acronym'] }} course
        </h1>
        <h3 class="govuk-heading-m">Registration has closed temporarily</h3>
        <p><a href="closed/eoi-email">Request email updates to tell you when registration reopens</a>. </p>
    

        <h3 class="govuk-heading-m">When registration opens</h3>
        <p>Use this service to: </p>
        <ul class="govuk-list govuk-list--bullet">
        
          <li>register for an NPQ or the early headship coaching offer </li>
          <li>check your registration details, if you already registered </li>
          <li>check your course outcome, if you have completed your course </li>
        </ul>
      </div>
    </div>

    <!-- Open -->
    {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Check funding eligibility and register for {{ data['reception-course-name'] }} course
        </h1>
        <p>
          Use this service to:
        </p>
  
        <ul class="govuk-list govuk-list--bullet">
          <li>check eligibility for DfE funding, or tell us how you will self-fund</li>
          <li>register with DfE for this course </li>
          <li><a href="/v1/registration-status/registration-status--scholarship-only">change your details</a> your details if you are already registered</li>
          <li><a href="/v1/registration-status/registration-status--not-funded-england">get your certificate</a> when you have completed the course</li>
        </ul>

        <h2 class="govuk-heading-m">How to register</h2>
        <p>To register, you first need to choose a training provider. All providers have been selected by the DfE and the course is endorsed by the Education Endowment Foundation.

        <h3>1. Choose a training provider</h3>
        <p>All providers deliver the same course content, however there may be differences in how they choose to deliver the course. You can visit their website to learn more.</p>

        <h3>2. Register with DfE</h3>
        <p>When you register with the DfE, we will:</p>
        <ol>
          <li>check and confirm your eligibility for funding</li>
          <li>notify your chosen training provider </li>
        </ol>
        <p>Your provider will:</p>

  
        <h2 class="govuk-heading-m">Before you start</h2>
        <p>
          You'll need:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>to know which <a href="/gov-uk-guidance/guidance-tte">{{ data['tte-programme-name-acronym'] }} course</a> you want to take and who your provider will be </li>
          <li>the address and postcode of your workplace setting </li>
          <li>your teacher reference number (TRN) – even if you’re not a teacher </li>
          <li>a GOV One Login account (you’ll be prompted to sign in or create one)</li>
        </ul>

        <p>Your TRN can be found on your payslip, teaching contract or pension documents. If you do not know your TRN, you can: </p>
      
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://find-a-lost-trn.education.gov.uk/start">find a lost TRN (opens in new tab)</a></li>
          <li><a href="https://www.gov.uk/guidance/teacher-reference-number-trn">Get a TRN (opens in new tab)</a> if you’ve never had one</a> </li>
        </ul>
  
        <p>By continuing, you agree to our <a href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#NPQ">privacy notice</a>.</p>
        
        {{ govukButton({
          text: "Start now",
          href: "one-login",
          isStartButton: true
        }) }}
        
      </div>
    </div>
    
  {% endif %}
{% endblock %}