{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  What setting do you work in?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="route-which-school" method="post">
        {{ govukRadios({
          name: "whichsetting",
          id: "whichsetting",
          fieldset: {
            legend: {
              text: "What setting do you work in?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Make sure the information you provide is correct, as your provider will check your details. Register using your current workplace details, even if they will change soon.",
            classes: "govuk-!-margin-bottom-6"
          },
          items: [
            {
              value: "Early years or childcare, before reception year",
              html: "<strong>Early years or childcare, before reception year</strong>"
            },
            {
              value: "School",
              html: "<strong>School</strong>"
            },
            {
              value: "Academy trust",
              html: "<strong>Academy trust</strong>"
            },
            {
              value: "16 to 19 educational setting",
              html: "<strong>16 to 19 educational setting</strong>"
            },
            {
              divider: "or"
            },
            {
              value: "Other",
              html: "<strong>Other</strong>"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
