{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Do you work in England?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="what-setting" method="post">
        {{ govukRadios({
          id: "wheredoyouwork",
          name: "wheredoyouwork",
          fieldset: {
            legend: {
              text: "Do you work in England?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            If you enter your information incorrectly it may result in you not being offered a funded place on an NPQ course.
          </strong>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
