
{% extends "layout.html" %}


{% block pageTitle %}
  Register for a national professional qualification (NPQ)
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Register late for a national professional qualification (NPQ)
        </h1>
        <p>
          You’ve been given access to make a late registration for a NPQ whilst the service is closed. 
        </p>
  
        <p>
          You will also need to apply separately with your training provider.  
        </p>
  
        <h2 class="govuk-heading-m">Before you start</h2>
  
        <p>You should have already chosen which NPQ you want to do and who your provider is. If you have not chosen yet, <a href="https://www.gov.uk/guidance/national-professional-qualification-npq-courses">find out about NPQ courses</a>.</p>
  
        <p>You also need a teacher reference number (TRN) to register for a NPQ, even if you’re not a teacher. <a href="https://www.gov.uk/guidance/teacher-reference-number-trn">Learn about TRNs</a> including how to request one if you do not have one.</p>
  
        <p>If you work in early years or childcare, <a href="https://reports.ofsted.gov.uk/childcare">check if your workplace is registered with Ofsted</a> and get their Ofsted unique reference number (URN) if they have one.</p>
  
        <p>Before registering for an NPQ you’ll be asked to create a DfE Identity account or sign in to your account.</p>
  
        <p>By continuing, you agree to our <a href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#NPQ">privacy notice</a>.</p>
        
        {{ govukButton({
          text: "Start now",
          href: "https://get-an-identity-prototype.herokuapp.com/user-research/npq/id",
          isStartButton: true
        }) }}
        
      </div>
    </div>
    
{% endblock %}
