{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set signedIn = 'false' %}

{% block pageTitle %}
  Find a provider – Study hours
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Find a provider</h1>

    <form class="form" action="results" method="post">
      {{ govukRadios({
        id: "chooseproviderhours",
        name: "chooseproviderhours",
        fieldset: {
          legend: {
            text: "How would you like the study?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Fixed hours",
            text: "Fixed hours",
            hint: {
              text: "There will be a minimum number of hours to complete per week and a maximum amount of weeks to complete the course in."
            }
          },
          {
            value: "Flexible hours",
            text: "Flexible hours",
            hint: {
              text: "There will be no minimum number of hours to complete per week, but there may still be a maximum amount of weeks to complete the course in."
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}