
{% extends "layout.html" %}

{% block pageTitle %}
  Register for a NPQ prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">TTE courses prototype</h1>

      <h2 class="govuk-heading-l">Reception registration service</h2>
<!-- Current version Registration service -->
      <div class="govuk-body">
        <div id="event-name-hint" class="govuk-hint">Last updated: 2 Dec 2025</div>
        <div id="event-name-hint" class="govuk-hint">First draft of reception flow.</div>

        {{ govukButton({
          text: "Start prototype journey",
          href: "v1/index",
          isStartButton: true
        }) }}
      </div>

<!-- Admin console prototype -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">TTE admin</h2>
      <p>Prototype for the TTE admin console, used by DfE staff.</p>

      <h2 class="govuk-hint">Last updated: 2 Dec 2025 </h2>

      <div class="govuk-body">

        {{ govukButton({
          text: "Start prototype journey",
          href: "/admin-v1/dashboard",
          isStartButton: true
        }) }}

      </div>



<!-- Strategic design prototype -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">Concept testing </h2>

      
      <div class="govuk-body">
        <h3>TTE concept</h3>
        <p class="govuk-hint">Last updated: 5 Aug 2025</p>

        {{ govukButton({
          text: "Start prototype journey",
          href: "/strat-des/strat-des-TTE/index",
          isStartButton: true
        }) }}
      </div>
      
      
      <div class="govuk-body">
        <h3>Prototypes for testing NPQ programme structure</h3> 
        <p>As part of the 2025 NPQ review the programme structure for NPQs are being looked at. These prototypes are to be used in user research as tools to open conversation about how NPQs are structured. </p>
        <p class="govuk-hint">Last updated: 24 Apr 2025</p>

        {{ govukButton({
          text: "Start prototype journey",
          href: "/strat-des/strat-des-NPQ/index",
          isStartButton: true
        }) }}
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Design artefacts
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/DFE-Digital/tte-prototype">
                Prototype Git repository
              </a>
            </li>
            <li class="govuk-!-margin-top-5"><strong>Reception course</strong></li>
            <li>
              <a href="https://lucid.app/lucidspark/4c0ea0ec-11ad-4071-8d0f-d7c66feebde4/edit?page=0_0&invitationId=inv_c9cbe88d-be9e-41c5-9dac-75ac694e74d5#">
                Digital registration user flow on a lucid board 
              </a>
            </li>
            <li>
              <a href="https://lucid.app/lucidspark/7c219d17-4add-4ca3-b4d6-79d49cbf4117/edit?view_items=yCM.1cPVNVUn&page=0_0&invitationId=inv_0433c510-dce2-4186-a683-f6256af4aba0">
                Service map lucid board
                </a>
            </li>
            <li class="govuk-!-margin-top-5"><strong>SEND courses</strong></li>
            <li>
              <a href="https://lucid.app/lucidspark/7c219d17-4add-4ca3-b4d6-79d49cbf4117/edit?view_items=4sL6hOywb6DN&page=0_0&invitationId=inv_0433c510-dce2-4186-a683-f6256af4aba0">
                Needs, questions, assumptions, prioritisation lucid board
                </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
