
{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block pageTitle %}
  Guidance and 'find a course' service prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Guidance and 'find a course' service prototypes</h1>

  <!--Version 1 - Find service prototypes-->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">'Find a course' service concept testing </h2>
      <p>For this research round we tested 2 main concepts for how we could help users find the most suitable course for them:</p>
      <ol class="govuk-list govuk-list--bullet">
        <li><a href="find-service/joint-start-page.html">A short quiz to find relevant courses, which leads to filterable search results</a></li>
        <li><a href="/find-service/simplify-guidance-coursetype">Listing all courses, split by course type</a></li>
      </ol>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Design board
              </dt>
              <dd class="govuk-summary-list__value">
                Showing the ideas we had and rough designs for what went into the prototype.
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="https://lucid.app/lucidspark/53764b90-0ee5-42b2-9130-d6e4a31ee726/edit?view_items=J2~URfvDmXx0&page=0_0">View<span class="govuk-visually-hidden"> design board</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                UR playback
              </dt>
              <dd class="govuk-summary-list__value">
                Playback was delivered in July 2026. Playback deck has links to dicsussion guide and notetaking board.
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/TeacherServices/_layouts/15/Doc.aspx?sourcedoc=%7B5370ECAD-5014-4181-820A-39406E0C6C57%7D&file=TTE%20SEND%20and%20Inclusion%C2%A0courses%20-%20R2%20findings%20-%20TTE%20Digital.pptx&action=edit&mobileredirect=true">View<span class="govuk-visually-hidden"> playback</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Notes
              </dt>
              <dd class="govuk-summary-list__value">
                xx
              </dd>
            </div>
          </dl>
        </div>
      </div>

  <!-- SEND and choose a provider -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">SEND pages and choose a provider</h2>
      <p>In this round we tested the idea of having something to help users select their provider. We had 3 different versions of this - a short quiz, a table of key facts and a table of short blurbs about each provider. </p>
      <p>This was part of a wider research round, which also included various ideas for how to improve the registration journey.</p>

      <div class="govuk-body">
        <p>Pages within the collection:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li><a href="gov-uk-guidance/professional-development">Professional development </a></li>
          <li><a href="gov-uk-guidance/guidance-tte">TTE guidance </a></li>
          <li><a href="gov-uk-guidance/SEND-leaders">Leading SEND and inclusion (leaders) course </a></li>
          <li><a href="gov-uk-guidance/SEND-teachers">Supporting SEND and inclusion (teachers) course </a></li>
          <li><a href="gov-uk-guidance/providers.html">Compare providers using table</a></li>
          <li><a href="gov-uk-guidance/providers-blurbs.html">Compare providers using blurbs</a></li>
          <li><a href="v1-SEND/choose-a-provider/course-start">Compare providers using short form</a></li>
        </ol>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Design board
              </dt>
              <dd class="govuk-summary-list__value">
                Screenshots of the choose a provider screens we tested. 
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="https://lucid.app/lucidspark/4c0ea0ec-11ad-4071-8d0f-d7c66feebde4/edit?view_items=6LfRcG.C0kCY&page=0_0&invitationId=inv_c9cbe88d-be9e-41c5-9dac-75ac694e74d5">View<span class="govuk-visually-hidden"> design board</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                UR playback
              </dt>
              <dd class="govuk-summary-list__value">
                Playback was delivered in May 2026. Playback deck has links to dicsussion guide and notetaking board.
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/TeacherServices/_layouts/15/Doc.aspx?sourcedoc=%7BFEA28831-619D-4BF1-B388-C39791D1DE6A%7D&file=SEND%20and%20Inclusion%20TTE%20Alpha%20R1%20findings%20-%20TTE%20Digital.pptx&action=edit&mobileredirect=true">View<span class="govuk-visually-hidden"> playback</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Notes
              </dt>
              <dd class="govuk-summary-list__value">
                xx
              </dd>
            </div>
          </dl>
        </div>
      </div>


  <!-- Reception -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">Reception GOV.UK guidance pages</h2>
      <p>In this round we tested the full reception registration journey, including guidance pages.</p>
      <div class="govuk-body">
        <p>Pages within the collection:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li><a href="gov-uk-guidance/professional-development">Professional development </a></li>
          <li><a href="gov-uk-guidance/guidance-tte">TTE guidance </a></li>
          <li><a href="gov-uk-guidance/reception">Excellence in reception teaching course </a></li>
        </ol>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--green">Complete</strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Design board
              </dt>
              <dd class="govuk-summary-list__value">
                Shows the full registration journey that went live.
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="https://lucid.app/lucidspark/4c0ea0ec-11ad-4071-8d0f-d7c66feebde4/edit?view_items=i_~a8pScm4X8&page=0_0&invitationId=inv_c9cbe88d-be9e-41c5-9dac-75ac694e74d5">View<span class="govuk-visually-hidden"> design board</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                UR playback
              </dt>
              <dd class="govuk-summary-list__value">
                Playback was delivered in February 2026. Playback deck has links to dicsussion guide and notetaking board.
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/TeacherServices/_layouts/15/Doc.aspx?sourcedoc=%7B0A4C7D53-BBEF-4081-946E-BC4BA5DFC0E0%7D&file=TTE%20Reception%20course%20-Usability%20testing%20-Jan.%20Feb%2026.pptx&action=edit&mobileredirect=true">View<span class="govuk-visually-hidden"> playback</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Notes
              </dt>
              <dd class="govuk-summary-list__value">
                The reception registration service and guidance pages went live in June 2026. The guidance pages that went live differed from the version that was tested and is shown here.
              </dd>
            </div>
          </dl>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
