{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

  


  {% set htmlClasses ="govuk-template--rebranded" %}


  {% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}



  {% block pageTitle %}
    {{ serviceName }} – GOV.UK
  {% endblock %}

  {% set serviceURL %}
    {% if signedIn == 'true' %}
      header-link
      {% else %}
        start-id
    {% endif %}
  {% endset %}

  {% block header %}



  






    <header class="govuk-header" data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container">
          <div class="govuk-header__logo">
            <a href="#" class="govuk-header__link govuk-header__link--homepage">
                <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
            </a>
          </div> 
      </div>
    </header>

          <section aria-label="Service information" class="govuk-service-navigation"
            data-module="govuk-service-navigation">
            <div class="govuk-width-container">
              <div class="govuk-service-navigation__container">
                <span class="govuk-service-navigation__service-name">
                  <a href="#" class="govuk-service-navigation__link">
                    Manage NPQs
                  </a>
                  </span>
                  
                  
                </nav>
                <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                  <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
                    Menu
                  </button>
                  <ul class="govuk-service-navigation__list" id="navigation">
                    <li class="govuk-service-navigation__item  "> <!-- govuk-service-navigation__item--active -->
                      <a class="govuk-service-navigation__link" href="/admin-v3/dashboard" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Dashboard</strong>
                    </li>
                    <li class="govuk-service-navigation__item ">
                      <a class="govuk-service-navigation__link" href="/admin-v3/applications" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Applications</strong>
                      </a>
                    </li>
                      <li class="govuk-service-navigation__item ">
                      <a class="govuk-service-navigation__link" href="/admin-v3/cohorts" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Cohorts</strong>
                      </a>
                    </li>
                    <li class="govuk-service-navigation__item">
                      <a class="govuk-service-navigation__link" href="/admin-v3/courses">
                        Courses
                      </a>
                    </li>
                    <li class="govuk-service-navigation__item">
                      <a class="govuk-service-navigation__link" href="/admin-v3/users">
                        Users
                      </a>
                    </li>
                    <li class="govuk-service-navigation__item">
                      <a class="govuk-service-navigation__link" href="/admin-v1/finance">
                        Finance
                      </a>
                    </li>
                      <li class="govuk-service-navigation__item ">
                      <a class="govuk-service-navigation__link" href="/admin-v3/workplaces.html" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Workplaces</strong>
                      </a>
                    </li>
                    <li class="govuk-service-navigation__item">
                      <a class="govuk-service-navigation__link" href="/admin-v3/course-providers">
                        Providers
                      </a>
                    </li>
                    <li class="govuk-service-navigation__item">
                      <a class="govuk-service-navigation__link" href="/admin-v3/delivery-partners">
                        Delivery partners
                      </a>
                    </li>
                      <li class="govuk-service-navigation__item ">
                      <a class="govuk-service-navigation__link" href="/admin-v3/Bulk-changes-nav" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Bulk changes</strong>
                      </a>
                    </li>
                      <li class="govuk-service-navigation__item ">
                      <a class="govuk-service-navigation__link" href="/admin-v3/Registration-closed-nav" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Registration closed</strong>
                      </a>
                    </li>
                      <li class="govuk-service-navigation__item ">
                      <a class="govuk-service-navigation__link" href="/admin-v3/settings#1" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Course start date</strong>
                      </a>
                    </li>
                    </li>
                      <li class="govuk-service-navigation__item ">
                      <a class="govuk-service-navigation__link" href="/admin-v3/messages" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Webhook messages</strong>
                      </a>
                    </li>
                    </li>
                      <li class="govuk-service-navigation__item ">
                      <a class="govuk-service-navigation__link" href="/admin-v3/flags" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Feature flags</strong>
                      </a>
                    </li>
                    <li class="govuk-service-navigation__item ">
                      <a class="govuk-service-navigation__link" href="/admin-v3/admin-users" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Admins</strong>
                      </a>
                    </li>
                     <li class="govuk-service-navigation__item ">
                      <a class="govuk-service-navigation__link" href="/admin-v3/glossary" aria-current="true">
                        <strong class="govuk-service-navigation__active-fallback">Glossary</strong>
                      </a>
                    </li>
                      
                    <li class="govuk-service-navigation__item">
                      <a class="govuk-service-navigation__link" href="">
                        Sign out
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
        </section>



   <!-- {{ govukHeader({
      homepageUrl: "/index",
      containerClasses: "dfe-width-container header-minus-margin",
      serviceName: "Manage NPQs",
      serviceUrl: "/admin-v3/dashboard",
      navigation: [
        {
          href: "#",
          text: "Sign out"
        } 
      ]
    }) }}

    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      containerClasses: "dfe-width-container",
      items: [
        {
          text: 'Dashboard',
          href: '/dashboard'
        },  
        {
          text: 'Applications',
          href: '/applications'
        },
        {
          text: 'Courses',
          href: '/courses'
        },
        {
          text: 'Users',
          href: '/users'
        },
        {
          text: 'Finance',
          href: '/finance'
        },
        {
          text: 'Workplaces',
          href: '/workplaces'
        },
        {
          text: 'Providers',
          href: '/course-providers'
        },
        {
          text: 'Delivery partners',
          href: '/delivery-partners'
        },
        {
          text: 'Settings',
          href: '/settings'
        }
      ]
    }) }} --> 

    

    <div class="govuk-width-container dfe-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "Prototype"
        },
        html: 'This is a prototype of a new service – <a href=https://forms.office.com/e/hPvnPscP6R>give feedback or report a problem</a>'
      }) }}
    </div>
  {% endblock %}

  {% set containerClasses = "dfe-width-container" %}

  {% block footer %}
    {{ govukFooter({
      containerClasses: "dfe-width-container",
      meta: {
        items: [
          {
            href: "/manage-prototype",
            text: "Manage your prototype"
          },
          {
            href: "/manage-prototype/clear-data",
            text: "Clear data"
          },
          {
            href: "/settings",
            text: "Settings"
          }
        ]
      }
    }) }}
    {{ data | log }}
  {% endblock %}

  {% block scripts %}
    {{ super() }}
    <script src="/node_modules/dfe-frontend/dist/dfefrontend.min.js"></script>
  {% endblock %}