  {% extends "govuk-prototype-kit/layouts/unbranded.html" %}

  {% extends "service-header/layouts/service-header.html" %}
  {% from "service-header/service-header.njk" import govukOneLoginServiceHeader %}

  {% block headIcons %}
    <link rel="icon" sizes="48x48" href="/public/images/favicon.ico" type="image/x-icon">
  {% endblock %}

  {% block pageTitle %}
    Cedar trust – National Professional Courses
  {% endblock %}

  {% block bodyStart %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  {% endblock %}

  {% block header %}
    <header class="rebranded-cross-service-header provider-header" data-module="one-login-header">
      <div class="rebranded-one-login-header toggle-enabled" data-one-login-header-nav="">
        <div class="rebranded-one-login-header__container govuk-width-container">
          <div class="rebranded-one-login-header__logo">
            <a href="/v1-SEND/provider-site/course-details" class="rebranded-one-login-header__link rebranded-one-login-header__link--homepage">Cedar trust</a>
          </div>
          <button type="button" aria-controls="one-login-header__nav" aria-label="Show GOV.UK One Login menu" data-open-class="rebranded-cross-service-header__toggle--open" data-label-for-show="Show GOV.UK One Login menu" data-label-for-hide="Hide GOV.UK One Login menu" aria-expanded="false" class="rebranded-cross-service-header__toggle js-x-header-toggle">
            <span class="rebranded-cross-service-header__toggle-content-wrapper">
              <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="15" height="30" viewBox="150 150 250 250" fill="currentcolor" class="rebranded-cross-service-header__logo " aria-hidden="true">
                <path d="M300.002 312.261C249.445 312.261 208.346 271.165 208.346 220.608C208.346 170.051 249.445 128.954 300.002 128.954C350.559 128.954 391.655 170.051 391.655 220.608C391.655 271.165 350.559 312.261 300.002 312.261ZM300.002 170.892C272.673 170.892 250.389 193.175 250.389 220.504C250.389 247.83 272.673 270.113 300.002 270.113C327.33 270.113 349.611 247.83 349.611 220.504C349.611 193.175 327.33 170.892 300.002 170.892Z"></path>
                <path d="M221.275 471.046H179.231V365.202H420.769V407.246H221.275V471.046Z"></path>
              </svg>
              <span class="rebranded-cross-service-header__toggle-content">One Login</span>
            </span>
          </button>
          <nav aria-label="GOV.UK One Login" class="rebranded-one-login-header__nav" data-open-class="rebranded-one-login-header__nav--open" id="one-login-header__nav">
            <ul class="rebranded-one-login-header__nav__list">
              <li class="rebranded-one-login-header__nav__list-item">
                <a class="rebranded-one-login-header__nav__link" href="/v1-SEND/provider-site/summary-page">
                  <span class="rebranded-one-login-header__nav__text">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="15" height="30" viewBox="150 150 250 250" fill="currentcolor" class="rebranded-cross-service-header__logo rebranded-cross-service-header__logo--nav" aria-hidden="true">
                      <path d="M300.002 312.261C249.445 312.261 208.346 271.165 208.346 220.608C208.346 170.051 249.445 128.954 300.002 128.954C350.559 128.954 391.655 170.051 391.655 220.608C391.655 271.165 350.559 312.261 300.002 312.261ZM300.002 170.892C272.673 170.892 250.389 193.175 250.389 220.504C250.389 247.83 272.673 270.113 300.002 270.113C327.33 270.113 349.611 247.83 349.611 220.504C349.611 193.175 327.33 170.892 300.002 170.892Z"></path>
                      <path d="M221.275 471.046H179.231V365.202H420.769V407.246H221.275V471.046Z"></path>
                    </svg>
                    Account
                  </span>
                </a>
              </li>
              <li class="rebranded-one-login-header__nav__list-item">
                <a class="rebranded-one-login-header__nav__link" href="/v1-SEND/provider-site/log-in.html">
                  <span class="rebranded-one-login-header__nav__text rebranded-one-login-header__nav__text--sign-out">Sign out</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  {% endblock %}
  
  {% block footer %}
    <footer class="govuk-footer provider-footer">
      <div class="govuk-width-container">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <h2 class="govuk-visually-hidden">Support links</h2>
            <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="/manage-prototype">
                  Manage your prototype
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="/manage-prototype/clear-data">
                  Clear data
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="/settings">
                  Settings
                </a>
              </li>
            </ul>
            <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
              <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
            </svg>
            <span class="govuk-footer__licence-description">
              All content is available under the
              <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
            </span>
          </div>
        </div>
      </div>
    </footer>
    {{ data | log }}
  {% endblock %}