{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}
  {% set govukRebrand = true %}

  {% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
  {% extends "service-header/layouts/service-header.html" %}
  {% from "service-header/service-header.njk" import govukOneLoginServiceHeader %}

  {% block pageTitle %}
    {{ serviceName }} – GOV.UK
  {% endblock %}

  {% set serviceURL %}
    {% if signedIn == 'true' %}
      header-link
      {% else %}
        start-id
    {% endif %}
  {% endset %}

  {% block header %}
    {% if signedIn == 'true' %}
      {{ govukOneLoginServiceHeader({
        signOutLink: "#",
        oneLoginLink: "#",
        serviceNavigationParams: { 
          navigation: [
          {
            href: "start-page", 
            text: "Register for a NPD course"
          },
          {
            href: "route-account", 
            text: "NPD account"
          }], 
          serviceName: serviceName 
        }
      }) }}
    {% else %}
      {{ govukHeader({
        homepageUrl: "start-page"
      }) }}
    {% endif %}

    <div class="govuk-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "Prototype"
        },
        html: 'This is a prototype of a new service – <a href=https://forms.office.com/e/hPvnPscP6R>give feedback or report a problem</a>'
      }) }}
    </div>
  {% endblock %}
  
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/manage-prototype",
            text: "Manage your prototype"
          },
          {
            href: "/manage-prototype/clear-data",
            text: "Clear data"
          },
          {
            href: "/settings",
            text: "Settings"
          }
        ]
      }
    }) }}
    {{ data | log }}
  {% endblock %}