{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Strategic design testing
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">NPQ testing</h1>
      <h2 class="govuk-heading-m">Moment of choice</h2>
      <h3 class="govuk-heading-s">Scenario: skills gap in SEND</h3>
      <p><a href="strat-des-NPQ/npq-choice/find-courses-send">Order 1</a></p>
      <p><a href="strat-des-NPQ/npq-choice/find-courses-send-2">Order 2</a></p>
      <p><a href="strat-des-NPQ/npq-choice/find-courses-send-3">Order 3</a></p>
      <h3 class="govuk-heading-s">Scenario: career movement to deputy head</h3>
      <p><a href="strat-des-NPQ/npq-choice/find-courses-career">Order 1</a></p>
      <p><a href="strat-des-NPQ/npq-choice/find-courses-career-2">Order 2</a></p>
      <p><a href="strat-des-NPQ/npq-choice/find-courses-career-3">Order 3</a></p>
      <h2 class="govuk-heading-m">Building the course</h2>
      <p><a href="strat-des-NPQ/build-an-npq/mandatory">Scenario: mandatory with options</a></p>
    </div>
  </div>
{% endblock %}
