
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK One Login
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <img src="/public/images/one-login/verify-id/app-photo-id.png" alt="">
        <div>
          {{ govukButton({
            text: "Go to next page",
            href: "app-photo-taken",
            classes: "govuk-!-margin-top-8"
          }) }}
        </div>
      </div>
    </div>

    {% include '../../includes/skip-onelogin.html' %}
    
{% endblock %}