{% extends "layout-govuk.html" %}

{% block pageTitle %}
  Find training for experienced teachers and education leaders
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container max-960 ">
    {{ govukBreadcrumbs({
      classes: "max-960",
      items: [
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Home</p>',
          href: "#"
        },
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Education, training and skills</p>',
          href: "#"
        },
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Teaching and leadership</p>',
          href: "#"
        },
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Teacher training and professional development</p>',
          href: "#"
        }
      ]
    }) }}
  </div>
{% endblock %}

{% block content %}
<div class="govuk-width-container max-960">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color:#505a5f; padding-bottom: 1px">Collection</p>
      <h1 class="govuk-heading-xl" style="padding-top: 1px">Find Department for Education (DfE) funded training for experienced teachers and leaders </h1>
      <p class="govuk-body-l">This training helps experienced teachers and leaders working in early years, schools and further education (FE) to develop their teaching practice, leadership skills and specialist knowledge.</p>
      <hr>
      <p class="govuk-body-s">From: <a href=""><strong>Department for Education</strong></a></p>
      <p class="govuk-body-s">Published: 3 March 2027</p>
      <p class="govuk-body govuk-!-margin-top-8"><a href=""><strong>Get emails about this topic</strong></a></p>
    </div>
  </div>

  <aside class="app-mainstream-guide-contents-list govuk-!-margin-top-4" role="complementary">
    <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
      <h2 class="app-contents-list__title">
        Contents
      </h2>
      <ol class="app-contents-list__list">
        <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="#npd">
            National Professional Development (NPD) 
          </a>
        </li>
        <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="#npqs">
            National Professional Qualification (NPQ) specialist
          </a>
        </li>
        <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="#npql">
            National Professional Qualification (NPQ) leadership
          </a>
        </li>
        <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="#npqa">
            National Professional Qualification Advanced (NPQA) 
          </a>
        </li>
        <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="#ehco">
            Early headship coaching offer 
          </a>
        </li>
      </ol>
    </nav>
  </aside>

  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <p>These training courses are for people who have completed their induction. The courses are: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>designed by DfE and evidence based </li>
          <li>independently verified by the Education Endowment Foundation (EEF) </li>
          <li>a medium to long-term commitment (minimum 15 hours) </li>
          <li>led by a training facilitator (online, in-person and both) </li>
        </ul>
      <div class="govuk-!-margin-top-8" id="npd">
        <h2 class="govuk-heading-m">National Professional Development (NPD) </h2>
        <p>Short courses designed to help experienced teachers develop specialist knowledge and strengthen classroom practice. Courses typically take about 6 months and are delivered mostly through remote self-study, with some optional in-person sessions.  </p>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="SEND-teachers">{{ data['send-course-name'] }} NPD</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">15 June 2026 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>

        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="reception">Excellence in reception teaching NPD</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">1 July 2027 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>
      </div>
    
      <div class="govuk-!-margin-top-8" id="npqs">
        <h2 class="govuk-heading-m">National Professional Qualification (NPQ) specialist</h2>
        <p>Specialist NPQs help you develop your classroom teaching or specialist expertise. Courses typically take around 18 to 22 months and are delivered through a combination of remote self-study and mandatory in-person sessions. </p>

        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Leading teacher development NPQ</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">16 December 2024 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Leading teaching NPQ</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">16 December 2024 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Leading behaviour and culture NPQ</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">16 December 2024 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Leading literacy NPQ</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">16 December 2024 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Leading primary mathematics NPQ</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">16 December 2024 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>
        </div>

        <div class="govuk-!-margin-top-8" id="npql">
        <h2 class="govuk-heading-m">National Professional Qualification (NPQ) leadership</h2>
        <p>Leadership NPQs are designed to help teachers and leaders develop the knowledge and skills to lead effectively in schools and other education settings. Courses typically take between 12 and 18 months and combine remote self-study with mandatory in-person sessions. </p>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Special educational needs co-ordinator's (SENCO) NPQ</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">16 December 2024 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>
        
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Senior leadership NPQ</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">16 December 2024 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>

        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Headship NPQ</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">18 May 2026 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>

        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Executive leadership NPQ</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">16 December 2024 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>

        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Early years leadership NPQ</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">1 July 2027 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>
      </div>

      <div class="govuk-!-margin-top-8" id="npqa">
        <h2 class="govuk-heading-m">National Professional Qualification Advanced (NPQA) </h2>
        <p>Specialist courses for experienced leaders looking to develop expertise in specific areas of leadership. Courses typically take around 12 months and are delivered mostly through remote self-study with some optional in-person sessions.  </p>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="SEND-leaders">{{ data['send-leader-course-name'] }} NPQA</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">1 July 2027 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>
      </div>

      <div class="govuk-!-margin-top-8" id="ehco">
        <h2 class="govuk-heading-m">Early headship coaching offer </h2>
        <p>If you're in your first 5 years of headship, you may be eligible for the Early headship coaching offer.  This support programme lasts 12 months and provides structured, unassessed coaching and networking. It can be completed alongside, or shortly after, the NPQ for Headship. </p>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Early headship coaching offer</a></strong></h3>
          <p class="govuk-body-s grey govuk-!-margin-top-2">16 December 2024 &nbsp;&nbsp;&nbsp;Guidance</p>
          <hr>
        </div>
      </div>
      
      
      
      
      

        

        
      </div>
    </div>
  </div>
</div>
{% endblock %}
