{% extends "layout-govuk.html" %}

{% block pageTitle %}
  Find training for experienced teachers and education leaders
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container max-960 ">
    {{ govukBreadcrumbs({
      classes: "max-960",
      items: [
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Home</p>',
          href: "#"
        },
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Education, training and skills</p>',
          href: "#"
        },
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Teaching and leadership</p>',
          href: "#"
        },
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Teacher training and professional development</p>',
          href: "#"
        }
      ]
    }) }}
  </div>
{% endblock %}

{% block content %}
<div class="govuk-width-container max-960">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color:#505a5f; padding-bottom: 1px">Collection</p>
      <h1 class="govuk-heading-xl" style="padding-top: 1px">Find Department for Education (DfE) funded training for experienced teachers and leaders </h1>
      <p class="govuk-body-l">This training helps experienced teachers and leaders working in early years, schools and further education (FE) to develop their teaching practice, leadership skills and specialist knowledge.</p>
      <hr>
      <p class="govuk-body-s">From: <a href=""><strong>Department for Education</strong></a></p>
      <p class="govuk-body-s">Published: 3 March 2027</p>
      <p class="govuk-body govuk-!-margin-top-8"><a href=""><strong>Get emails about this topic</strong></a></p>
    </div>
  </div>

  <aside class="app-mainstream-guide-contents-list govuk-!-margin-top-4" role="complementary">
    <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
      <h2 class="app-contents-list__title">
        Contents
      </h2>
      <ol class="app-contents-list__list">
        <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="#npd">
            National Professional Development (NPD) 
          </a>
        </li>
        <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="#npq">
            National Professional Qualification (NPQ) 
          </a>
        </li>
        <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="#npqa">
            National Professional Qualification Advanced (NPQA) 
          </a>
        </li>
        <li class="govuk-!-margin-bottom-0 app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="#ehco">
            Early headship coaching offer 
          </a>
        </li>
      </ol>
    </nav>
  </aside>

  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <p>These training courses are for people who have completed their induction. The courses are: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>designed by DfE and evidence based </li>
          <li>independently verified by the Education Endowment Foundation (EEF) </li>
          <li>a medium to long-term commitment (minimum 15 hours) </li>
          <li>led by a training facilitator (online, in-person and both) </li>
        </ul>
      <div class="govuk-!-margin-top-8" id="npd">
        <h2 class="govuk-heading-m">National Professional Development (NPD) </h2>
        <p>Short courses designed to help experienced teachers develop specialist knowledge and strengthen classroom practice. </p>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="SEND-teachers">{{ data['send-course-name'] }} NPD</a></strong></h3>
          <p>Develop your inclusive teaching practices and gain actionable skills to ensure the best learning outcomes for all pupils.</p>
          <hr>
        </div>

        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="reception">Excellence in reception teaching NPD</a></strong></h3>
          <p>To help experienced reception reachers deepen their understanding of the key areas of child development. </p>
          <hr>
        </div>
      </div>
    
      <div class="govuk-!-margin-top-8" id="npq">
        <h2 class="govuk-heading-m">National Professional Qualification (NPQ) </h2>
        <p>Nationally recognised qualifications for teachers and leaders looking to develop leadership expertise. </p>
        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">Specialist NPQs</h3>
        <p>kfdjhs</p>

        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Leading teacher development NPQ</a></strong></h3>
          <p>Help teachers in your setting develop their skills.</p>
          <hr>
        </div>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Leading teaching NPQ</a></strong></h3>
          <p>Lead the teaching and learning of a subject, year group or phase.</p>
          <hr>
        </div>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Leading behaviour and culture NPQ</a></strong></h3>
          <p>Promote a culture of good behaviour and high expectations.</p>
          <hr>
        </div>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Leading literacy NPQ</a></strong></h3>
          <p>Promote literacy across a whole educational setting, year group, key stage or phase.</p>
          <hr>
        </div>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Leading primary mathematics NPQ</a></strong></h3>
          <p>Use mastery approaches to lead maths teaching in your school.</p>
          <hr>
        </div>
        
        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">Leadership NPQs</h3>
        <p>kfdjhs</p>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Special educational needs co-ordinator's (SENCO) NPQ</a></strong></h3>
          <p>Perform a SENCO role effectively and set the strategic direction of special educational needs policy in an educational setting.</p>
          <hr>
        </div>
        
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Senior leadership NPQ</a></strong></h3>
          <p>Develop leadership expertise to improve outcomes for teachers and pupils.</p>
          <hr>
        </div>

        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Headship NPQ</a></strong></h3>
          <p>Become an expert school leader and outstanding headteacher.</p>
          <hr>
        </div>

        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Executive leadership NPQ</a></strong></h3>
          <p>Develop the expertise to run large educational organisations and lead change and improvement.</p>
          <hr>
        </div>

        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Early years leadership NPQ</a></strong></h3>
          <p>Manage your staff and organisation to provide high-quality early years education and care.</p>
          <hr>
        </div>
      </div>

      <div class="govuk-!-margin-top-8" id="npqa">
        <h2 class="govuk-heading-m">National Professional Qualification Advanced (NPQA) </h2>
        <p>Specialist courses for experienced teachers and leaders looking to develop expertise in specific areas. </p>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="SEND-leaders">{{ data['send-leader-course-name'] }} NPQA</a></strong></h3>
          <p>Develop your inclusive teaching practices and gain actionable skills to ensure the best learning outcomes for all pupils.</p>
          <hr>
        </div>
      </div>

      <div class="govuk-!-margin-top-8" id="ehco">
        <h2 class="govuk-heading-m">Early headship coaching offer </h2>
        <p></p>
        <div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><strong><a href="">Early headship coaching offer</a></strong></h3>
          <p>If you’re in your first 5 years of headship, you may also be eligible for the early headship coaching offer. This offer provides unassessed structured support, coaching and networking opportunities.</p>
          <hr>
        </div>
      </div>
      
      
      
      
      

        

        
      </div>
    </div>
  </div>
</div>
{% endblock %}
