{% extends "layout-govuk.html" %}

{% block pageTitle %}
  SEND and inclusion for teachers - Find training for experienced teachers and education leaders
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container max-960 ">
    {{ govukBreadcrumbs({
      classes: "max-960",
      items: [
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Home</p>',
          href: "#"
        },
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Education, training and skills</p>',
          href: "#"
        },
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Teaching and leadership</p>',
          href: "#"
        },
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Teacher training and professional development</p>',
          href: "#"
        },
        {
          html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-4">Find training</p>',
          href: "find-professional-development"
        }
      ]
    }) }}
  </div>
{% endblock %}

{% block content %}
<div class="govuk-width-container max-960">
 <main class="govuk-main-wrapper">
 <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color:#505a5f; padding-bottom: 1px">Guidance</p>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0" style="padding-top: 1px">
        {{ data['send-course-name'] }}
      </h1>
      <h1 class="govuk-heading-l" style="padding-top: 1px">
        {{ data['tte-programme-name-with-acronym'] }} course
      </h1>

      <p class="govuk-body-l">A course to help experienced teachers deepen their understanding of effective practice related to inclusive learning. Using the latest research and enhanced strategies to support learners with special educational needs and disabilities (SEND) relevant to the current classroom.</p>
      
      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#who">
                Who this course is for
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              About the course
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#content">
                What you will learn
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#providers">
                Providers
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#structure">
                How the course is delivered
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#funding">
                Funding
              </a>
            </li>
          </ol>
        </nav>
      </aside>

      <h2 class="govuk-heading-m govuk-!-padding-top-8" id="who">Who this course is for</h2>

      <p>This course is for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>teachers who want to improve their knowledge and skills in supporting and meeting needs in their setting </li>
      </ul>

      <h2 class="govuk-heading-m" id="overview">About the course</h2>

      <p>This course is from the <a href="guidance-tte">{{ data['tte-programme-name-with-acronym'] }}</a> suite of courses.</p>

      <p>This course will help you to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>develop your understanding of high-quality teaching practices and inclusive approaches to supporting learning</li>
        <li>understand strategies and approaches to support learning outcomes for children and young people who may have SEND </li>
      </ul>
      
      <h2 class="govuk-heading-m" id="content">What you will learn</h2>

      <h3 class="govuk-heading-s">Inclusive practice</h3>
      <p>You'll learn how high-quality education can have a positive impact on outcomes through:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>understanding how a culture of inclusion and belonging enables good outcomes </li>
        <li>strengthened awareness of high-quality effective teaching</li>
        <li>inclusive routines and environments</li>
      </ul>

      <h3 class="govuk-heading-s">Understanding and supporting children and young people with SEND</h3>
      <p>You'll learn how to understand and support differences in learning, including through: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>identifying needs and barriers to learning</li>
        <li>understanding differences in learning </li>
        <li>working with parents and families </li>
      </ul>

      <h3 class="govuk-heading-s">Additional support </h3>
      <p>You'll learn how to utilise different approaches to supporting learning barriers, including through: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>effective targeted interventions</li>
        <li>working with teaching assistants and support staff</li>
        <li>enabling positive transitions for pupils and learners </li>
      </ul>
      
      <h2 class="govuk-heading-m" id="providers">Providers</h2>
      <p>You can train for this {{ data['tte-programme-name-acronym'] }} course with one of the following providers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">Acorn training</a></li>
        <li><a href="">Cedar trust</a></li>
        <li><a href="">Evergreen learning</a></li>
        <li><a href="">Maple education</a></li>
        <li><a href="">Redwood training</a></li>
        <li><a href="">Willow network</a></li>
      </ul>
      <p>To help you find a provider that suits your needs:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">use our provider comparison table</a></li>
        <li><a href="">read a short description</a></li>
        <li><a href="">answer a few questions</a></li>
        <li>Or, visit their websites</li>
      </ul>

      <h2 class="govuk-heading-m" id="structure">How the course is delivered</h2>
      <p>The course includes 9 topics, outlined in the <a href="">course framework</a>. Providers use this framework to design their course.</p>
      <p>If you can, you should do this during work hours in career development time.</p>
      <p>This course will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>take approximately 2 school terms to complete (minimum 20 hours)</li>
        <li>be a mix of self-study and live online training  </li>
        <li>start in October 2027 or early 2028 (January or February), depending on the training provider</li>
      </ul>

      <h2 class="govuk-heading-m" id="funding">Funding</h2>
      <p>Funded places are available for most state-funded settings, including academy trusts.</p>
      <p>Examples of places that are not eligible for funding include private schools and schools outside of England.</p>
      <p>If you are self-funding, you still need to register with the DfE.</p>
      <p><strong>When you register with the DfE, we will tell you if you are eligible for funding. </strong></p>

      {{ govukButton({
          text: "Check funding eligibility and register",
          href: "../start-id",
          isStartButton: true
        }) }}
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items govuk-!-margin-top-3" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related courses
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="SEND-leaders.html">
                SEND and inclusion for leaders NPQA
              </a>
            </li>
            <li>
              <a href="">
                SENCO NPQ
              </a>
            </li>
            <li>
              <a href="#">
                Leading behaviour and culture NPQ
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
    </div>
  </div>
  </main>
</div>

   
{% endblock %}
